{% capture title %}{{ datasource.name | escape }} &middot; {% t 'Data sources' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block page-header %}
    <span class="h3">{% t 'Edit datasource' | escape %}</span>
    <div class="pull-right">
        <button class="btn btn-success" form="datasource-form">{% t 'Save datasource' | escape %}</button>
        <a href="data-sources" class="btn btn-default">{% t 'Cancel' | escape %}</a>
    </div>
{% endblock %}

{% block main %}
    {% render 'partials/datasource/form', data: formData, csrf: csrf %}
{% endblock %}
