{% capture title %}{% t 'Data sources' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/introjs'  %}

    <script type="module" src="js/datasource/list.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">
        {% t 'Data sources' | escape %}
        <a id="showIntroButton" class="btn btn-link"><i class="fa fa-question-circle-o"></i></a>
    </span>

    <div class="pull-right">
        <a id="newDataSourceBtn" href="data-sources/new" class="btn btn-success">{% t 'New data source' | escape %}</a>
    </div>
{% endblock %}

{% block main %}
    <div id="datasource-list-table-wrapper"></div>
{% endblock %}
