{% capture title %}{% t 'New datasource' | escape %} &middot; {% t 'Data sources' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/notify' %}
    <script defer src="js/api.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">{% t 'New datasource' | escape %}</span>
    <div class="pull-right">
        <button class="btn btn-success" form="datasource-form">{% t 'Create datasource' | escape %}</button>
        <a href="data-sources" class="btn btn-default">{% t 'Cancel' | escape %}</a>
    </div>
{% endblock %}

{% block main %}
    {% render 'partials/datasource/form', data: formData, csrf: csrf %}
{% endblock %}
