
<div class="list-group" ng-controller="listCtrl" ng-init="init()">

    <div class="list-group-item list-head row">
        <span class="col-md-10">

            <span ng-repeat="field in nav.infoFields" ng-class="field.widthClass">
                <h4>
                    <span>{{field.label}}</span>
                    <a class="list-button" ng-class="{ 'btn-selected' : (nav.sort === field.name) }" ng-click="clickOnSort(field)">
                        <i ng-hide="nav.sortTypes[field.name] === -1" class="fa fa-angle-down" ></i>
                        <i ng-show="nav.sortTypes[field.name] === -1" class="fa fa-angle-up" ></i>
                    </a>
                </h4>
                <br>
                <input ng-if="!field.date" type="text" ng-model="nav.filters[field.name]" 
                ng-keydown="filterKeydown($event)" ng-blur="filterBlur($event)">
            </span>

        </span>
    </div>

    <div id="reportListItem" class="list-group-item row" ng-repeat="item in nav.items">
        <span class="col-md-10">
        
            <a  ng-click="nav.clickItem(item)" uib-tooltip="{{nav.tooltips.itemClick}}" tooltip-placement="bottom">

                <span ng-repeat="field in nav.infoFields" ng-class="field.widthClass">
                    <h5 ng-if="!field.date">{{item[field.name]}}</h5>
                    <h6 ng-if="field.date">{{item[field.name] | date}}</h6>
                </span>

            </a>
            <span ng-if="layerButtons">
                <a id="layerListItemStatus" class="badge pull-right"  ng-click="toggleActive(item)"
                ng-class="{'badge-success': item.status == 'active', 'badge-danger': item.status == 'Not active'}" 
                uib-tooltip="Click here to change the status of the layer" tooltip-placement="left">{{item.status}}</a>
            </span>
        </span>

        <span  class="col-md-2">
            <span ng-if="nav.deleteButtons">
                <a class="pull-right list-button btn-delete" ng-click="viewDeleteModal(item)" 
                uib-tooltip="{{nav.tooltips.delete}}" tooltip-placement="bottom">
                <i class="fa fa-trash-o "  ></i>
                </a>
            </span>
            <span ng-if="nav.editButtons">

            

                <a class="pull-right list-button btn-duplicate" ng-click="viewDuplicateModal(item)" 
                uib-tooltip="{{nav.tooltips.duplicate}}" tooltip-placement="bottom">
                    <i class="fa fa-copy" ></i>
                </a>

                <a class="pull-right list-button btn-edit" href="{{getEditLink(item)}}"  
                uib-tooltip="{{nav.tooltips.edit}}" tooltip-placement="bottom">
                <i class="fa fa-pencil" ></i>
                </a>

                <span ng-if="item.isPublic" class="badge badge-success pull-right published-tag">published</span>    
            </span>
        </span>

        

    </div>

    <app-pager current-page="nav.currentPage" total-pages="nav.pages" on-page-change="goToPage(page)"></app-pager>
</div>
