<app-theme-link theme="vm.dashboard.theme"></app-theme-link>

<div class="page-header hidden-print">
    <a href="./" class="btn-home">
        <i class="fa fa-home"></i>
    </a>
    <span class="h3" ng-bind="vm.dashboard.dashboardName"></span>

    <div class="pull-right">
        <div class="btn-group">
            <button ng-class="{ disabled : vm.exportIsLoading }" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span translate>Export</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-class="{ disabled: !vm.exportAsPNGAvailable }">
                    <a href="" ng-click="vm.exportAsPNGAvailable && vm.downloadAsPNG()">As PNG</a>
                </li>
                <li ng-class="{ disabled: !vm.exportAsPDFAvailable }">
                    <a href="" ng-click="vm.exportAsPDFAvailable && vm.downloadAsPDF()">As PDF</a>
                </li>
            </ul>
        </div>
        <a ng-click="vm.goBack();" class="btn btn-default" uib-tooltip="{{ 'Click here to cancel and backtrack' | translate }}" tooltip-placement="bottom" translate>Cancel</a>
        <a ng-if="vm.dashboard && ((vm.dashboard.owner == user._id) && vm.creationAuthorised || vm.isAdmin)" ng-href="dashboards/edit/{{vm.dashboard._id}}" class="btn btn-success" style="margin-right: 5px;" translate>Edit Dashboard</a>
    </div>
</div>

<div class="container-fluid branded-border-panel"></div>

<div class="container-fluid dashboard-container" id="pageViewer" style="top: 42px; bottom: 0; position: absolute; overflow-y: auto; width: 100%; padding-top: 10px;"></div>
