{% capture title %}{% t 'Dashboards' %}{% endcapture %}
{% layout 'layout/layout' title: title %}

{% block head %}
    {% render 'partials/notify' %}
    {% render 'partials/introjs'  %}
    <script defer src="s/angular/angular.min.js"></script>
    <script defer src="s/angular-sanitize/angular-sanitize.min.js"></script>
    <script defer src="s/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="s/angular-ui-tree/angular-ui-tree.min.css">
    <script defer src="s/angular-ui-tree/angular-ui-tree.min.js"></script>
    <script defer src="s/moment/moment-with-locales.min.js"></script>
    <script defer src="s/numeral/numeral.min.js"></script>
    <script defer src="s/clipboard/clipboard.min.js"></script>
    <script defer src="s/ngclipboard/ngclipboard.min.js"></script>
    {% render 'partials/ng/core' %}
    {% render 'partials/ng/ui-bootstrap' %}
    {% render 'partials/ng/table' %}
    {% render 'partials/ng/share' %}
    {% render 'partials/ng/dashboard-list' %}
{% endblock %}

{% block content %}
    <div class="container-fluid root-container">
        <div class="row">
            <div class="col-md-3">
                {% render 'sidebar', user: user %}
            </div>

            <div class="main col-md-9" ng-app="app.dashboard-list">
                <app-dashboard-list></app-dashboard-list>
            </div>
        </div>
    </div>
{% endblock %}
