<html>
<body>
<h2>Dear <%= firstName %></h2>
        <br/>

These are your credentials to enter widestage
<br/>
        <ul>
            <li>
                user name: <strong><%= userName %></strong>
            </li>
            <li>
                password: <strong><%= userPassword %></strong>
            </li>
        </ul>
<br/>

<div>
    Best
<br/>
    The widestage team
</div>
</body>
</html>
