<div class="row">
    <div class="col-md-12">

        <!--<h3 ng-bind="getTranslation('Comments')"></h3>-->

        <div class="dialogs">

            <div class="itemdiv dialogdiv" ng-repeat="comment in comments">

                <div class="user" ng-class="{'user-self': comment.self}">
                    <!--<img ng-src="{{comment.commentFromImage}}">-->
                    <nd-employee-image user-id="comment.commentFromID" width="40" height="40" rounded="true"></nd-employee-image>
                </div>

                <div class="body" ng-class="{'body-self': comment.self}">
                    <div class="time">
                        <span class="" ng-bind="comment.commentDate | date:'medium'"></span>
                    </div>

                    <div class="name">
                        <a ng-bind="comment.commentFromName"></a>
                    </div>
                    <div class="text" ng-bind="comment.comment"></div>
                </div>
            </div>

        </div>

        <div class="form-actions">
            <div class="input-group">
                <input placeholder="{{getTranslation('Type your message here ...')}}" ng-enter="addComment()"
                       type="text" class="form-control" name="message" ng-model="inputComment">
																<span class="input-group-btn">
																	<button class="btn btn-sm btn-info no-radius" type="button" ng-click="addComment()">
                                                                        <i class="ace-icon fa fa-share"></i>
                                                                        {{getTranslation('Send')}}
                                                                    </button>
																</span>
            </div>
        </div>

    </div>
</div>