<div class="row nd-funnel">

    <table class="table table-responsive nd-funnel">

        <tbody>

            <tr>

                <td style="border-top: 0px; width: {{100/categories.length}}%;" ng-repeat="category in categories">
                    <h4 ng-bind="category.name"></h4>

                    <ul data-drop="{{(category.editable === false) ? 'false': 'true'}}" jqyoui-droppable="{multiple:true, onDrop:'dropCallback(category.value)'}" ng-model="category.items">

                        <li ng-repeat="item in category.items" ng-model="category.items" data-drag="{{(category.editable === false) ? 'false': 'true'}}" data-jqyoui-options="{revert: 'invalid'}"
                            jqyoui-draggable="{index: {{$index}}, onStart:'startCallback(category.value, item, $index)'}" color="{{category.color}}" ng-init="setFunnelColors()">
                            <img ng-if="item.image" ng-src="{{item.image}}"/>
                            <p ng-bind="item.title"></p>
                            <p><small ng-bind="item.date | date:'medium'"></small></p>
                            <!--<p ng-bind="item.title"></p>-->

                            <a href="{{item.url}}">
                                <p ng-bind-html="item.description"></p>
                            </a>

                            <div class="progress" ng-if="item.progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress}}%;">
                                </div>
                            </div>
                            <div class="arrows visible-md visible-lg hidden-sm hidden-xs">
                                <i ng-show="category.showLeftArrow" class="fa fa-arrow-left" ng-click="moveItem('left', category, item)"></i>
                                <i ng-show="category.showRightArrow" class="fa fa-arrow-right" ng-click="moveItem('right', category, item)"></i>
                            </div>

                            <div class="row mobile-arrows visible-xs visible-sm hidden-md hidden-lg">
                                <div class="col-md-6">
                                    <i ng-show="category.showLeftArrow" class="fa fa-arrow-up" ng-click="moveItem('left', category, item)"></i>
                                </div>
                                <div class="col-md-6">
                                    <i ng-show="category.showRightArrow" class="fa fa-arrow-down" ng-click="moveItem('right', category, item)"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </td>

            </tr>

        </tbody>

    </table>

</div>