<div class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="main col-md-9 about-page">
            <div class="page-header">
                <h3 translate>About</h3>
            </div>

            <p ng-if="vm.version">
                <span translate>Urungi version: {{ vm.version }}</span>
                <span ng-if="vm.gitVersion">(git: {{ vm.gitVersion }})</span>
            </p>

            <h4 translate>What is Urungi</h4>
            <p translate>
                Urungi is a self-service dashboard and reporting tool.
                It has been written with the following ideas in mind:
            </p>
            <ul>
                <li translate>easy to use for end-users</li>
                <li translate>easy to use for reports creators</li>
                <li translate>powerful for power-users</li>
            </ul>

            <p translate>Urungi is a fork of <a href="http://widestage.com">widestage</a></p>

            <h4 translate>What does Urungi mean ?</h4>
            <p translate>Urungi is a Maori word meaning rudder, steering paddle, driver, navigator</p>

            <a href="http://maoridictionary.co.nz/word/8920">http://maoridictionary.co.nz/word/8920</a>

            <h4 translate>License</h4>
            <p translate>Urungi is Open Source, feel free to join us on github, submit issues and pull requests: <a href="https://github.com/biblibre/urungi">https://github.com/biblibre/urungi</a></p>

            <p translate>Urungi is licensed under <a href="https://opensource.org/licenses/GPL-3.0">GPL 3.0</a></p>

            <h4 translate>Authors</h4>
            <ul>
                <li>Hermes Romero (<a href="https://github.com/beevou">https://github.com/beevou</a>) first version of widestage</li>
                <li>Alexander Chumakov (<a href="https://github.com/delfer">https://github.com/delfer</a>)</li>
                <li>BibLibre staff:
                    <ul>
                        <li>Paul Poulain (<a href="https://github.com/PaulPoulain">https://github.com/PaulPoulain</a>), Product Owner</li>
                        <li>Julian Maurice (<a href="https://github.com/jajm">https://github.com/jajm</a>)</li>
                        <li>Claire Hernandez (<a href="https://github.com/clrh">https://github.com/clrh</a>)</li>
                        <li>Loïc Vanbesien (<a href="https://github.com/lvanbesien">https://github.com/lvanbesien</a>), internship in summer 2018</li>
                        <li>Anatole Romon (<a href="https://github.com/akka-vodol">https://github.com/akka-vodol</a>), internship in summer 2018</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
