<div class="container-fluid " style="padding-top: 10px; height:100%;">

    <div class="container-fluid">

        <div id="mainMenu" class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>

        <div class="main col-md-9 about-page">

            <div class="container-fluid branded-border-panel" >
                <h3 class="pull-left">About</h3>
            </div>

            <h2>What is Urungi</h2>
            Unrungi is a self-service dashboard and reporting tool. </br>
            It has been written with the following ideas in mind:
            <ul>
                <li>easy to use for end-users</li>
                <li>easy to use for reports creators</li>
                <li>powerful for power-users</li>
            </ul>

            Urungi is a fork of the Widestage project: <a href="http://widestage.com" >http://widestage.com</a> </br>

            <h2>What does Urungi mean ?</h2>
            Urungi is a Maori word meaning rudder, steering paddle, driver, navigator</br>

            <a href="http://maoridictionary.co.nz/word/8920">http://maoridictionary.co.nz/word/8920</a></br>

            <h2>License</h2>
            Urungi is Open Source, feel free to join us on github, submit issues and pull requests: <a href="https://github.com/biblibre/Urungi">https://github.com/biblibre/Urungi</a></br>

            Urungi is licensed <a href="https://opensource.org/licenses/GPL-3.0">GPL 3.0</a></br>

            Authors:
            <ul>
                <li>Hermes Romero (<a href="https://github.com/beevou">https://github.com/beevou</a>) first version of widestage</li>
                <li>Alexander Chumakov (<a href="https://github.com/delfer">https://github.com/delfer</a>)</li>
                <li>BibLibre staff:
                    <ul>
                    <li>Paul Poulain (<a href="https://github.com/PaulPoulain">https://github.com/PaulPoulain</a>), Product Owner</li>
                    <li>Julian Maurice (<a href="https://github.com/jajm">https://github.com/jajm</a>)</li>
                    <li>Claire Hernandez (<a href="https://github.com/clrh">https://github.com/clrh</a>)</li>
                    <li>Loïc Vanbesien (<a href="https://github.com/lvanbesien">https://github.com/lvanbesien</a>), internship in summer 2018</li>
                    <li>Anatole Romon (<a href="https://github.com/akka-vodol">https://github.com/akka-vodol</a>), internship in summer 2018</li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</div>