<div class="row">
    <div ng-if="getUserContextHelp('homeIndex')" class="col-md-12">
        <div class="alert alert-info">
                <h3>Getting started with widestage?</h3>
                <span>Take our guided tour to familiarize yourself...</span>
                <br/>
                <br/>
                <br/>
                <span style="color:#000;"> Do not show this block again <input type="checkbox" ng-click="setUserContextHelpViewed('homeIndex')"></span>
                <a class="btn btn-white pull-right" ng-click="showIntro()">Start guided tour</a>
        </div>
    </div>
    <a ng-if="!getUserContextHelp('homeIndex')" class="btn btn-info pull-right" ng-click="showIntro()">Guided tour</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="publicArea" class="panel panel-color panel-success">

            <div class="panel-heading">
                <a href="" ng-click="refreshHome()"><i class="fa fa-refresh pull-right"></i></a>
                Public Area
            </div>

            <div class="panel-body" style="">
                <div class="user-objects">
                    <div ui-tree data-nodrop-enabled id="tree-root" >
                        <ol ui-tree-nodes data-nodrop-enabled ng-model="userObjects">
                            <li ng-repeat="node in userObjects" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div id="latestExecutions" class="panel panel-color panel-secondary">
                <div class="panel-heading">
                    Latest executions
                </div>

                <div class="panel-body">
                    <div class="last-executions-objects">
                        <ol>
                            <li ng-repeat="execution in lastExecutions">
                                <div class="last-executed-item">

                                    <a ng-if="execution.type == 'report'" href="/#/reports/{{execution.relationedID}}"><i class="fa fa-bar-chart" style="margin-right: 2px;"></i>{{execution.relationedName}}</a>
                                    <a ng-if="execution.type == 'Dashboard'" href="/#/dashboards/{{execution.relationedID}}"><i class="fa fa-dashboard" style="margin-right: 2px;"></i>{{execution.relationedName}}</a>

                                    <span class="pull-right">{{execution.lastDate}}</span>

                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="mostExecuted" class="panel panel-color panel-secondary">
                <div class="panel-heading">
                    Most executed
                </div>

                <div class="panel-body">
                    <div class="most-executions-objects">
                        <ol>
                            <li ng-repeat="execution in mostExecutions">
                                <div class="most-executed-item">

                                    <a ng-if="execution.type == 'report'" href="/#/reports/{{execution.relationedID}}"><i class="fa fa-bar-chart" style="margin-right: 2px;"></i>{{execution.relationedName}}</a>
                                    <a ng-if="execution.type == 'Dashboard'" href="/#/dashboards/{{execution.relationedID}}"><i class="fa fa-dashboard" style="margin-right: 2px;"></i>{{execution.relationedName}}</a>



                                    <span class="badge pull-right">{{execution.count}}</span>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="nodes_renderer.html">
    <div data-nodrag ui-tree-handle data-nodrop-enabled class="tree-node tree-node-content tree-node-folder" ng-if="((node.grants.executeReports == true || node.grants.executeDashboards == true) && node.nodeType != 'report' && node.nodeType != 'dashboard')  "> <!--&& node.nodes.length > 0 -->
        <span class="fa" ng-class="{'fa-folder': collapsed,'fa-folder-open-o': !collapsed}" ng-click="toggle(this)"></span><span data-nodrag ng-click="toggle(this)" style="padding-left: 5px;">{{node.title}}</span>
    </div>

    <div data-nodrag class="tree-node tree-node-item" ng-if="node.nodeType == 'report'">
        <i class="fa fa-bar-chart"></i><a data-nodrag  href="/#/reports/{{node.id}}">{{node.title}}</a>
    </div>

    <div data-nodrag class="tree-node tree-node-item" ng-if="node.nodeType == 'dashboard'">
        <i class="fa fa-dashboard"></i><a data-nodrag  href="/#/dashboards/{{node.id}}">{{node.title}}</a>
    </div>

    <div data-nodrag class="tree-node tree-node-item" ng-if="node.nodeType == 'page'">
        <i class="fa fa-newspaper-o"></i><a data-nodrag  href="/#/pages/{{node.id}}">{{node.title}}</a>
    </div>

    <ol ng-if="node.nodes" data-nodrag ui-tree-nodes="" data-nodrop-enabled ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li data-nodrag ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

