<div  class="list-group" ng-init="getCounts()">
    <div  class="list-group-item active">
        <a href="/#/users/{{user._id}}/" style="color: #FFFFFF">
            <i class="fa fa-user" style="margin-right: 5px"></i>{{user.userName}}<span></span></a>
            <a href="/#/logout" class="badge">logout <i class="fa fa-sign-out" style="color:#FF0000"></i>
        </a>
    </div>

    <a id="homeMainMenu" href="/#/home" class="list-group-item ">
        <i class="fa fa-home"></i><span translate>&nbsp; Home</span>
    </a>
    <a id="dashboardsMainMenu" ng-if="user.dashboardsCreate || counts.dashBoards > 0" href="/#/dashboards/list" class="list-group-item ">
       <i class="fa fa-dashboard"></i> <span translate> &nbsp;My Dashboards </span> <span class="badge">{{counts.dashBoards}}</span>
    </a>
    <a id="reportsMainMenu" ng-if="user.reportsCreate || counts.reports > 0" href="/#/reports" class="list-group-item">
       <i class="fa fa-bar-chart"></i> <span translate> &nbsp;My Reports</span> <span class="badge">{{counts.reports}}</span>
    </a>
    <a id="exploreMainMenu" ng-if="user.exploreData" href="/#/explore" class="list-group-item">
        <i class="fa fa-sun-o"></i><span translate> &nbsp;Explore</span>
    </a>
    <a id="sharedSpaceMainMenu" ng-show="isWSTADMIN" href="/#/shared-space" class="list-group-item">
        <i class="fa fa-sitemap"></i><span translate>&nbsp; Shared space</span>
    </a>
    <a id="layersMainMenu" ng-show="isWSTADMIN" href="/#/layers" class="list-group-item">
        <i class="fa fa-map-o"></i><span translate>&nbsp; Layers </span> <span class="badge">{{counts.layers}}</span>
    </a>
    <a id="datasourcesMainMenu" ng-show="isWSTADMIN" href="/#/data-sources" class="list-group-item">
        <i class="fa fa-database"></i><span translate>&nbsp; Data sources </span> <span class="badge">{{counts.dataSources}}</span>
    </a>
    <a id="rolesMainMenu" ng-show="isWSTADMIN" href="/#/roles" class="list-group-item">
        <i class="fa fa-users"></i><span translate>&nbsp; Roles  </span><span class="badge">{{counts.roles}}</span>
    </a>
    <a id="usersMainMenu" ng-show="isWSTADMIN" href="/#/users" class="list-group-item">
        <i class="fa fa-user"></i> <span translate>&nbsp;Users  </span><span class="badge">{{counts.users}}</span>
    </a>
    <a ng-if="!getUserContextHelp('homeIndex')" class="list-group-item admin-menu" ng-click="showIntro()">
        <i class="fa fa-map"></i> <span translate>Guided tour</span>
    </a>
    <a id="aboutMenu" href="/#/about" class="list-group-item">
        <i class="fa fa-question-circle"></i> <span translate>About</span>
    </a>
    <span class="list-group-item main-menu-logo" >
        <img src="images/urungi.png" class="img-responsive">
    </span>
</div>
