<script type="text/ng-template" id="role_grant_renderer.html">
    <div data-nodrag ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-white btn-xs btn-round" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></span></a>

        {{node.title}}

        <div class="pull-right">
            <input type="checkbox" ng-model="vm.grantsMap[node.id].executeReports" ng-change="vm.onNodeChange(node, 'executeReports')" class="pull-right" style="width:60px">
            <input type="checkbox" ng-model="vm.grantsMap[node.id].executeDashboards" ng-change="vm.onNodeChange(node, 'executeDashboards')" class="pull-right" style="width:60px">
            <input type="checkbox" ng-model="vm.grantsMap[node.id].shareReports" ng-change="vm.onNodeChange(node, 'shareReports')" class="pull-right" style="width:60px">
        </div>
    </div>

    <ol data-nodrag ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li data-nodrag  ng-repeat="node in node.nodes" ui-tree-node ng-include="'role_grant_renderer.html'">
        </li>
    </ol>
</script>

<div class="modal-header ng-scope">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" translate>Role</h4>
</div>

<div class="modal-body">
    <uib-tabset style="background-color: #eee; padding: 5px;">
        <uib-tab heading="{{ 'General' | translate }}">
            <div class="container-fluid" >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="role-edit-modal-name" class="control-label" translate>Role name</label>
                            <input id="role-edit-modal-name" class="form-control" ng-model="vm.role.name" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="role-edit-modal-description" class="control-label" translate>Description</label>
                            <textarea ng-model="vm.role.description" class="form-control" id="role-edit-modal-description" style="resize: vertical;"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" translate>Permissions</label>
                            <table class="table table-bordered table-striped table-condensed table-hover">
                                <tbody>
                                    <tr>
                                        <th translate>Create reports</th>
                                        <td style="text-align: center;"><input type="checkbox" ng-model="vm.role.reportsCreate"></td>
                                    </tr>
                                    <tr>
                                        <th translate>Create dashboards</th>
                                        <td style="text-align: center;"><input type="checkbox" ng-model="vm.role.dashboardsCreate"></td>
                                    </tr>
                                    <tr>
                                        <th translate>Explore data</th>
                                        <td style="text-align: center;"><input type="checkbox" ng-model="vm.role.exploreData"></td>
                                    </tr>
                                    <tr>
                                        <th translate>See SQL</th>
                                        <td style="text-align: center;"><input type="checkbox" ng-model="vm.role.viewSQL"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="{{ 'Shared space permissions' | translate }}">
            <div class="row tree-node-content">
                <span class="pull-right" style="width: 60px; font-size: 10px; overflow: hidden;" translate>Execute reports</span>
                <span class="pull-right" style="width: 60px; font-size: 10px; overflow: hidden;" translate>Execute dashboards</span>
                <span class="pull-right" style="width: 60px; font-size: 10px; overflow: hidden;" translate>Share reports</span>
            </div>
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes ng-model="vm.sharedSpace">
                    <li ng-repeat="node in vm.sharedSpace" ui-tree-node ng-include="'role_grant_renderer.html'"></li>
                </ol>
            </div>
        </uib-tab>
    </uib-tabset>
</div>

<div class="modal-footer ng-scope">
    <button type="button" class="btn btn-white" ng-click="vm.dismiss()" translate>Cancel</button>
    <button type="button" class="btn btn-info" ng-click="vm.save()" translate>Save</button>
</div>
