<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $('#user-tabs a:first').tab('show')
        });
        $('.filter-delete').click(function() {
            $(this).parent().parent().remove();
        });
        $('#add-filter').click(function() {
            $('#filter-row-template').children().clone().appendTo('#filters-table');

            addListeners();
        });
        addListeners();
    });

    function addListeners() {
        $('.filter-delete').click(function() {
            $(this).parent().parent().remove();
        });
        $('.enter-manually-btn').click(function() {
            $(this).parent().removeClass('list-filter');
            $(this).parent().addClass('manually-filter');
            $(this).parent().children('.list-filter').hide();
            $(this).parent().children('.manually-filter').show();
        });
        $('.choose-from-list-btn').click(function() {
            $(this).parent().removeClass('manually-filter');
            $(this).parent().addClass('list-filter');
            $(this).parent().children('.manually-filter').hide();
            $(this).parent().children('.list-filter').show();
        });
    }

    $('#users-form').validate({
        rules: {
            status: {
                required: true,
                range: [0, 1]
            },
            username: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            password: {
                minlength: 4,
                required: true
            },
            /*confirmation: {
                minlength: 4,
                equalTo: '#password'
            },*/
            language: {
                required: true
            }
        },
        messages: {
            status: "Please enter a status",
            username: "Please enter a username",
            email: "Please enter a valid email address",
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 4 characters long"
            },
            confirmation: {
                required: "Please provide a password",
                minlength: "Your password must be at least 4 characters long",
                equalTo: "Please enter the same password as above"
            },
            language: "Please enter a language"
        }
    });
</script>

<div ng-include src="submenu"></div>

<aside class="right-side" ng-init="clearData()">

    <section class="content-header">
        <h1>
            Users
            <small>
                <a href="#/admin/users/add">Add New</a> |
                <a href="#/admin/users/change-user">Change User</a>
            </small>
        </h1>
        <ol class="breadcrumb" ng-include="breadcrumb"></ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <form novalidate id="users-form" name="users-form" role="form" ng-submit="addUser(data)">
            <!-- Nav tabs -->
            <ul id="user-tabs" class="nav nav-tabs" style="height: 34px;">
                <li><a href="/#user-data" data-toggle="tab">User Data</a></li>
                <li><a href="/#filters" data-toggle="tab">Filters</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="user-data">
                    <div class="form-group">
                        <label>Status</label>
                        <select name="status" class="form-control" ng-model="data.status" ng-options="l.name for l in statuses"></select>
                        <!--<span class="help-block" ng-bind-html="showContext('user-status')"></span>-->
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" class="form-control" ng-model="data.username">
                    </div>
                    <div class="form-group">
                        <label>Company ID</label>
                        <input name="companyID" type="text" class="form-control" ng-model="data.companyID">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" ng-model="data.email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" ng-model="data.password">
                    </div>
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input name="confirmation" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <select name="language" class="form-control" ng-model="data.language" ng-options="obj.value as obj.name for obj in languages"></select>
                    </div>
                    <div class="form-group">
                        <label>Roles</label>
                        <select multiple id="user-roles" class="form-control" ng-model="data.roles">
                            <option ng-repeat="role in roles" value="{{role._id}}">{{role.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="tab-pane fade" id="filters">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Filter</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="filters-table">

                        </tbody>
                    </table>

                    <a id="add-filter" class="btn btn-success">Add New</a>

                </div>

            </div>
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </form>

    </section><!-- /.content -->
</aside><!-- /.right-side -->

<table class="hidden">
    <tbody id="filter-row-template">
    <tr class="table-row filter-row">
        <td class="filter-name list-filter" style="width: 20%;">
            <select class="list-filter" ng-model="data.filters">
                <option ng-repeat="filter in filters" value="{{filter}}">{{filter}}</option>
            </select>
            <input class="filter-name manually-filter" style="display: none; height: 30px;"/>
            <br />
            <a class="list-filter enter-manually-btn hand-cursor" style="font-size: 10px;">Enter manually</a>
            <a class="manually-filter choose-from-list-btn hand-cursor" style="display: none; font-size: 10px;">Choose from list</a>
        </td>
        <td class="filter-value">
            <input class="filter-value" style="width: 100%; height: 30px;"/>
        </td>
        <td>
            <a class="hand-cursor btn btn-xs btn-danger filter-delete">
                <i class="fa fa-trash-o bigger-120"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>