<script type="text/javascript">
    $('#change-password-form').validate({
        rules: {
            password: {
                minlength: 8,
                required: true
            },
            confirmation: {
                minlength: 8,
                equalTo: '#password'
            }
        },
        messages: {
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 8 characters long"
            },
            confirmation: {
                required: "Please provide a password",
                minlength: "Your password must be at least 8 characters long",
                equalTo: "Please enter the same password as above"
            }
        }
    });
</script>

<div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border" style="width: 460px;margin-left: -40px;">
        <div class="widget-body" style="padding: 10px;">

            <form class="form-inline" role="form">
                <fieldset>
                    <legend>Change Password</legend>
                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control" ng-model="password" placeholder="Type your password..." required>
                    </div>
                    <div class="form-group">
                        <input name="confirmation" type="password" class="form-control" ng-model="confirmation" placeholder="Type your password..." required>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn" ng-click="changePassword()">Submit</button>
                </fieldset>
            </form>

        </div><!-- /widget-body -->
    </div><!-- /login-box -->
</div><!-- /position-relative -->

