
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 ng-if="mode == 'new'" class="modal-title">New User</h4>
        <h4 ng-if="mode != 'new'" class="modal-title">Edit User</h4>
    </div>

    <div class="modal-body ng-scope" ng-init="tabbed_panel_active = 1">
        <div class="panel panel-default panel-tabs" style="background-color: #EEEEEE">

            <div class="panel-heading">
                <h3 class="panel-title"></h3>

                <div class="panel-options">

                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': tabbed_panel_active == 1}" class="active">
                            <a  ng-click="tabbed_panel_active = 1">General</a>
                        </li>
                        <!--
                        <li  ng-class="{'active': tabbed_panel_active == 2}" class="">
                            <a  ng-click="tabbed_panel_active = 2">Custom filters</a>
                        </li>

                        <li ng-class="{'active': tabbed_panel_active == 3}" class="">
                            <a  ng-click="tabbed_panel_active = 3">Advanced</a>
                        </li>
                        -->
                    </ul>

                </div>
            </div>
        <div class="panel-body">
            <form name="myForm">
            <div class="tab-content" >
                <div class="tab-pane " ng-class="{'active': tabbed_panel_active == 1}">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="username" class="control-label">User Nick</label>
                                    <input id="username"  ng-disabled="mode != 'new'" class="form-control" ng-model="_User.userName" required>
                                    <div role="alert"><span class="error" ng-show="myForm.username.$error.required">User Nick is required</span> </div>

                                </div>
                                <div class="form-group">
                                    <label for="fname" class="control-label">First Name</label>
                                    <input id="fname" class="form-control" ng-model="_User.firstName" required>
                                    <div role="alert"><span class="error" ng-show="myForm.fname.$error.required">First Name is required</span> </div>
                                </div>
                                <div class="form-group">
                                    <label for="lname" class="control-label">Last Name</label>
                                    <input id="lname" class="form-control" ng-model="_User.lastName" required>
                                    <div role="alert"><span class="error" ng-show="myForm.lname.$error.required">Last Name is required</span> </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">email</label>
                                    <input id="email" class="form-control" ng-model="_User.email" required>
                                    <div role="alert"><span class="error" ng-show="myForm.email.$error.required">email is required</span> </div>
                                </div>
                                <div ng-if="mode == 'new'" class="checkbox">
                                    <label>
                                        <input type="checkbox" id="sendPassword" ng-model="_User.sendPassword" >
                                        Send password through email
                                    </label>
                                </div>

                                <div  ng-show="(_User.sendPassword == false && mode == 'new') || (mode == 'edit')" class="form-group">
                                    <label for="email" class="control-label">Password</label>
                                    <table>
                                        <tr>
                                            <td>
                                                <input id="pwd1" class="form-control" placeholder="Introduce password" ng-model="_User.pwd1" required>
                                            </td>
                                            <td>
                                                <input id="pwd2" class="form-control" placeholder="Repeat password" ng-model="_User.pwd2" required>
                                            </td>
                                        </tr>
                                    </table>
                                    <div role="alert"><span class="error text-danger" >{{passwordMessage}}</span> </div>

                                </div>

                                <div  ng-show="(mode == 'edit' && _User.email)" class="form-group">

                                      <button class="btn btn-warning">Reset user password</button>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title" class="control-label">Title</label>
                                    <input id="title" class="form-control" ng-model="_User.title" >
                                </div>
                                <div class="form-group">
                                    <label for="department" class="control-label">Department</label>
                                    <input id="department" class="form-control" ng-model="_User.department" >
                                </div>
                                <div class="form-group">
                                    <label for="businessUnit" class="control-label">Business unit</label>
                                    <input id="businessUnit" class="form-control" ng-model="_User.businessUnit" >
                                </div>
                                <div class="form-group">
                                    <label for="unit" class="control-label">Unit</label>
                                    <input id="unit" class="form-control" ng-model="_User.unit" >
                                </div>
                                <div class="form-group">
                                    <label for="brand" class="control-label">Brand</label>
                                    <input id="brand" class="form-control" ng-model="_User.brand" >
                                </div>

                            </div>
                        </div>





                </div> <!--tab pane 1-->
                <!-- <div   class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customFilter1" class="control-label">Custom filter 1</label>
                                <input id="customFilter1" class="form-control" ng-model="_User.customFilter1" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter2" class="control-label">Custom filter 2</label>
                                <input id="customFilter2" class="form-control" ng-model="_User.customFilter2" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter3" class="control-label">Custom filter 3</label>
                                <input id="customFilter3" class="form-control" ng-model="_User.customFilter3" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter4" class="control-label">Custom filter 4</label>
                                <input id="customFilter4" class="form-control" ng-model="_User.customFilter4" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter5" class="control-label">Custom filter 5</label>
                                <input id="customFilter5" class="form-control" ng-model="_User.customFilter5" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customFilter6" class="control-label">Custom filter 6</label>
                                <input id="customFilter6" class="form-control" ng-model="_User.customFilter6" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter7" class="control-label">Custom filter 7</label>
                                <input id="customFilter7" class="form-control" ng-model="_User.customFilter7" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter8" class="control-label">Custom filter 8</label>
                                <input id="customFilter8" class="form-control" ng-model="_User.customFilter8" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter9" class="control-label">Custom filter 9</label>
                                <input id="customFilter9" class="form-control" ng-model="_User.customFilter9" >
                            </div>
                            <div class="form-group">
                                <label for="customFilter10" class="control-label">Custom filter 10</label>
                                <input id="customFilter10" class="form-control" ng-model="_User.customFilter10" >
                            </div>
                        </div>
                    </div>
                </div> --> <!--tab pane 2-->
                <!--
                <div class="tab-pane" ng-class="{'active': tabbed_panel_active == 3}">

                </div> -->  <!--tab pane 3-->
        </div> <!--tab content-->

        <div ng-if="alertMessage && alertMessage != ''" class="alert-block">{{alertMessage}}</div>

        <div class="container-fluid">
            <button type="button" class="btn btn-info ng-pristine ng-valid pull-right"  ng-click="checkForNewUser()">Save</button>
            <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Close</button>

        </div>
        </form>
        </div> <!--body-->
    </div><!--panel-->




</div>