<div class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-9">
            <div class="page-header">
                <span class="h3" translate>Users</span>
                <a ng-click="vm.newUser()" class="btn btn-success pull-right" translate>New User</a>
            </div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="user in vm.users">
                    <a class="badge pull-right" ng-class="{'badge-success': user.status == 'active', 'badge-danger': user.status == 'Not active'}" ng-click="vm.changeUserStatus(user)">
                        <span translate ng-if="user.status == 'active'">active</span>
                        <span translate ng-if="user.status == 'Not active'">not active</span>
                    </a>
                    <a ng-href="/#/users/{{user._id}}">
                        <h4 class="list-group-item-heading" ng-bind="user.userName"></h4>
                        <span class="list-group-item-text" ng-bind="user.firstName"></span>  <span class="list-group-item-text" ng-bind="user.lastName"></span>
                    </a>
                </div>
            </div>

            <app-pager current-page="vm.page" total-pages="vm.pages" on-page-change="vm.goToPage(page)"></app-pager>
        </div>
    </div>
</div>
