<div class="container-fluid " ng-init="getUsers(1,'',['userName','lastName','status'])"  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid branded-border-panel" >
                    <h3 class="pull-left" >Users</h3>
                    <a ng-click="newUser()" class="btn btn-success pull-right">New User</a>
                </div>

                <div class="list-group">

                    <div  class="list-group-item" ng-repeat="user in users">
                        <a class="badge pull-right" ng-class="{'badge-success': user.status == 'active', 'badge-danger': user.status == 'Not active'}" ng-click="changeUserStatus(user)">{{user.status}}</a>
                        <a href="/#/users/{{user._id}}">
                            <h4 class="list-group-item-heading" ng-bind="user.userName"></h4>
                            <span class="list-group-item-text" ng-bind="user.firstName"></span>  <span class="list-group-item-text" ng-bind="user.lastName"></span>
                        </a>
                    </div>
                </div>

                <div class="container-fluid">
                     <ul ng-if="pager.pages.length > 1" class="pagination">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getUsers(1,'',['userName','lastName','status'])">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getUsers(pager.currentPage - 1,'',['userName','lastName','status'])">Previous</a>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="getUsers(page,'',['userName','lastName','status'])">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getUsers(pager.currentPage + 1,'',['userName','lastName','status'])">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getUsers(pager.totalPages,'',['userName','lastName','status'])">Last</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>

<nd-modal id="editUserModal">
    <div ng-include src="editUserModal"></div>
</nd-modal>
