<div class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-9">
            <div class="page-header">
                <span class="h3"><span translate>User</span> <small translate>User profile and permissions</small></span>
                <div class="btn-group pull-right">
                    <button ng-click="vm.editUser()" ng-if="vm.isAdmin" class="btn btn-success" translate>Edit</button>
                    <button ng-click="vm.deleteUser(vm.user, user)" ng-if="vm.isAdmin" class="btn btn-success" style="color: rgb(255, 0, 0);" ><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center">
                        {{ vm.user.userName }}
                        <a class="badge" ng-class="{'badge-success': vm.user.status == 'active', 'badge-danger': vm.user.status == 'Not active'}" ng-click="vm.changeUserStatus(vm.user)">
                            <span translate ng-if="vm.user.status == 'active'">active</span>
                            <span translate ng-if="vm.user.status == 'Not active'">not active</span>
                        </a>
                    </h4>

                    <div class="text-center">
                        {{ vm.user.title }}
                    </div>
                    <div class="text-center">
                        {{ vm.user.department }}
                    </div>
                    <div class="text-center">
                        {{ vm.user.businessUnit }}
                    </div>
                    <div class="text-center">
                        {{ vm.user.unit }}
                    </div>
                    <div class="text-center">
                        {{ vm.user.brand }}
                    </div>

                    <hr>

                    <ul class="list-unstyled user-info-list">
                        <li ng-repeat="role in vm.user.roles" style="color: #000;">
                            <i ng-if="vm.isAdmin" class="fa fa-trash-o" style="color: #f00;" ng-click="vm.deleteRole(role)"></i> {{ vm.getRoleName(role) }}
                        </li>
                    </ul>
                    <form ng-if="vm.isAdmin" class="form-inline">
                        <div class="form-group">
                            <label for="roleSelect" translate>Add role</label>
                            <select ng-model="vm.selectedRole" placeholder="{{ 'Add a new role...' | translate }}" ng-class="vm.selectedRole" id="roleSelect" class="form-control" ng-change="vm.selectedRoleChanged = true" ng-options="role._id as role.name for role in vm.getRolesNotInUser()"></select>
                        </div>
                        <button type="button" class="btn btn-link" ng-show="vm.selectedRoleChanged == true && vm.selectedRole != ''" ng-click="vm.addRole(vm.selectedRole)">
                            <i class="fa fa-plus" style="color: #00a000;"></i>
                        </button>
                    </form>

                    <hr>

                    <div class="row" style="font-size: 14px;">
                        <div class="col-sm-6">
                            <span>{{ vm.userCounts.sharedReports }}</span>
                            <span translate>shared reports</span>
                        </div>
                        <div class="col-sm-6">
                            <span>{{ vm.userCounts.sharedDashboards }}</span>
                            <span translate>shared dashboards</span>
                        </div>
                        <div class="col-sm-6">
                            <span>{{ vm.userCounts.privateReports }}</span>
                            <span translate>private reports</span>
                        </div>
                        <div class="col-sm-6">
                            <span>{{ vm.userCounts.privateDashboards }}</span>
                            <span translate>private dashboards</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel ng-scope">
                                <div class="panel-heading hidden-print">
                                    <div class="panel-title" translate>Reports</div>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a ng-href="reports/view/{{report._id}}" class="list-group-item" ng-repeat="report in vm.userReports">
                                            {{ report.reportName }}
                                            <span ng-if="report.isShared" class="badge badge-success pull-right" translate>shared</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="panel">
                                <div class="panel-heading hidden-print">
                                    <div class="panel-title" translate>Dashboards</div>
                                </div>

                                <div class="panel-body">
                                    <div class="list-group">
                                        <a ng-href="dashboards/view/{{ dsh._id }}" class="list-group-item" ng-repeat="dsh in vm.userDashboards">
                                            {{ dsh.dashboardName }}
                                            <span ng-if="dsh.isShared" class="badge badge-success pull-right" translate>shared</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
