<div class="main-content-view">

    <!--<div class="page-title full-width" title="Profile" description="User profile and story timeline">   -->
    <div class="well">

        <div  class="pull-right" >
            <button ng-click="goBack()" class="btn btn-default">Cancel</button>
            <a ng-if="_User._id == user._id" href="/#/logout" class="btn btn-danger">logout</a>
            <button ng-if="_User._id == user._id" class="btn btn-inverse" ng-click="changeMyPassword()">Change my password</button>
            <button ng-click="editUser()" ng-if="isWSTADMIN" class="btn btn-success">Edit</button>

        </div>
            <h1 class="title">User</h1>
            <p class="description">User profile and permissions</p>




    </div>

    <section class="profile-env" ng-init="view()">

        <div class="container-fluid">

            <div class="col-sm-3">

                <div class="user-info-sidebar">

                    <a href="" class="user-img">
                       <!-- <img src="" alt="user-img" class="img-cirlce img-responsive img-thumbnail">-->
                    </a>

                    <a href="" class="user-name">
                        {{_User.userName}}
                        <span class="user-status" ng-class="{'is-active': _User.status == 'active', 'is-not-active': _User.status == 'Not active'}" ng-click="changeUserStatus(_User)"></span>
                    </a>

                            <div style="text-align: center">
                            <a class="badge"  ng-class="{'badge-success': _User.status == 'active', 'badge-danger': _User.status == 'Not active'}"ng-click="changeUserStatus(_User)">
                                {{_User.status}}
                            </a>
                            </div>
                            <span class="user-title">
                                {{_User.title}}
                            </span>
                            <span class="user-title">
                                {{_User.department}}
                            </span>
                            <span class="user-title">
                                {{_User.businessUnit}}
                            </span>
                            <span class="user-title">
                                {{_User.unit}}
                            </span>
                            <span class="user-title">
                                {{_User.brand}}
                            </span>

                    <hr>

                    <ul class="list-unstyled user-info-list">
                        <li ng-repeat="role in _User.roles" style="color:#000">
                         <i ng-if="isWSTADMIN" class="fa fa-trash-o" style="color: #FF0000" ng-click="deleteRole(role)"></i>   {{getRoleName(role)}}
                        </li>
                        <li ng-if="isWSTADMIN" style="margin-top:10px;">
                            <span>Add role</span>
                            <select ng-model="selectedRole" placeholder="Add a new role..." ng-class="selectedRole" id="roleSelect" class="form-control" ng-change="selectedRoleChanged = true" ng-options="role._id as role.name for role in getRolesNotInUser()" style="width: 80%;float: left;"></select>
                            <div ng-show="selectedRoleChanged == true && selectedRole != ''" ng-click="_User.roles.push(selectedRole);save();selectedRole = '';selectedRoleChanged = false;" style="width: 20%;float: left;text-align:center;vertical-align: middle;" ><i class="fa fa-plus" style="color:#00A000;"></i>  </div>

                        </li>
                    </ul>



                    <hr>

                    <ul class="list-unstyled user-friends-count">
                        <li>
                            <span>{{userCounts.publishedReports}}</span>
                            Published reports
                        </li>
                        <li>
                            <span>{{userCounts.publishedDashBoards}}</span>
                            Published Dashboards
                        </li>
                    </ul>
                    <ul class="list-unstyled user-friends-count">
                        <li>
                            <span>{{userCounts.privateReports}}</span>
                            Private reports
                        </li>
                        <li>
                            <span>{{userCounts.privateDashBoards}}</span>
                            Private Dashboards
                        </li>
                    </ul>
                    <!--
                    <button type="button" class="btn btn-success btn-block text-left">
                        Following
                        <i class="fa-check pull-right"></i>
                    </button>
                    -->
                </div>

            </div>

            <div class="col-sm-9" style="background-color: #fff;height: 100%;">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="panel panel-default ng-scope">
                            <div class="panel-heading hidden-print">Reports</div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="report in userReports">
                                        <span ng-if="report.isPublic" class="badge badge-success pull-right">public</span>
                                        <a href="/#/reports/{{report._id}}">
                                            <h4 class="list-group-item-heading" ng-bind="report.reportName"></h4>
                                            <p class="list-group-item-text" ng-bind="report.reportDescription"></p>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="panel panel-default ng-scope">
                            <div class="panel-heading hidden-print">Dashboards</div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="dsh in userDashboards">
                                        <span ng-if="dsh.isPublic" class="badge badge-success pull-right">public</span>
                                        <a href="/#/dashboards/{{dsh._id}}">
                                        <h4 class="list-group-item-heading" ng-bind="dsh.dashboardName"></h4>
                                        <p class="list-group-item-text" ng-bind="dsh.dashboardDescription"></p>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
            </div>





            </div>

        </div>

    </section>


</div>
<nd-modal id="editUserModal">
<div ng-include src="editUserModal"></div>
</nd-modal>


<div ng-if="_User._id == user._id" ng-include src="changePasswordModal"></div>

<div ng-include src="'partials/deleteModal.html'"></div>