{% for message in session.flash %}
    {% capture alert_type -%}
        {% case message.type %}
            {% when 'error' %}danger
            {% else %}{{ message.type }}
        {% endcase %}
    {%- endcapture %}

    <div class="alert alert-dismissible alert-{{ alert_type | escape }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message.text | escape }}
    </div>
{% endfor %}
