{% capture title %}{% t 'Import' %}{% endcapture %}
{% layout 'layout/layout' title: title %}

{% block head %}
    {% render 'partials/api' %}
    <script defer src="s/angular/angular.min.js"></script>
    <script defer src="s/angular-sanitize/angular-sanitize.min.js"></script>
    <script defer src="s/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script defer src="s/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script defer src="s/ng-file-upload/ng-file-upload.min.js"></script>
    {% render 'partials/ng/core' %}
    {% render 'partials/ng/ui-bootstrap' %}
    <script defer src="js/progressbar.js"></script>
    <script defer src="js/custom-element/import-table.js"></script>
    <script defer src="js/import.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid root-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'sidebar' %}
            </div>

            <div class="main col-md-9">
                <div class="page-header">
                    <h3>{% t 'Import layers, reports and dashboards' %}</h3>
                </div>

                {% include 'flash' %}

                <div is="app-import"></div>
            </div>
        </div>
    </div>
{% endblock %}
