<!DOCTYPE html>
<html ng-app="WideStage">
<title>WideStage</title>


<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-custom.css" rel="stylesheet">
<!--select-->
<!--<link rel="stylesheet" type="text/css" href="libs/select/dist/select.min.css"/>
<link rel="stylesheet" type="text/css" href="libs/select/dist/select2.css"/>-->
<link rel="stylesheet" href="libs/selectize.js/dist/css/selectize.default.css">
<!-- font-awesome -->
<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.4.0/css/font-awesome.min.css"/>
<!-- morris -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"/>
<!-- gridster -->
<link rel="stylesheet" href="angular-gridster/dist/angular-gridster.min.css" />
<!-- ui-layout -->
<link rel="stylesheet" type="text/css" href="angular-ui-layout/src/ui-layout.css"/>
<!-- angular.treeview -->
<link rel="stylesheet" href="angular-treeview/css/angular.treeview.css" />
<!-- nestable -->
<link rel="stylesheet" href="/libs/jquery.nestable/jquery.nestable.css" />
<!--font awesome icon picker -->
<link rel="stylesheet" href="/libs/fontawesome-icon-picker/fontawesome-iconpicker.min.css" />
<!--slider-->
<link rel="stylesheet" href="seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
<!--bootstrap dateTimePicker-->
<link rel="stylesheet" href="angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
<!--angular ui tree-->
<link rel="stylesheet" href="angular-ui-tree/dist/angular-ui-tree.min.css" />
<!--jsPlumb-->
<link rel="stylesheet" type="text/css" href="libs/jsplumb/jsPlumb.css"/>
<!-- Load c3.css -->
<link href="c3/c3.css" rel="stylesheet" type="text/css">
<!--v-accordion -->
<link href="v-accordion/dist/v-accordion.min.css" rel="stylesheet" />
<!--intro js -->
<!--<link href="intro.js/minified/introjs.min.css" rel="stylesheet" />-->
<!--ng-tags-input-->
<link rel="stylesheet" href="ng-tags-input/ng-tags-input.bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="nodedream/nodedream.css"/>

<link rel="stylesheet" type="text/css" href="css/components.css"/>

<link rel="stylesheet" type="text/css" href="css/forms.css"/>

<link rel="stylesheet" type="text/css" href="css/widestage.css"/>

<link rel="stylesheet" type="text/css" href="css/ndDesigner.css"/>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">
<!-- Angular will place here page content -->
</div>

</body>

<!-- jquery -->
<script src="jquery/dist/jquery.min.js"></script>
<script src="jquery-validate/dist/jquery.validate.min.js"></script>
<script src="jquery-ui/jquery-ui.min.js"></script>
<!-- bootstrap -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular -->
<script src="angular/angular.min.js"></script>
<script src="angular-sanitize/angular-sanitize.js"></script>
<script src="angular-draganddrop/angular-draganddrop.min.js"></script>
<!-- route -->
<script  src="angular-route/angular-route.min.js"></script>
<script  src="angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- gridster -->
<script src="angular-gridster/dist/angular-gridster.min.js"></script>
<!-- morris raphael 2.1.0 -->
<script src="raphael/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<!-- nestable -->
<script src="jquery-nestable/jquery.nestable.js"></script>
<script src="/libs/jquery.nestable/angular-nestable.js"></script>
<!-- uilayout -->
<script src="angular-ui-layout/src/ui-layout.js"></script>
<!-- angular.treeview  -->
<script src="angular-treeview/angular.treeview.min.js"></script>
<!-- noty -->
<script src="noty/js/noty/jquery.noty.js"></script>
<script src="noty/js/noty/layouts/top.js"></script>
<script src="noty/js/noty/themes/default.js"></script>
<!-- Checklist model multiselect -->
<script src="checklist-model/checklist-model.js"></script>
<!--slider -->
<script src="seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="angular-bootstrap-slider/slider.js"></script>
<!--tg-dynamic-directive-->
<script src="tg-dynamic-directive/src/tg.dynamic.directive.js"></script>
<!--angular uuid-->
<script src="angular-uuid2/dist/angular-uuid2.min.js"></script>
<!--vs-repeat-->
<script src="angular-vs-repeat/src/angular-vs-repeat.min.js"></script>
<!--bootstrap datepicker-->
<script src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!--angular datetimepicker-->
<script src="moment/min/moment.min.js"></script>
<script src="angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<!--numeral-->
<script src="numeral/min/numeral.min.js"></script>
<!--angular ui tree -->
<script src="angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<!--excel export -->
<script src="js-xlsx/dist/xlsx.core.min.js"></script>
<!--file saver -->
<script src="file-saver/FileSaver.min.js"></script>
<!--angular-csv-import.js-->
<script src="angular-csv-import/dist/angular-csv-import.min.js"></script>
<!--introhelp-->
<script src="js/modules/intro-help.js"></script>




<!-- vector map
<script src="libs/vector-map/jquery.vmap.min.js"></script>
<script src="libs/vector-map/jquery.vmap.world.js"></script>
     -->
<!-- angular ui bootstrap -->
<script src="libs/ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<!-- ngInfiniteScroll -->
<script src="libs/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>
<!-- sortable-->
<script  src="libs/ui-sortable/sortable.js"></script>
<!-- crypto -->
<script src="libs/crypto/aes.js"></script>
<!-- Objectid -->
<script src="libs/objectId/Objectid.js"></script>
<!--select2-->
<!--<script src="libs/select/dist/select-wst.js"></script>-->
<script src="ui-select/dist/select.min.js"></script>
<!--font awesome icon picker -->
<script src="libs/fontawesome-icon-picker/fontawesome-iconpicker.min.js"></script>
<!--gauge -->
<script src="libs/gauge/gauge.js"></script>
<script src="libs/gauge/angular-canv-gauge.js"></script>
<!--gauge -->
<script src="libs/gauge2/gauge.min.js"></script>
<!-- widestage directives -->
<script src="js/directives/wst-directives.js"></script>
<!--v-accordion -->
<script src="angular-animate/angular-animate.min.js"></script>
<script src="v-accordion/dist/v-accordion.min.js"></script>


<!-- Load d3.js and c3.js -->
<script src="d3/d3.min.js" charset="utf-8"></script>
<script src="c3/c3.min.js"></script>
<script src="c3-angular/c3-angular.min.js"></script>

<!-- selectsize -->
<script src="libs/selectize.js/dist/js/selectize.js" charset="utf-8"></script>

<!-- tags input -->
<script type="text/javascript" src="ng-tags-input/ng-tags-input.min.js"></script>


<!-- loading overlay -->
<script src="angular-loading-overlay/dist/angular-loading-overlay.js" charset="utf-8"></script>

<!--Intro js -->
<!--
<script type="text/javascript" src="intro.js/minified/intro.min.js"></script>
<script type="text/javascript" src="angular-intro.js/build/angular-intro.min.js"></script>
-->

<!--
<script src="modules/designer/directives/lvl-uuid.js"></script>
<script src="modules/designer/directives/lvl-drag-drop.js"></script>
-->

<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="nodedream/nodedream.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/prompts/model.js"></script>
<script type="text/javascript" src="js/report/model.js"></script>
<script type="text/javascript" src="js/report/controller.js"></script>
<!--<script type="text/javascript" src="js/report/services/reportNameModal.js"></script>-->
<script type="text/javascript" src="js/dashboard/model.js"></script>
<script type="text/javascript" src="js/dashboard/controller.js"></script>
<script type="text/javascript" src="js/data-source/controller.js"></script>
<script type="text/javascript" src="js/data-source/model.js"></script>
<script type="text/javascript" src="js/data-source/services/dataSourceNameModal.js"></script>
<script type="text/javascript" src="js/pivot/controller.js"></script>
<script type="text/javascript" src="js/layer/controller.js"></script>
<script type="text/javascript" src="js/users/controller.js"></script>
<script type="text/javascript" src="js/roles/controller.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/spaces/controller.js"></script>
<script type="text/javascript" src="js/pages/controller.js"></script>
<script type="text/javascript" src="js/query/model.js"></script>
<script type="text/javascript" src="js/query/controller.js"></script>
<script type="text/javascript" src="js/pages/page_block.js"></script>
<script type="text/javascript" src="js/widgets/grid.js"></script>
<script type="text/javascript" src="js/widgets/c3Charts.js"></script>
<script type="text/javascript" src="js/widgets/icons.js"></script>
<script type="text/javascript" src="js/widgets/colors.js"></script>
<script type="text/javascript" src="js/widgets/htmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/prompts.js"></script>



<!--
<script src="modules/designer/ndDesigner.js"></script>

<script src="modules/designer/services/ndDesignerService.js"></script>
<script src="modules/designer/services/ndMediaModal.js"></script>
<script src="modules/designer/services/ndURLModal.js"></script>
<script src="modules/designer/services/ndDesignerModal.js"></script>
-->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


</html>
