<!DOCTYPE html>
<html ng-app="WideStage">
<title>WideStage</title>


<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="angular-ui-select/dist/select.min.css">
<!-- font-awesome -->
<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.4.0/css/font-awesome.min.css"/>
<!-- gridster -->
<link rel="stylesheet" href="angular-gridster/dist/angular-gridster.min.css" />
<!-- ui-layout -->
<link rel="stylesheet" type="text/css" href="angular-ui-layout/src/ui-layout.css"/>
<!-- angular.treeview -->
<link rel="stylesheet" href="angular-treeview/css/angular.treeview.css" />
<!-- nestable -->
<link rel="stylesheet" href="/libs/jquery.nestable/jquery.nestable.css" />
<!--font awesome icon picker -->
<link rel="stylesheet" href="/libs/fontawesome-icon-picker/fontawesome-iconpicker.min.css" />
<!--slider-->
<link rel="stylesheet" href="seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
<!--bootstrap dateTimePicker-->
<link rel="stylesheet" href="angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
<!--angular ui tree-->
<link rel="stylesheet" href="angular-ui-tree/dist/angular-ui-tree.min.css" />
<!--jsPlumb-->
<link rel="stylesheet" type="text/css" href="libs/jsplumb/jsPlumb.css"/>
<!-- Load c3.css -->
<link href="c3/c3.css" rel="stylesheet" type="text/css">
<!--v-accordion -->
<link href="v-accordion/dist/v-accordion.min.css" rel="stylesheet" />
<!--ng-tags-input-->
<link rel="stylesheet" href="ng-tags-input/ng-tags-input.bootstrap.min.css">
<!--angular-ui-grid
<link rel="stylesheet" type="text/css" href="angular-ui-grid/ui-grid.min.css">
-->
<!--Angular Editable Text-->
<link rel="stylesheet" type="text/css" href="angular-editable-text/dist/angular-editable-text.min.css">
<!--CodeMirror-->
<link rel="stylesheet" type="text/css" href="codemirror/lib/codemirror.css">
<!--colorpicker--><!-- spectrum color picker -->
<link href="angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet" />
<!-- spectrum color picker-->
<link rel="stylesheet" type="text/css" href="libs/spectrum/spectrum.css"/>
<!--custom scroll bar -->
<link rel="stylesheet" href="malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />


<link rel="stylesheet" type="text/css" href="nodedream/nodedream.css"/>

<link rel="stylesheet" type="text/css" href="css/components.css"/>

<link rel="stylesheet" type="text/css" href="css/forms.css"/>

<link rel="stylesheet" type="text/css" href="css/widestage.css"/>

<link rel="stylesheet" type="text/css" href="css/ndDesigner.css"/>

<link rel="stylesheet" type="text/css" href="css/inspector.css"/>

<link rel="stylesheet" type="text/css" href="css/custom.css"/>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">

</div>




</body>

<!-- jquery -->
<script src="jquery/dist/jquery.min.js"></script>
<script src="jquery-validate/dist/jquery.validate.min.js"></script>
<script src="jquery-ui/jquery-ui.min.js"></script>
<!-- bootstrap -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular -->
<script src="angular/angular.min.js"></script>
<script src="angular-sanitize/angular-sanitize.js"></script>
<script src="angular-draganddrop/angular-draganddrop.min.js"></script>
<!-- route -->
<script  src="angular-route/angular-route.min.js"></script>
<script  src="angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- gridster -->
<script src="angular-gridster/dist/angular-gridster.min.js"></script>
<!-- nestable -->
<script src="jquery-nestable/jquery.nestable.js"></script>
<script src="/libs/jquery.nestable/angular-nestable.js"></script>
<!-- uilayout -->
<script src="angular-ui-layout/src/ui-layout.js"></script>
<!-- angular.treeview  -->
<script src="angular-treeview/angular.treeview.min.js"></script>
<!-- noty -->
<script src="noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<!-- Checklist model multiselect -->
<script src="checklist-model/checklist-model.js"></script>
<!--slider -->
<script src="seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="angular-bootstrap-slider/slider.js"></script>
<!--tg-dynamic-directive-->
<script src="tg-dynamic-directive/src/tg.dynamic.directive.js"></script>
<!--angular uuid-->
<script src="angular-uuid2/dist/angular-uuid2.min.js"></script>
<!--vs-repeat-->
<script src="angular-vs-repeat/src/angular-vs-repeat.min.js"></script>
<!--bootstrap datepicker-->
<script src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!--angular datetimepicker-->
<script src="moment/min/moment.min.js"></script>
<script src="angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<!--numeral-->
<script src="numeral/min/numeral.min.js"></script>
<!--angular ui tree -->
<script src="angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<!--excel export -->
<script src="js-xlsx/dist/xlsx.core.min.js"></script>
<!--file saver -->
<script src="file-saver/FileSaver.min.js"></script>
<!--angular-csv-import.js-->
<script src="angular-csv-import/dist/angular-csv-import.min.js"></script>
<!--introhelp-->
<script src="js/modules/intro-help.js"></script>
<!-- angular ui bootstrap -->
<script src="libs/ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<!-- ngInfiniteScroll -->
<script src="libs/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>
<!-- sortable-->
<script  src="libs/ui-sortable/sortable.js"></script>
<!-- crypto -->
<script src="libs/crypto/aes.js"></script>
<!-- Objectid -->
<script src="libs/objectId/Objectid.js"></script>
<!--select2-->
<script src="angular-ui-select/dist/select.min.js"></script>
<!--font awesome icon picker -->
<script src="libs/fontawesome-icon-picker/fontawesome-iconpicker.min.js"></script>
<!--gauge -->
<script src="libs/gauge/gauge.js"></script>
<script src="libs/gauge/angular-canv-gauge.js"></script>
<!--gauge -->
<script src="libs/gauge2/gauge.min.js"></script>
<!-- widestage directives -->
<script src="js/directives/wst-directives.js"></script>

<!--v-accordion -->
<script src="angular-animate/angular-animate.min.js"></script>
<script src="v-accordion/dist/v-accordion.min.js"></script>


<!-- Load d3.js and c3.js -->
<script src="d3/d3.min.js" charset="utf-8"></script>
<script src="c3/c3.min.js"></script>
<script src="c3-angular/c3-angular.min.js"></script>
<!-- tags input -->
<script type="text/javascript" src="ng-tags-input/ng-tags-input.min.js"></script>
<!-- loading overlay -->
<script src="angular-loading-overlay/dist/angular-loading-overlay.js" charset="utf-8"></script>
<!-- angular-ui-grid -->
<script src="angular-ui-grid/ui-grid.min.js"></script>

<!--Angular Editable Text-->
<script src="angular-editable-text/dist/angular-editable-text.min.js" charset="utf-8"></script>
<!--CodeMirror-->
<script type="text/javascript" src="codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="angular-ui-codemirror/ui-codemirror.js"></script>
<script src="angular-socialshare/dist/angular-socialshare.min.js"></script>
<!-- ngFileUpload -->
<script src="ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
<script src="ng-file-upload/ng-file-upload.min.js"></script>
<!--angular translate -->
<script src="angular-translate/angular-translate.js"></script>

<!--colorpicker--><!-- spectrum color picker -->
<script src="angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<script src="libs/spectrum/spectrum.js"></script>
<script src="angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>

<!-- custom scroll bar -->
<script src="malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>





<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/inspector/inspector.js"></script>
<script type="text/javascript" src="nodedream/nodedream.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/report_v2/controller.js"></script>
<script type="text/javascript" src="js/report_v2/model.js"></script>
<script type="text/javascript" src="js/report-view/controller.js"></script>
<script type="text/javascript" src="js/data-source/controller.js"></script>
<script type="text/javascript" src="js/data-source/model.js"></script>
<script type="text/javascript" src="js/data-source/services/dataSourceNameModal.js"></script>
<script type="text/javascript" src="js/pivot/controller.js"></script>
<script type="text/javascript" src="js/layer/layerObjectProperties.js"></script>
<script type="text/javascript" src="js/layer/controller.js"></script>
<script type="text/javascript" src="js/users/controller.js"></script>
<script type="text/javascript" src="js/roles/controller.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/spaces/controller.js"></script>
<script type="text/javascript" src="js/dashboardv2/controller.js"></script>
<script type="text/javascript" src="js/dashboardv2/model.js"></script>
<script type="text/javascript" src="js/query/model.js"></script>
<script type="text/javascript" src="js/query/controller.js"></script>
<script type="text/javascript" src="js/inspector/page_block.js"></script>
<script type="text/javascript" src="js/widgets/elements.js"></script>
<script type="text/javascript" src="js/widgets/grid.js"></script>
<script type="text/javascript" src="js/widgets/vGrid.js"></script>
<script type="text/javascript" src="js/widgets/c3Charts.js"></script>
<script type="text/javascript" src="js/widgets/reportHtmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/icons.js"></script>
<script type="text/javascript" src="js/widgets/colors.js"></script>
<script type="text/javascript" src="js/widgets/htmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/prompts.js"></script>
<script type="text/javascript" src="js/widgets/common.js"></script>
<!--<script type="text/javascript" src="js/widgets/widgetProperties.js"></script>-->
<script type="text/javascript" src="js/widgets/wstColor.js"></script>
<script type="text/javascript" src="js/widgets/wstImage.js"></script>
<script type="text/javascript" src="js/widgets/wstHidden.js"></script>
<script type="text/javascript" src="js/setup/controller.js"></script>
<script type="text/javascript" src="js/files/controller.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


</html>
