<!DOCTYPE html>
<html ng-app="app">
<title>Urungi</title>

<link rel="stylesheet" href="css/bundle.min.css">

<!--angular ui tree-->
<link rel="stylesheet" type="text/css" href="css/jsPlumb.css"/>


<link rel="stylesheet" type="text/css" href="css/components.css"/>

<link rel="stylesheet" type="text/css" href="css/main.css"/>

<link rel="stylesheet" type="text/css" href="css/ndDesigner.css"/>

<link rel="stylesheet" type="text/css" href="css/inspector.css"/>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">

</div>

</body>

<script src="js/bundle.min.js"></script>

<!-- urungi directives -->
<script src="js/directives/wst-directives.js"></script>
<script src="js/modules/intro-help.js"></script>

<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/core/core.module.js"></script>
<script type="text/javascript" src="js/core/api.js"></script>
<script type="text/javascript" src="js/core/connection.js"></script>
<script type="text/javascript" src="js/core/pager.component.js"></script>
<script type="text/javascript" src="js/inspector/inspector.js"></script>
<script type="text/javascript" src="js/directives/modal.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/menu-list/controllers.js"></script>
<script type="text/javascript" src="js/services/language.js"></script>
<script type="text/javascript" src="js/report/controller.js"></script>
<script type="text/javascript" src="js/report/model.js"></script>
<script type="text/javascript" src="js/report/services/grid.js"></script>
<script type="text/javascript" src="js/report/services/vGrid.js"></script>
<script type="text/javascript" src="js/report/services/pivot.js"></script>
<script type="text/javascript" src="js/report/services/c3Charts.js"></script>
<script type="text/javascript" src="js/report/services/elements.js"></script>
<script type="text/javascript" src="js/report/directives/wstDropzone.js"></script>
<script type="text/javascript" src="js/report/directives/reportView.js"></script>
<script type="text/javascript" src="js/report/directives/prompts.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources.module.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources.routes.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources-list.controller.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources-edit.controller.js"></script>
<script type="text/javascript" src="js/layer/layerObjectProperties.js"></script>
<script type="text/javascript" src="js/layer/controller.js"></script>
<script type="text/javascript" src="js/users/controller.js"></script>
<script type="text/javascript" src="js/users/model.js"></script>
<script type="text/javascript" src="js/roles/controller.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/spaces/controller.js"></script>
<script type="text/javascript" src="js/dashboardv2/controller.js"></script>
<script type="text/javascript" src="js/dashboardv2/model.js"></script>
<script type="text/javascript" src="js/inspector/page_block.js"></script>
<script type="text/javascript" src="js/widgets/reportHtmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/colors.js"></script>
<script type="text/javascript" src="js/widgets/htmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/common.js"></script>
<script type="text/javascript" src="js/io/controller.js"></script>
<script type="text/javascript" src="js/io/model.js"></script>
<script type="text/javascript" src="js/files/service.js"></script>
<script type="text/javascript" src="js/files/fileModal.js"></script>

<script type="text/javascript" src="layerUtils.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $(document).on('shown.bs.dropdown', '.dropdown', function (e) {
            const dropdownMenu = $(e.target).find('.dropdown-menu');
            const pos = dropdownMenu.offset();
            var widthMenu = dropdownMenu.width();
            const window_width = $(window).width();
            if (pos.left < 0) {
                dropdownMenu.offset({ top: pos.top, left: 5 })
                dropdownMenu.css('right', 'auto');
            }

            if ((pos.left + widthMenu) > window_width) {
                dropdownMenu.offset({ top: pos.top, left: window_width - widthMenu })
            }
        });
    });
</script>


</html>
