<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Urungi</title>

        <base href="<%= base %>/index.html">
        <link rel="shortcut icon" href="favicon.png">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="s/ui-select/select.min.css">
        <link rel="stylesheet" href="s/angularjs-bootstrap-datetimepicker/css/datetimepicker.css">
        <link rel="stylesheet" href="s/angular-ui-tree/angular-ui-tree.min.css">
        <link rel="stylesheet" href="s/c3/c3.min.css">
        <link rel="stylesheet" href="s/angular-bootstrap-colorpicker/css/colorpicker.min.css">
        <link rel="stylesheet" href="s/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="s/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="s/jsplumb/css/jsplumbtoolkit-defaults.css">
        <link rel="stylesheet" href="s/intro.js/introjs.min.css">
        <link rel="stylesheet" href="s/pnotify-core/PNotify.css">
        <link rel="stylesheet" href="s/pnotify-bootstrap3/PNotifyBootstrap3.css">
        <link rel="stylesheet" href="s/pivottable/pivot.min.css">
        <link rel="stylesheet" href="s/subtotal/subtotal.min.css">
        <link rel="stylesheet" href="s/leaflet/leaflet.css">

        <link rel="stylesheet" type="text/css" href="css/jsPlumb.css"/>

        <link rel="stylesheet" media="print" href="css/print.css"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>

        <link rel="stylesheet" type="text/css" href="css/ndDesigner.css"/>

        <link rel="stylesheet" type="text/css" href="css/inspector.css"/>
    </head>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">

</div>

</body>

<script src="s/jquery/jquery.min.js"></script>
<script src="s/jquery-validation/jquery.validate.min.js"></script>
<script src="s/jquery-ui/jquery-ui.min.js"></script>
<script src="s/bootstrap/js/bootstrap.min.js"></script>
<script src="s/angular/angular.min.js"></script>
<script src="s/angular-sanitize/angular-sanitize.min.js"></script>
<script src="s/angular-route/angular-route.min.js"></script>
<script src="s/pnotify-core/PNotify.js"></script>
<script src="s/pnotify-bootstrap3/PNotifyBootstrap3.js"></script>
<script src="s/pnotify-fontawesome4/PNotifyFontAwesome4.js"></script>
<script src="s/moment/moment-with-locales.min.js"></script>
<script src="s/angularjs-bootstrap-datetimepicker/js/datetimepicker.js"></script>
<script src="s/angularjs-bootstrap-datetimepicker/js/datetimepicker.templates.js"></script>
<script src="s/angular-ui-tree/angular-ui-tree.min.js"></script>
<script src="s/angular-file-saver/angular-file-saver.bundle.min.js"></script>
<script src="s/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="s/angular-ui-sortable/sortable.min.js"></script>
<script src="s/ui-select/select.min.js"></script>
<script src="s/d3/d3.min.js"></script>
<script src="s/c3/c3.min.js"></script>
<script src="s/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="s/ng-file-upload/ng-file-upload.min.js"></script>
<script src="s/clipboard/clipboard.min.js"></script>
<script src="s/ngclipboard/ngclipboard.min.js"></script>
<script src="s/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<script src="s/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="s/angular-gettext/angular-gettext.min.js"></script>
<script src="s/intro.js/intro.min.js"></script>
<script src="s/angular-intro.js/angular-intro.min.js"></script>
<script src="s/numeral/numeral.min.js"></script>
<script src="s/pivottable/pivot.min.js"></script>
<script src="s/subtotal/subtotal.min.js"></script>
<script src="s/leaflet/leaflet.js"></script>
<script src="templates/templates.js"></script>


<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/core/core.module.js"></script>
<script type="text/javascript" src="js/core/constants.js"></script>
<script type="text/javascript" src="js/core/api.js"></script>
<script type="text/javascript" src="js/core/connection.js"></script>
<script type="text/javascript" src="js/core/session-storage.js"></script>
<script type="text/javascript" src="js/core/local-storage.js"></script>
<script type="text/javascript" src="js/core/user.service.js"></script>
<script type="text/javascript" src="js/core/uuid.service.js"></script>
<script type="text/javascript" src="js/core/notify.service.js"></script>
<script type="text/javascript" src="js/core/pager.component.js"></script>
<script type="text/javascript" src="js/core/language.js"></script>
<script type="text/javascript" src="js/core/language-select.component.js"></script>
<script type="text/javascript" src="js/core/share-popover.component.js"></script>
<script type="text/javascript" src="js/core/delete-modal.component.js"></script>
<script type="text/javascript" src="js/core/duplicate-modal.component.js"></script>
<script type="text/javascript" src="js/core/share-modal.component.js"></script>
<script type="text/javascript" src="js/core/pdf-export-settings-modal.component.js"></script>
<script type="text/javascript" src="js/core/table-column-filter.component.js"></script>
<script type="text/javascript" src="js/core/table-column-sort.component.js"></script>
<script type="text/javascript" src="js/core/http-interceptor.service.js"></script>
<script type="text/javascript" src="js/core/dragstart.directive.js"></script>
<script type="text/javascript" src="js/core/drop-target.directive.js"></script>
<script type="text/javascript" src="js/core/editable-text.directive.js"></script>
<script type="text/javascript" src="js/core/time-from-now.filter.js"></script>
<script type="text/javascript" src="js/sidebar/sidebar.module.js"></script>
<script type="text/javascript" src="js/sidebar/sidebar.component.js"></script>
<script type="text/javascript" src="js/inspector/inspector.js"></script>
<script type="text/javascript" src="js/directives/modal.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/about/about.module.js"></script>
<script type="text/javascript" src="js/about/about.routes.js"></script>
<script type="text/javascript" src="js/about/about.controller.js"></script>
<script type="text/javascript" src="js/report/controller.js"></script>
<script type="text/javascript" src="js/report/model.js"></script>
<script type="text/javascript" src="js/report/services/elements.js"></script>
<script type="text/javascript" src="js/report/directives/reportView.js"></script>
<script type="text/javascript" src="js/reports/reports.module.js"></script>
<script type="text/javascript" src="js/reports/constants.js"></script>
<script type="text/javascript" src="js/reports/reports.routes.js"></script>
<script type="text/javascript" src="js/reports/reports.service.js"></script>
<script type="text/javascript" src="js/reports/grid.service.js"></script>
<script type="text/javascript" src="js/reports/pivot.service.js"></script>
<script type="text/javascript" src="js/reports/c3Charts.service.js"></script>
<script type="text/javascript" src="js/reports/map.service.js"></script>
<script type="text/javascript" src="js/reports/xlsx.service.js"></script>
<script type="text/javascript" src="js/reports/filter-prompt.component.js"></script>
<script type="text/javascript" src="js/reports/reports-table.component.js"></script>
<script type="text/javascript" src="js/reports/reports-list-buttons.component.js"></script>
<script type="text/javascript" src="js/reports/reports-import-modal.component.js"></script>
<script type="text/javascript" src="js/reports/report-column-settings-modal.component.js"></script>
<script type="text/javascript" src="js/reports/report-settings-modal.component.js"></script>
<script type="text/javascript" src="js/reports/report-dropzone.component.js"></script>
<script type="text/javascript" src="js/reports/reports-view.controller.js"></script>
<script type="text/javascript" src="js/reports/reports-list.controller.js"></script>
<script type="text/javascript" src="js/dashboards/dashboards.module.js"></script>
<script type="text/javascript" src="js/dashboards/dashboards.routes.js"></script>
<script type="text/javascript" src="js/dashboards/dashboards-view.controller.js"></script>
<script type="text/javascript" src="js/dashboards/dashboards-list.controller.js"></script>
<script type="text/javascript" src="js/dashboards/dashboard-edit.controller.js"></script>
<script type="text/javascript" src="js/dashboards/dashboards-list-buttons.component.js"></script>
<script type="text/javascript" src="js/dashboards/dashboard-image.component.js"></script>
<script type="text/javascript" src="js/dashboards/dashboard-image-modal.component.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources.module.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources.routes.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources-list.controller.js"></script>
<script type="text/javascript" src="js/data-sources/data-sources-edit.controller.js"></script>
<script type="text/javascript" src="js/layers/layers.module.js"></script>
<script type="text/javascript" src="js/layers/layers.routes.js"></script>
<script type="text/javascript" src="js/layers/layer.service.js"></script>
<script type="text/javascript" src="js/layers/layers-list.controller.js"></script>
<script type="text/javascript" src="js/layers/layers-list-buttons.component.js"></script>
<script type="text/javascript" src="js/layers/layers-new-modal.component.js"></script>
<script type="text/javascript" src="js/layer/layerObjectProperties.js"></script>
<script type="text/javascript" src="js/layer/controller.js"></script>
<script type="text/javascript" src="js/users/users.module.js"></script>
<script type="text/javascript" src="js/users/users.routes.js"></script>
<script type="text/javascript" src="js/users/users-list.controller.js"></script>
<script type="text/javascript" src="js/users/users-view.controller.js"></script>
<script type="text/javascript" src="js/users/users-edit-modal.component.js"></script>
<script type="text/javascript" src="js/themes/themes.module.js"></script>
<script type="text/javascript" src="js/themes/theme-select.component.js"></script>
<script type="text/javascript" src="js/themes/theme-link.component.js"></script>
<script type="text/javascript" src="js/roles/roles.module.js"></script>
<script type="text/javascript" src="js/roles/roles.routes.js"></script>
<script type="text/javascript" src="js/roles/roles-list.controller.js"></script>
<script type="text/javascript" src="js/roles/role-edit-modal.component.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/spaces/controller.js"></script>
<script type="text/javascript" src="js/inspector/page_block.js"></script>
<script type="text/javascript" src="js/widgets/reportHtmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/htmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/common.js"></script>
<script type="text/javascript" src="js/io/io.module.js"></script>
<script type="text/javascript" src="js/io/io.routes.js"></script>
<script type="text/javascript" src="js/io/import.controller.js"></script>
<script type="text/javascript" src="js/io/export.controller.js"></script>

<script type="text/javascript" src="layerUtils.js"></script>



<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $(document).on('shown.bs.dropdown', '.dropdown', function (e) {
            const dropdownMenu = $(e.target).find('.dropdown-menu');
            const pos = dropdownMenu.offset();
            var widthMenu = dropdownMenu.width();
            const window_width = $(window).width();
            if (pos.left < 0) {
                dropdownMenu.offset({ top: pos.top, left: 5 })
                dropdownMenu.css('right', 'auto');
            }

            if ((pos.left + widthMenu) > window_width) {
                dropdownMenu.offset({ top: pos.top, left: window_width - widthMenu })
            }
        });
    });
</script>


</html>
