<!DOCTYPE html>
<html id="ng-app" ng-app="widestage-login">


<script src="angular/angular.min.js"></script>
<script>

    function LoginController($scope) {
        $scope.login = function()
        {

        }
    }

</script>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <link type="text/css" rel="stylesheet" href="/css/custom.css">
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.4.0/css/font-awesome.min.css"/>
</head>


<body class="page-body ng-scope login-page" style="background-color:white;">
 <!--
<div ng-view></div> -->


<div class="page-container ng-scope" ng-controller="PublicCtrl">
    <div class="container">
        <div class="login-header">
            <img src="images/urungi.png" alt="">

        </div>
    </div>

    <div class="login-container ng-scope">



        <div class="row">

            <div class="col-sm-6">


                <div class="errors-container">


                </div>

                <form method="post" role="form" id="login" class="login-form fade-in-effect ng-pristine ng-valid in" novalidate="novalidate">
                    <div class="form-group">
                        <!--<label class="control-label" for="username">Username</label>-->
                        <input type="text" class="form-control input-dark" name="username" placeholder="User name" id="username" ng-model="userName" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <!--<label class="control-label" for="passwd">Password</label>-->
                        <input type="password" class="form-control input-dark" name="passwd" id="passwd" placeholder="Password" ng-model="password" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="inline">
                            <input type="checkbox" name="remember_me" ng-model="rememberMe" />
                            <span style="font-weight: normal;color:#ccc"> Remember Me</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <button id="login-btn" ng-click="login()" class="btn  btn-block text-left">
                            <i class="fa fa-lock"></i>
                            Log In
                        </button>
                    </div>
                    <div class="form-group">
                        <!--
                                        <a class="button button-big button-full button-gapps" href="/auth/google">
                                            Log In with Google
                                        </a>
                            -->
                    </div>
                    <div class="alert alert-danger" ng-if="loginError == true">

                        {{errorLoginMessage}}

                    </div>


                </form>



            </div>

        </div>

    </div>
</div>

<div class="page-loading-overlay loaded">
    <div class="loader-2"></div>
</div>




<script src="jquery/dist/jquery.min.js"></script>


 <!-- crypto -->
 <script src="libs/crypto/aes.js"></script>


<!-- route -->
<script  src="angular-route/angular-route.min.js"></script>
<script  src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/login.js"></script>
<script src="angular-socialshare/dist/angular-socialshare.min.js"></script>



<div class="xenon-loading-bar progress-is-hidden">
    <span data-pct="0" style="width: 0px;"></span>
</div>
<textarea tabindex="-1" style="position: absolute; top: -999px; left: 0px; right: auto; bottom: auto; border: 0px; padding: 0px; box-sizing: content-box; word-wrap: break-word; overflow: hidden; transition: none; height: 0px !important; min-height: 0px !important; width: 604px;" class="autosizejs" id="autosizejs"></textarea>





</body>


</html>
