<!DOCTYPE html>
<html id="ng-app" ng-app="widestage-login">


<script src="angular/angular.min.js"></script>
<script>

    function LoginController($scope) {
        $scope.login = function()
        {

        }
    }

</script>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <link type="text/css" rel="stylesheet" href="/css/custom.css">
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.4.0/css/font-awesome.min.css"/>
</head>


<body class="page-body ng-scope login-page" style="background-color:white;">
 <!--
<div ng-view></div> -->


<div class="page-container ng-scope" ng-controller="PublicCtrl">
    <div class="container">
        <div class="login-header">
            <img src="images/logocustom.png" alt="">

        </div>
    </div>

    <div class="login-container ng-scope">



        <div class="row">

            <div class="col-sm-6">


                <div class="errors-container">


                </div>

                <form method="post" role="form" id="login" class="login-form fade-in-effect ng-pristine ng-valid in" novalidate="novalidate">
                    <div class="form-group">
                        <!--<label class="control-label" for="username">Username</label>-->
                        <input type="text" class="form-control input-dark" name="username" placeholder="User name" id="username" ng-model="userName" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <!--<label class="control-label" for="passwd">Password</label>-->
                        <input type="password" class="form-control input-dark" name="passwd" id="passwd" placeholder="Password" ng-model="password" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="inline">
                            <input type="checkbox" name="remember_me" ng-model="rememberMe" />
                            <span style="font-weight: normal;color:#ccc"> Remember Me</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <button ng-click="login()" class="btn  btn-block text-left wst-btn">
                            <i class="fa fa-lock"></i>
                            Log In
                        </button>
                    </div>
                    <div class="form-group">
                        <!--
                                        <a class="button button-big button-full button-gapps" href="/auth/google">
                                            Log In with Google
                                        </a>
                            -->
                    </div>
                    <div class="alert alert-danger" ng-if="loginError == true">

                        {{errorLoginMessage}}

                    </div>


                </form>



            </div>

        </div>

    </div>
</div>

<div class="page-loading-overlay loaded">
    <div class="loader-2"></div>
</div>




<script src="jquery/dist/jquery.min.js"></script>


 <!-- crypto -->
 <script src="libs/crypto/aes.js"></script>


<!-- route -->
<script  src="angular-route/angular-route.min.js"></script>
<script  src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/login.js"></script>
<script src="angular-socialshare/dist/angular-socialshare.min.js"></script>



<div class="xenon-loading-bar progress-is-hidden">
    <span data-pct="0" style="width: 0px;"></span>
</div>
<textarea tabindex="-1" style="position: absolute; top: -999px; left: 0px; right: auto; bottom: auto; border: 0px; padding: 0px; box-sizing: content-box; word-wrap: break-word; overflow: hidden; transition: none; height: 0px !important; min-height: 0px !important; width: 604px;" class="autosizejs" id="autosizejs"></textarea>



<footer class="bs-docs-footer"> <div class="container">
    <div class="contianer-fluid">
        <div class="col-md-4">
            <a href="http://widestage.com"><img src="images/logowidestage.png"></a>
            <br/>
            <a href="https://github.com/widestage/widestage" target="_blank" style="margin-right:10px">GitHub  </a>
            <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fwidestage%2Fwidestage&amp;text=Star&amp;data-count-api=%2Frepos%2Fwidestage%2Fwidestage%23stargazers_count&amp;data-count-href=%2Fwidestage%2Fwidestage%2Fstargazers&amp;data-count-aria-label=%23%20stargazers%20on%20GitHub&amp;data-style=mega&amp;data-icon=octicon-star&amp;aria-label=Star%20widestage%2Fwidestage%20on%20GitHub" style="width: 99px; height: 28px; border: none;"></iframe>


        </div>
        <div class="col-md-8">
            <p style="color:#fff">Designed and built by <a href="https://widestage.com" target="_blank">WideStage Ltd - London UK</a>
            <p style="color:#fff">License GPL 3.0 <a href="https://opensource.org/licenses/GPL-3.0" target="_blank">https://opensource.org/licenses/GPL-3.0</a></p>
            <p style="color:#fff">Share the love <i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></p>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="twitter"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-twitter"></i> twitter
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="facebook"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-facebook"></i> facebook
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="linkedin"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-linkedin"></i> linkedin
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="google"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-google"></i> google
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="delicious"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-delicious"></i> delicious
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="pinterest"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-pinterest"></i> pinterest
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="tumblr"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-tumblr"></i> tumblr
            </a>
            <a class="btn btn-default btn-xs" href="#"
                socialshare
                socialshare-provider="reddit"
                socialshare-text="Widestage open source reporting tool with semantic layer"
                socialshare-hashtags="widestage"
                socialshare-url="http://widestage.com">
                <i class="fa fa-reddit"></i> reddit
            </a>
        </div>

    </div>
    </div>
</footer>

</body>


</html>
