<!DOCTYPE html>
<html id="ng-app" ng-app="app-login">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= base %>/index.html">
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="s/font-awesome/css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="css/login.css">
    <title>Urungi</title>

    <script src="s/jquery/jquery.min.js"></script>
    <script src="s/bootstrap/js/bootstrap.min.js"></script>
    <script src="s/angular/angular.min.js"></script>
    <script src="s/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="s/angular-route/angular-route.min.js"></script>
    <script src="s/angular-gettext/angular-gettext.min.js"></script>
    <script src="s/pnotify-core/PNotify.js"></script>
    <script src="s/pnotify-bootstrap3/PNotifyBootstrap3.js"></script>
    <script src="s/pnotify-fontawesome4/PNotifyFontAwesome4.js"></script>
    <script src="s/moment/moment-with-locales.min.js"></script>
    <script src="s/numeral/numeral.min.js"></script>
    <script src="s/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="s/leaflet/leaflet.js"></script>
    <script src="js/login.js"></script>
    <script src="js/core/core.module.js"></script>
    <script src="js/core/constants.js"></script>
    <script src="js/core/language.js"></script>
    <script src="js/core/session-storage.js"></script>
    <script src="js/core/local-storage.js"></script>
    <script src="js/core/connection.js"></script>
    <script src="js/core/http-interceptor.service.js"></script>
</head>


<body class="page-body ng-scope login-page" style="background-color: white;">

<div class="page-container ng-scope" ng-controller="PublicCtrl">
    <div class="container">
        <div class="login-header">
            <img src="images/urungi.png" class ="logo" alt="">

        </div>
    </div>

    <div class="login-container ng-scope">
        <div class="row">
            <div class="col-sm-6">
                <div class="errors-container">
                </div>

                <form method="post" role="form" id="login" class="login-form fade-in-effect ng-pristine ng-valid in" novalidate="novalidate">
                    <div class="form-group">
                        <input type="text" class="form-control input-dark" name="username" placeholder="{{ 'User name' | translate }}" id="username" ng-model="userName" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-dark" name="passwd" id="passwd" placeholder="{{ 'Password' | translate }}" ng-model="password" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <button id="login-btn" ng-click="login()" class="btn  btn-block text-left">
                            <i class="fa fa-lock"></i>
                            <span translate>Log In</span>
                        </button>
                    </div>

                    <div class="alert alert-danger" ng-if="loginError == true">
                        {{errorLoginMessage}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="page-loading-overlay loaded">
    <div class="loader-2"></div>
</div>




<div class="xenon-loading-bar progress-is-hidden">
    <span data-pct="0" style="width: 0;"></span>
</div>
<textarea tabindex="-1" style="position: absolute; top: -999px; left: 0; right: auto; bottom: auto; border: 0; padding: 0; box-sizing: content-box; word-wrap: break-word; overflow: hidden; transition: none; height: 0 !important; min-height: 0 !important; width: 604px;" class="autosizejs" id="autosizejs"></textarea>

</body>
</html>
