/* #5E6D80 #407C6E */

body {
    color:#6B747C;
    font-family: museo_sans299,sans-serif;
}

.wst-btn {
    background-color: #94C255;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.main-menu-logo {
    background-color: #fff;
    color: #FFFFFF;
}

.wst-main-color {
    color: #94C255;
}

.admin-menu {
    background-color: #72A230;
    color: #fff;
}

.admin-menu:hover {
    background-color: #94C255;
    color: #fff;
}

.profile-env .user-info-sidebar .user-status.is-active {
    background-color: #72A230;
}

.btn-success {
    color: #fff;
    background-color: #72A230;
    border-color: #94C255;
}

.btn-success:hover {
    color: #fff;
    background-color: #94C255 ;
    border-color: #72A230;
}

.btn.btn-success-white {
    background-color: #fff;
    color: #72A230;
    border: 1px solid #72A230;
}

.panel-success {
    border-color: #72A230;
}

.panel.panel-success .panel-heading {
    background-color: #72A230;
    color: #fff;
}

.badge.badge-success {
    background-color: #72A230;
}

.column-box {
    background-color: #94C255;
}

.chart-series-button {
    background-color: #fff;
    color: #94C255;
}

.column-box-close-btn {
    background-color: #72A230;
    color: #94C255;
}

.column-box-agg-btn {
    background-color:white;
    color: #94C255;
}

.columnLink {
    color:#94C255;
}

.panel-success .tree-node-folder {
    color:#94C255;
}

.tree-node-folder:hover {
    color:#72A230;
    background: none;
}

.selectedElement {
    background-color: #72A230;
}

.branded-border-panel {
    border-bottom: 2px solid #72A230;
}

.branded-parent-intro {
    border-bottom: 2px solid #72A230;
}

.branded-strong-label {
    color:#72A230;
}

.branded-label {
    color:#72A230;
}

#objectPanel>menu .on a {
    color: #72A230!important;
}

.panel.panel-secondary .panel-heading {
    background-color: #000;
    color: #fff;
}

#objectPanel>menu a:hover, #objectPanel>menu .on a {
    color: #94C255;
}

.selected-datasource
{
    color:#72A230;
}

.report-selected-btn
{
    background-color: #72A230;
}

.report-unselected-btn
{
    background-color: #fff;
}
