/* #5E6D80 #407C6E */

body {
    color:#000;
    font-family: museo_sans299,sans-serif;
    background-color: #e6e0d9;
}

.list-group-item {
    border-color : #bbbbbb;
}

.wst-btn {
    background-color: #F68010;
}
a.list-group-item{
    color:#000;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #000;
    background-color: #F68010;
    border-color: #F68010;

    font-weight: bold;
}
.main-menu-logo {
    background-color: transparent;
    color: #FFFFFF;
}
.btn.btn-info.pull-right{
    background-color: #0063FF;
}
.wst-main-color {
    color: #e58e26;
}

.admin-menu {
    background-color: transparent;
    color: #000;
}

.admin-menu:hover {
    background-color: #F68010;
    color: #000;
}

.profile-env .user-info-sidebar .user-status.is-active {
    background-color: #0063FF;
}

.btn-success {
    color: #000;
    background-color: transparent;
    border-color: #0063FF;
}

.btn-success:hover {
    color: #000;
    background-color: transparent;
    border-color: #F68010;
}
.btn.btn-success:active{
    color: #000;
    background-color: transparent;
    border-color: #0063FF;
}
.btn.btn-success:focus{
    color: #000;
    background-color: transparent;
    border-color: #0063FF;
}
.btn.btn-success-white {
    background-color: #000;
    color: #0063FF;
    border: 1px solid #0063FF;
}

.panel-success {
    border-color: #3c6382;
}

.panel.panel-success .panel-heading {
    background-color: #f6ebe0;
    border : 1px solid #F68010;
    color: #000;
}

.badge.badge-success {
    background-color: #0063FF;
}

.column-box {
    background-color: #557fc2;
    border: none;
    color: #FFFFFF;

    font-weight: bold;
}

.chart-series-button {
    background-color: #000;
    color: #94C255;
}

.column-box-close-btn {
    background-color: transparent;
    color: #FFFFFF;
}

.column-box-agg-btn {
    background-color: #FFFFFF;
    color: #557fc2;
}

.columnLink {
    color: #F68010;
}

.panel-success .tree-node-folder {
    color: #F68010;
}

.tree-node-folder:hover {
    color: #0063FF;
    background: none;
}

.selectedElement {
    background-color: #0063FF;
}

.branded-border-panel {
    border-bottom: 2px solid #0063FF;
}

.branded-parent-intro {
    border-bottom: 2px solid #0063FF;
}

.branded-strong-label {
    color:#0063FF;
}

.branded-label {
    color:#0063FF;
}

#objectPanel>menu .on a {
    color: white !important;
}

.panel.panel-secondary .panel-heading {
    background-color: #d8e7ff;
    border: 1px solid #0063FF;
    color: #000;
}

#objectPanel>menu a:hover, #objectPanel>menu .on a {
    color: #F68010;
}

.selected-datasource
{
    color: #0063FF;
}

.report-selected-btn
{
    background-color: #a1c5ff;
    border-color: #0063FF;
    border-width: 2px;
}

.report-unselected-btn
{
    background-color: transparent;
}

.query-edit-btn
{
    background-color: #ffb888;
}

.query-edit-btn:hover
{
    background-color: #ffa366;
}