/* #5E6D80 #407C6E */

body {
    color:#000;
    font-family: museo_sans299,sans-serif;
}

.wst-btn {
    background-color: #e58e26;
}
a.list-group-item{
    color:#000;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #000;
    background-color: #e58e26;
    border-color: #e58e26;
}

.main-menu-logo {
    background-color: transparent;
    color: #FFFFFF;
}
.btn.btn-info.pull-right{
    background-color: #3742fa;
}
.wst-main-color {
    color: #e58e26;
}

.admin-menu {
    background-color: #3742fa;
    color: #000;
}

.admin-menu:hover {
    background-color: #e58e26;
    color: #000;
}

.profile-env .user-info-sidebar .user-status.is-active {
    background-color: #3742fa;
}

.btn-success {
    color: #000;
    background-color: #3742fa;
    border-color: #3742fa;
}

.btn-success:hover {
    color: #000;
    background-color: #e58e26 ;
    border-color: #e58e26;
}
.btn.btn-success:active{
    color: #000;
    background-color: #3742fa;
    border-color: #3742fa;
}
.btn.btn-success:focus{
    color: #000;
    background-color: #3742fa;
    border-color: #3742fa;
}
.btn.btn-success-white {
    background-color: #000;
    color: #3742fa;
    border: 1px solid #3742fa;
}

.panel-success {
    border-color: #3c6382;
}

.panel.panel-success .panel-heading {
    background-color: #e58e26;
    color: #000;
}

.badge.badge-success {
    background-color: #3742fa;
}

.column-box {
    background-color: #e58e26;
}

.chart-series-button {
    background-color: #000;
    color: #94C255;
}

.column-box-close-btn {
    background-color: #3742fa;
    color: white;
}

.column-box-agg-btn {
    background-color:white;
    color: #e58e26;
}

.columnLink {
    color: #e58e26;
}

.panel-success .tree-node-folder {
    color: #e58e26;
}

.tree-node-folder:hover {
    color: #3742fa;
    background: none;
}

.selectedElement {
    background-color: #3742fa;
}

.branded-border-panel {
    border-bottom: 2px solid #3742fa;
}

.branded-parent-intro {
    border-bottom: 2px solid #3742fa;
}

.branded-strong-label {
    color:#3742fa;
}

.branded-label {
    color:#3742fa;
}

#objectPanel>menu .on a {
    color: #3742fa!important;
}

.panel.panel-secondary .panel-heading {
    background-color: #3742fa;
    color: #000;
}

#objectPanel>menu a:hover, #objectPanel>menu .on a {
    color: #e58e26;
}

.selected-datasource
{
    color: #3742fa;
}

.report-selected-btn
{
    background-color: #3742fa;
}

.report-unselected-btn
{
    background-color: #e58e26;
}

.query-edit-btn
{
    background-color: #ffb888;
}

.query-edit-btn:hover
{
    background-color: #ffa366;
}