.accordion-heading {
    background-color: #263845;
    color: #8da8b8;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*margin: 0 15px 5px;*/
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

[bl-panels-accordion] .open .accordion-heading {
    background-color: #2f4555;
    margin-bottom: 0;
}

.accordion-heading>.icon {
    float: right;
    pointer-events: none;
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
}

[bl-panels-accordion] .open .accordion-heading>i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

[bl-panels-accordion] .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s cubic-bezier(.35,0,.25,1);
}

[bl-panels-accordion] .open .accordion-body {
    max-height: 600px;
}

#inspector .bl-panel-header {
    border-bottom: 1px solid #263845;
    margin: -10px -10px 15px;
}

#inspector .bl-panel-header>.name {
    padding: 8px 0 8px 8px;
    float: left;
    font-size: 14px;
}

#inspector .bl-panel-header>.bl-panel-btns {
    padding: 8px 12px;
    height: 100%;
    border-left: 1px solid #263845;
    float: right;
}

.btn-block {
    display: block;
    width: 100%;
}

#inspector #background-flyout-panel .btn-block {
    border-radius: 2px;
    border: none;
    outline: 0;
    box-shadow: 0 5px #27496d;
    margin: -5px 0 15px;
}



.panel-box {
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 5px;
}

#inspector #fill-color, #inspector #gradient, #inspector #image {
    width: 30%;
    display: inline-block;
    height: 50px;
    border: 2px solid #3b7694;
    background-color: #263845;
    color: #3b7694;
    border-radius: 3px;
    margin-right: 5px;
    background-image: none;
    cursor: pointer;
}

#inspector .color-picker-trigger {
    width: 100%;
    height: 35px;
    background-image: url(../images/transparent.png);
    cursor: pointer;
}

#inspector #fill-color>.background-box, #inspector #gradient>.background-box, #inspector #image>.background-box {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 7px 0;
}

#inspector #fill-color>.background-box>.icon, #inspector #gradient>.background-box>.icon, #inspector #image>.background-box>.icon {
    font-size: 30px;
}

#inspector #fill-color>.background-name, #inspector #gradient>.background-name, #inspector #image>.background-name {
    margin-top: 5px;
    color: #8da8b8;
    text-align: center;
    font-size: 13px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

#inspector #visibility>.list-inline {
    display: block;
    padding: 0;
    margin-left: 3px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#inspector #visibility>.list-inline>li {
    font-size: 20px;
    background-color: #263845;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    width: 45px;
    height: 40px;
}

#inspector .form-group {
    margin-bottom: 15px;
}


#inspector label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    vertical-align: sub;
    margin: 6px 5px 0 0;
}

.pretty-select {
    background: #263845;
    width: 190px;
    border: 1px solid #2f4555;
    color: #3b7694;
    height: 35px;
    font-size: 13px;
    float: right;
    padding-left: 7px;
}

#inspector #attributes-panel input, #inspector .pretty-input {
    background-color: #263845;
    border: 1px solid #2f4555;
    color: #3b7694;
    display: inline-block;
    width: 190px;
    height: 35px;
    vertical-align: middle;
    padding-left: 10px;
}

#el-class {
    min-height: 35px;
    background-color: #263845;
    cursor: text;
    border: 1px solid #2f4555;
    color: #3b7694;
    display: inline-block;
    width: 190px;
    vertical-align: middle;
    padding: 1px 5px;
    float: right;
}

#el-class>.list-unstyled {
    padding: 1px 5px;
}

#el-class>#addclass-flyout {
    margin-bottom: 6px;
    height: 22px;
}

#el-class>#addclass-flyout>#addclass-input {
    border: 1px solid #2f4555;
    border-radius: 0;
    width: 70%;
    height: 100%;
    outline: 0;
}

#inspector .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#inspector .btn-success {
    color: #fff;
    background-color: #00b588;
    border-color: #009b75;
}

#inspector .btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#el-class>#addclass-flyout>.btn {
    border-radius: 0;
    height: 100%;
    padding: 0 6px;
}

.sp-container {
    top: 0;
    left: 0;
    z-index: 9999994;
    overflow: hidden;
}


.sp-container, .sp-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.sp-alpha, .sp-alpha-handle, .sp-clear, .sp-container, .sp-container button, .sp-container.sp-dragging .sp-input, .sp-dragger, .sp-preview, .sp-replacer, .sp-slider {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-container {
    /* border-radius: 0; */
    background-color: #1c2a33;
    padding: 0;
    display: none;
}


.sp-clear, .sp-color, .sp-container, .sp-container button, .sp-container input, .sp-hue {
    font: 400 12px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.sp-container {
    padding-bottom: 0;
}

.sp-container {
    position: absolute!important;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: -1px 0 2px rgba(0,0,0,.5);
    box-shadow: -1px 0 2px rgba(0,0,0,.5);
}



.sp-container.sp-flat {
    position: relative;
}

.arrow-right {
    width: 0;
    height: 0;
    left: 310px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: fixed;
    border-right: 18px solid #1c2a33;
    display: none;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 10;
}


#inspector .sp-container {
    display: block;
    left: 327px;
    position: fixed!important;
    min-width: 434px;
}

#inspector #background-flyout-panel {
    position: fixed;
    display: block;
    left: 327px;
    top: 130px;
    width: 261px;
    background-color: #1c2a33;
    padding: 10px;
    border-radius: 6px;
    z-index: 5;
    -webkit-box-shadow: -1px 0 2px rgba(0,0,0,.5);
    box-shadow: -1px 0 2px rgba(0,0,0,.5);
}

#inspector #background-arrow {
    left: 309px;
    transition: none;
}

#inspector .img-presets-list li {
    display: inline-block;
    padding: 5px;
}

#inspector #background-flyout-panel #gradientPresets, #inspector #background-flyout-panel #texturePresets {
    display: none;
}

#inspector #background-flyout-panel h5 {
    color: #9b9c9e;
    background-color: #fff;
    margin: 10px -10px;
    padding: 10px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}


#inspector .img-presets-list {
    list-style: none;
    padding: 0;
    max-height: 190px;
    overflow: hidden;
}

#inspector .img-presets-list li {
    display: inline-block;
    padding: 5px;
}

#inspector .img-presets-list li>.preset {
    border: 1px solid #179ede;
    width: 50px;
    height: 50px;
}

.ui-selectmenu-button {
    background: #263845;
    color: #3b7694;
    float: left;
    height: 28px;
    padding: 6px 14px;
    margin-right: 5px;
    border: none;
    border-radius-top-right: 3px;
    border-radius-top-left: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04);
    outline: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

#inspector #el-font-family-button {
    height: 45px;
    padding-top: 11px;
    font-size: 16px;
    text-shadow: 0 1px 2px #000;
}

#inspector #more-fonts {
    background: #263845;
    padding: 8.4px 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04);
}

.ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -999999;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-selectmenu-button span.ui-icon {
    right: .5em;
    left: auto;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

#inspector #more-fonts {
    background: #263845;
    padding: 8.4px 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04);
}

#inspector .icon-box {
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    font-size: 14px;
    margin-right: 3px;
    background: #263845;
    float: left;
    border-radius: 2px;
    line-height: 25px;
    color: #3b7694;
}

#inspector #text-box .italic {
    font-style: italic;
}

#inspector #text-box .underline {
    text-decoration: underline;
}

#inspector #text-box .strike {
    text-decoration: line-through;
}

#inspector #text-box .overline {
    text-decoration: overline;
}

#inspector #el-font-size {
    width: 35%;
    float: left;
    height: 35px;
    background-color: #263845;
    border: none;
    outline: 0;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: #3b7694;
    margin-right: 11px;
}

.pretty-checkbox {
    position: relative;
    display: inline-block;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}

.pretty-checkbox>input[type=checkbox] {
    display: none;
}

.pretty-checkbox>label>span {
    display: block;
    position: absolute;
    left: 0;
    transition-duration: .2s;
    background-color: #263845;
    height: 23px;
    width: 23px;
}

.pretty-checkbox>label {
    cursor: pointer;
    padding: 0 0 13px 26px;
}

.pretty-checkbox>label>.ch-all {
    border: 3px solid #fff;
}

.pretty-checkbox>label>.unch-all {
    border: 3px solid #9b9c9e;
}

.pretty-checkbox>label>.ch-top {
    border-top: 3px solid #fff;
}

.pretty-checkbox>label>.unch-top {
    border-top: 3px solid #9b9c9e;
}

.pretty-checkbox>label>.ch-right {
    border-right: 3px solid #fff;
}

.pretty-checkbox>label>.unch-right {
    border-right: 3px solid #9b9c9e;
}

.pretty-checkbox>label>.ch-bottom {
    border-bottom: 3px solid #fff;
}

.pretty-checkbox>label>.unch-bottom {
    border-bottom: 3px solid #9b9c9e;
}

.pretty-checkbox>label>.ch-left {
    border-left: 3px solid #fff;
}

.pretty-checkbox>label>.unch-left {
    border-left: 3px solid #9b9c9e;
}

.ui-slider {
    position: relative;
    text-align: left;
    background: #263845;
    border-radius: 5px;
    margin: 20px 0 11px;
}

.ui-slider-horizontal {
    height: .6em;
    border-radius: 3px;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #00b588;
    border-radius: 5px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    outline: 0;
    background: #fff;
    transition: height .18s ease,width .18s ease,background-color .28s ease,border .18s ease;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.1em;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0,0,0,.8);
}

#inspector .color-picker-trigger {
    width: 100%;
    height: 35px;
    background-image: url(../images/transparent.png);
    cursor: pointer;
}

#inspector #border-box .color-picker-trigger {
    width: 58%;
    float: left;
    height: 35px;
    margin: 5px 7px 15px 0;
    border-width: 6px;
    border-style: solid;
    background: #263845;
    opacity: .7;
}

#inspector #border-style, #inspector #border-width {
    width: 60%;
    float: left;
    height: 30px;
    margin-top: 15px;
    background-color: #263845;
    border: none;
    outline: 0;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
}

#inspector #border-style {
    padding-left: 7px;
}

#inspector #border-box #border-style {
    width: 38.4%;
    margin: 5px 0 15px;
    height: 35px;
}

#inspector .input-boxes {
    text-align: center;
    height: 112.5px;
}

#inspector .input-boxes .big-box {
    height: 100%;
    padding: 0 5px 0 0;
}

#inspector .input-boxes .big-box>input {
    height: 100%;
}

#inspector .input-boxes .big-box input, #inspector .input-boxes .small-boxes input {
    width: 100%;
    background: #263845;
    border: 1px solid #2f4555;
    padding: 4px;
    text-align: center;
    font-size: 13px;
}

#inspector .input-boxes>.small-boxes>.row {
    height: 35px;
}

#inspector .input-boxes>.small-boxes>.row input, #inspector .input-boxes>.small-boxes>.row>.col-sm-6 {
    height: 100%;
}

#inspector .input-boxes .big-box input, #inspector .input-boxes .small-boxes input {
    width: 100%;
    background: #263845;
    border: 1px solid #2f4555;
    padding: 4px;
    text-align: center;
    font-size: 13px;
}

#inspector .input-boxes>.small-boxes>.row>div {
    margin: 4px 0;
    padding: 0;
}

#inspector .input-boxes>.small-boxes>.row>div:first-of-type {
    padding-right: 2px;
}

#inspector .radius-boxes>.small-boxes>input {
    width: 55px!important;
    margin-bottom: 5px;
    height: 45px;
}

#inspector .radius-boxes>.small-boxes>input:nth-child(1), #inspector .radius-boxes>.small-boxes>input:nth-child(3) {
    margin-right: 2px;
}

#inspector .radius-boxes>.small-boxes {
    padding: 0;
}


#select-box {
    border: 2px solid #179ede;
}

#hover-box, #select-box {
    border: 2px solid #179ede;
    position: absolute;
    padding: 5px;
    pointer-events: none;
    display: none;
    z-index: 4;
}

#hover-box #hover-box-actions,  #hover-box #select-box-actions,  #select-box #hover-box-actions,  #select-box #select-box-actions {
    color: #fff;
    background-color: #179ede;
    padding: 1px 5px 2px;
    font-size: 16px;
    top: -27px;
    left: 0;
    position: absolute;
    text-align: center;
    overflow: hidden;
    max-height: 30px;
    pointer-events: all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

#select-box-actions .element-tag {
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    pointer-events: none;
}

#hover-box #hover-box-actions .icon:first-of-type, #hover-box #select-box-actions .icon:first-of-type, #select-box #hover-box-actions .icon:first-of-type, #select-box #select-box-actions .icon:first-of-type {
    margin-left: 10px;
}

#inspector .container-fluid {
    background-color: #ccc;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 5px;
    color: #000;
}
#inspector .container-fluid  button
{
    border-radius: 0px;
    height: 32px;
}

#element-btn
{
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  background-color: #263845;
  padding: 5px;
}

#element-btn i
{
  font-size: x-large;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding-top: 15px; */
  line-height: 40px;
}

#inspector select
{
    width: 180px;
    height: 30px;
    background-color: #263845;
    border: none;
    outline: 0;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;

}
