.canvas-wide {
    margin-left: 0;
}

.canvas {
    height: 500px;
    max-height: 700px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: scroll !important;
}

.window._jsPlumb_connected {
    border: 2px solid green;
}

.jtk-node {
    cursor: pointer;
    z-index: 11;
    height: 15px;
    width: auto;
}

.window {
    width: 200px;
    cursor: pointer;
    z-index: 20;
    position: absolute;
    color: black;
    font-family: helvetica, serif;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.jtk-field {
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 11;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 0;
    width: 200px;
    background-color: #d5d5d5;
    height: 20px;
}

.jtk-field-icon {
    color: #00a000;
    font-size: 14px;
}

.jtk-field-selected {
    font-size: 14px;
}

.jtk-field-label {
    overflow: hidden;
    font-size: 10px;
    padding-left: 3px;
}

.jtk-header {
    color: #fff;
    background-color: #999;
    border: 1px solid #ccc;
    padding-top: 0;
    cursor: pointer;
    z-index: 11;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 20px;
}
