#logo {
    margin-top: 1em;
    margin-bottom: 3em;
}

#logo img {
    width: 400px;
}

input.form-control {
    background-color: #313334;
    color: #fff;
    font-size: 16px;
}

#login-btn {
    background-color: #de87aa;
}
