/* LOGIN */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.login-page {
    background: #2c2e2f;
    color: #fff;
    padding-top: 10px;
}

.row .login-header {
    padding: 20px;
}

.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.login-container {
    max-width: 960px;
    margin: 0 auto;
}

.login-page .errors-container {
    margin-bottom: 20px;
    padding: 0 30px;
}


.login-page .login-form {
    position: relative;
    padding: 30px;
    margin-bottom: 20px;
}

.login-page .login-form.fade-in-effect {
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-webkit-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
-moz-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
-o-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }


.login-page .login-form.fade-in-effect.in {
    left: 0;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
filter: alpha(opacity=100);
    }

.login-page .login-form .login-header {
    margin-bottom: 40px;
}

.login-page .login-form .login-header .logo {
    display: block;
}


.login-page .login-form .login-header p {
    color: #979898;
    font-size: 13px;
    margin: 0;
    margin-top: 10px;
}


.login-page .login-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.login-page .login-form.fade-in-effect .form-group {
    position: relative;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter: alpha(opacity=0);
-webkit-transition: all 500ms ease-out;
-moz-transition: all 500ms ease-out;
-o-transition: all 500ms ease-out;
transition: all 500ms ease-out;
-webkit-transition-delay: 150ms;
-moz-transition-delay: 150ms;
-o-transition-delay: 150ms;
transition-delay: 150ms;
    }

.login-page .login-form.fade-in-effect.in .form-group {
    top: 0;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
filter: alpha(opacity=100);
    }

.login-page .login-form .form-group .control-label {
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 13px;
    color: #979898;
    cursor: text;
}

.login-page .login-form .form-group .form-control {
    height: 40px;
}

.login-page .login-form .form-group .form-control.input-dark {
    background: #313334;
    border: 1px solid transparent;
    color: #fff;
}

.btn {
    outline: 0;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.btn.text-left {
    text-align: left;
}

.login-page .login-form .form-group .btn {
    padding-top: 11.11111111px;
    padding-bottom: 11.11111111px;
}

.login-page .login-form .form-group .btn.btn-dark {
    border-color: rgba(55, 57, 58, 0.9);
    background-color: #2c2e2f;
    color: #fff;
}

.login-page .login-form .login-footer {
    margin-top: 45px;
}

.login-page .login-form .login-footer a {
    color: #979898;
}

.login-page .login-form .login-footer .info-links {
    font-size: 11px;
    margin-top: 5px;
    color: rgba(151, 152, 152, 0.7);
}

.wst-btn
{
 background-color: #8AC444;
}

.button {
    background: #eee;
    background: -webkit-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    height: 36px;
    line-height: 34px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

.button-full {
    display: block;
    width: 100%;
}

.button-gapps:before {
    background: url(/images/google.svg);
    background-size: cover;
    content: "";
    height: 25px;
    left: 10px;
    position: absolute;
    top: 5px;
    width: 25px;
}

footer {
    background: #2c2e2f;
    padding:25px;
}

footer a {
    color:white;
}
























