.form-horizontal .control-label {
    text-align: right;
    font-weight: normal;
    color: #979898;
    text-decoration: none;
    font-size: 10px;
}

#settingsTab .form-group {
    margin-bottom: 5px;
}

.nd-designer li.on {
    background-color: #3f4652;
}

.designer_modal_window {
    background-color: #FFFFFF !important;
}

.designer-nav a {
    color: #333 !important;
}

/* PAGES START */
.pages-container-default {
    color: #000000;
}
.pages-container-placeholder  {
    border: 1px dashed blue;
    color: #000000;
    padding-bottom: 30px;
}
/* PAGES END */

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    /*border: 2px dashed black !important;*/
    border-top: 2px solid blue !important;
}

.lvl-inside {
    /* applied to a drop target when a draggable object is over it */
    /*border: 2px dashed black !important;*/
    border: 2px solid blue !important;
}

.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    /* background-color: #ddd;
     opacity: .5; */
}

.ndplaceholder {
    position: relative;
    width:100%;
    text-align: center;
    /*padding-left: 20px;
    margin-right: -40px;
      */
    height: 10px;
    background-color: #0f1ca0;
    /*border: 2px dotted #9441a0 !important;*/
}

.selectedImage {
    border: 3px solid #0f1ca0;
}

.selected {
    border: 1px dotted blue !important;
}

.lvl-element {
    border: 1px solid #9441a0 !important;
    /*background-color: #9441a0;
    opacity: .5;*/
}



[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    /*border:1px solid black; */
}


[selected] {
    border:1px solid black;
}

.peg {
    text-align: center;
    font-weight: bold;
    border:1px black solid;
    width: 75px;
    margin: 10px;
}

.slot {
    margin-right:2px;
    margin-top:2px;
    width:25px;
    height:25px;
    display:inline-block;
    border: none;

}

/*.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}*/

pre strong {
    font-size:12pt;
}


.compactHeader #objectPanel {
    padding-top: 19px;
    top: 54px;
}


#panelToolbar {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    background-color: #fff;
    -webkit-transform: translate3d(0,0,0);
}

.frame a {
    color: #666;
}

.frame .buttons a {
    height: 49px;
    line-height: 49px;
    display: inline-block;
    text-align: center;
    width: 50px;
    border-left: 1px solid #ddd;
}

#search {
    position: relative;
    z-index: 12;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: 0 none #fff;
    border-radius: 5px;
    outline: none;
    padding: 11px 15px;
    font-size: 90%;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    box-shadow: 0 0 10px 2px rgba(63,70,82,.67);
}

#selectedTab {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 70px;
    height: 70px;
    background-color: #3f4652;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}



ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

article, blockquote, body, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, li, menu, nav, ol, p, section, ul {
    margin: 0;
    border: 0 none #fff;
    padding: 0;
}



user agent stylesheetli {
    display: list-item;
    text-align: -webkit-match-parent;
}
li.search {
    margin: 0;
    border: 0 none #fff;
    padding: 0;
}




article, blockquote, body, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, li, menu, nav, ol, p, section, ul {
    margin: 0;
    border: 0 none #fff;
    padding: 0;
}

user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

#trashcan {
    display: none;
    z-index: 11;
    color: #fff;
    background: url(https://static.canva.com/static/images/icon_tabs_trashcan.png) 50% 50% no-repeat;
    text-align: center;
    line-height: 12px;
    font-size: .7em;
    position: absolute;
    left: 10px;
    bottom: 133px;
    width: 50px;
    border-radius: 50px;
    height: 60px;
}

#zoomer {
    position: absolute;
    left: 22px;
    bottom: 20px;
    z-index: 11;
    width: 26px;
    height: 92px;
}




#trashcan span {
    text-transform: uppercase;
    position: relative;
    top: 45px;
}

#zoomer a {
    position: absolute;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: rgba(255,255,255,.07);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    line-height: 26px;
    text-align: center;
    transition: background-color .15s linear,-webkit-transform .05s linear;
    transition: background-color .15s linear,transform .05s linear;
}

#zoomText {
    position: absolute;
    left: 50%;
    top: 26px;
    width: 6em;
    margin-left: -3em;
    font-size: 11px;
    text-align: center;
    line-height: 40px;
}

#zoomer a {
    position: absolute;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: rgba(255,255,255,.07);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    line-height: 26px;
    text-align: center;
    transition: background-color .15s linear,-webkit-transform .05s linear;
    transition: background-color .15s linear,transform .05s linear;
}

.results {
    position: absolute;
    left: 0;
    top: 2px;
    bottom: 0;
    width: 100%;
    transition: all .3s ease-out;
}

/* TAB MENU*/
.stage1 .results:nth-child(1), .stage2 .results:nth-child(2), .stage3 .results:nth-child(3), .stage4 .results:nth-child(4), .stage5 .results:nth-child(5) {
    z-index: 11;
}

.stage2 #selectedTab {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
}
.stage3 #selectedTab{-webkit-transform:translateY(140px);transform:translateY(140px)}
.stage4 #selectedTab{-webkit-transform:translateY(210px);transform:translateY(210px)}
.stage5 #selectedTab{-webkit-transform:translateY(280px);transform:translateY(280px)}
/* FIN TAB MENU*/









.browseCategories {
    margin-top: 19px;
    transition: opacity .2s linear;
}



.gallery {
    width: calc(100% + 6px);
    list-style: none;
}

.albumGallery {
    width: calc(100% + 28px);
    margin-top: 8px;
}

.photoGallery, .infoPanelGallery {
    position: relative;
}

.gallery li {
    position: relative;
    /*float: left;*/
    width: 25%;
    font-size: 85%;
    transition: all .3s linear;
}

.photoGallery li, .infoPanelGallery li {
    transition: none;
}



.photoGallery.laidOut li, .infoPanelGallery.laidOut li {
    position: absolute;
    z-index: 3;
    transition: opacity .3s linear,-webkit-transform .3s linear,top .3s ease-out;
    transition: opacity .3s linear,transform .3s linear,top .3s ease-out;
}
.gallery li:first-child {
    z-index: 1000;
}


.searchGroup {
    position: static;
    padding: 6px 0;
}

.searchLoaderHolder {
    display: none;
}





.tabContainer {
    overflow: hidden;
    position: relative;
    transition: height .5s ease;
}

.tabContainer.layoutsTabContainer {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.layoutsTabContainer .tab {
    height: 100%;
}

.tabContainer .tab {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: -webkit-transform .5s ease,opacity .5s ease;
    transition: transform .5s ease,opacity .5s ease;
}

.gallery a {
    display: block;
    position: relative;
    margin: 0 6px 6px 0;
    color: #fff;
    text-decoration: none;
}

.templateGallery a {
    border: 2px solid transparent;
    outline: 2px solid rgba(0,184,217,0);
    transition: box-shadow .3s linear,outline .3s linear;
}

.gallery img {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: auto;
    transition: opacity .15s linear,-webkit-transform .15s linear;
    transition: opacity .15s linear,transform .15s linear;
}

.infoPanelGallery .price {
    display: none;
    position: absolute;
    right: .3em;
    bottom: .4em;
    z-index: 10;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #fff;
    color: #3f4652;
    font-size: 9px;
    font-weight: 600;
    line-height: 9px;
    text-transform: uppercase;
}

.infoPanelGallery *:not(.info)>.price.free {
    display: block;
}

.infoPanelGallery .info>.price {
    display: block;
    top: .3em;
    bottom: auto;
    background-color: rgba(0,0,0,.67);
    color: #fff;
}

.infoPanelGallery .price.free+.info>.price {
    display: none;
}



.textToolbar, .imageToolbar {
    position: absolute;
    z-index: 1002;
    width: auto;
    height: 42px;
    border-radius: 5px;
    padding: 0 4px;
    list-style: none;
    white-space: nowrap;
    background-color: #3f4652;
    color: #fff;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 0 0 2px rgba(255,255,255,.333);
    -webkit-animation: appearingElement .1s;
    animation: appearingElement .1s;
}

.textToolbarFont {
    width: 210px;
}

.textToolbar>li, .imageToolbar>li {
    display: inline-block;
    vertical-align: middle;
}

.textToolbarFontInner {
    width: 210px;
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.textToolbarFontFamily {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 140px;
    height: 40px;
    border: 0 none #fff;
    opacity: 0;
    cursor: pointer;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #99c432;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    min-width: 2.78572em;
    line-height: 2.78572;
    outline: none;
    padding: 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .15s,border-color .15s,color .15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonBlock {
    display: block;
    width: 100%;
}

.uploadButtonAndMessage .fileUploadButton {
    margin: 0 0 .5em;
}

.button:focus{border-color:#83a82b}
.button:hover{background-color:#a5d92b}
.button::-moz-focus-inner{border:0;padding:0}

/*color picker*/

.cp-container .cp-hsvpanel .cp-hsvpanel-sv {
    width: 100px;
}

[contenteditable],
[contenteditable]:focus {
    outline: 0px solid transparent;
}

.designer_control {
    height: 24px;
}

.designer_form_group {
    margin-bottom: 2px;
}

.designer_control_label {
    /*text-align: left;
    font-size: 10px;
    margin-bottom: 0px;
    font-weight: 0;
        font-weight: normal;*/
    text-align: left;
    font-weight: 100;
    color: #fff;
    margin-bottom: 3px;
    font-size: 12px;
}

.designer_modal_window .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.designer_modal_window .modal-dialog .modal-content {
    position: static;

}

.ndContainer {
    min-height: 50px;
}

.draggingOver {
    margin-top:10px;
    margin-bottom:10px;
}

.Block500 {
    width: 100%;
    background-color:#fff;
    border: dotted 3px #002a80;
    min-height: 50px;
    padding:10px;
}

/*JUSTIFIED TABS*/

.nav.nav-tabs > li > a {
    border: none;
    background-color: #f4f4f4;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav.nav-tabs {
    border-bottom: 0;
}

.nav.nav-tabs.nav-tabs-justified, .nav-tabs-justified .nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.nav.nav-tabs > li {
    display: inline-block;
    float: none;
    margin-bottom: 0;
}

.nav.nav-tabs.nav-tabs-justified > li, .nav-tabs-justified .nav.nav-tabs > li {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    text-align: center;
}

.nav.nav-tabs > li > a {
    border: none;
    background-color: #f4f4f4;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav.nav-tabs > li.active > a {
    border: 0;
    background-color: #fff;
}

.nav.nav-tabs + .tab-content {
    background: #FFF;
    padding: 30px;
    margin-bottom: 30px;
}

/*******/

.vAccordion--default v-pane.is-expanded > v-pane-header {
    border-bottom-color: #01D7DE;
    }

.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
    color: #01D7DE;
}

#photoGallery li {
     display: inline;
}

.galleryUploads img {
      display: inline;
      width: 75px;
      height: 75px;
      margin: 2px;
}

.filter_element {

    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}

.prompt-description {
    color: #999999;
    font-style: italic;

}

.prompt-label {
    font-weight: bold;
}

.absolute-center {

/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

}

.report-container {
    height: 100%;
    position: relative;
}
