@media print {
    /** Setting margins */
    @page {
        margin: 10mm 5mm;
    }

    *::before,
    *::after,
    .btn,
    .btn-success,
    button,
    a {
        display: none !important;
    }

    input {
        border-right: 1px solid #ccc !important;
        border-radius: 10px !important;
    }

    .form-group {
        display: none;
    }

    hr {
        break-after: always;
    }

    [ndtype="jumbotron"],
    [ndtype="column"] {
        break-inside: avoid;
    }

    .ndContainer {
        overflow: hidden;
    }
}
