@media print {
    /** Setting margins */
    @page { margin: 2mm; }

    *::before,
    *::after,
    .btn,
    .btn-success,
    button,
    a {
        display: none !important;
    }

    input {
        border-right: 1px solid #ccc !important;
        border-radius: 10px !important;
    }

    .form-group {
        display: none;
    }

    hr {
        page-break-after: always;
    }
}
