.sidebar {
    padding: 20px;
    background-color:rgba(0,0,0,0.5);
    border-right: 0px solid #eee;
}
.container-fluid.mainArea {
    padding-top: 80px;
}

.navbar {
    background-color: #000000;
    border-color: #000000;
}

.navbar-brand {
    padding: 15px;
}

.addNewRow {
    height: 25px;
    border: 1px dotted #0000FF;
    position: absolute;
    background-color:rgba(0,0,255,0.5);
    bottom: 0;
    text-align: center;

}

.selected {
    border: 1px dotted blue !important;
}

.panel-body.dashboard {
    padding: 0px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}

.info-bar {
    background-color: #000;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0px;
    margin-bottom: 30px;
}

.navbar .user-info-menu.left-links {
    float: left;
}

.user-info-navbar .user-info-menu {
    margin: 0;
}

.reportPageBlockDesktop {
    min-height: 400px;
}

.page-container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.page-container .main-content {
    display: table-cell;
    position: relative;
    z-index: 1;
    padding: 30px;
    padding-bottom: 0;
    vertical-align: top;
    word-break: break-word;
    width: 100%;
    -webkit-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.page-container .main-content .page-title.full-width .title-env {
    width: 100%;
    padding-right: 30px;
}
.page-container .main-content .page-title .title-env {
    float: left;
    padding-left: 30px;
}
.page-container .main-content .page-title .title-env, .page-container .main-content .page-title .breadcrumb-env {
    display: block;
}

.page-container .main-content .page-title .title-env .title {
    margin: 0;
    font-size: 27px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

.page-container .main-content .page-title .title-env .title+p {
    margin: 0;
    margin-top: 5px;
    color: #979898;
}

p {
    color: #393a3a;
}

.profile-env {
    margin-bottom: 30px;
}

.profile-env .user-info-sidebar .user-img {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}


a {
    outline: 0!important;
}

.profile-env .user-info-sidebar .user-img img.img-thumbnail {
    padding: 4px;
    border: 0;
}

.profile-env .user-info-sidebar .user-img img {
    display: inline-block;
}

img.img-cirlce {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
}


.profile-env .user-info-sidebar .user-name {
    display: block;
    font-size: 19px;
    text-align: center;
}

.profile-env .user-info-sidebar .user-status.is-online {
    background-color: #8dc63f;
}
.profile-env .user-info-sidebar .user-status {
    position: relative;
    display: inline-block;
    background: #FFF;
    top: -2px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
}

.profile-env .user-info-sidebar .user-title {
    display: block;
    color: #999;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.profile-env .user-info-sidebar .user-info-list {
    display: table;
    margin: 0 auto;
}

.profile-env .user-info-sidebar .user-info-list li i {
    color: #7d7f7f;
    display: inline-block;
    margin-right: 5px;
}

.profile-env .user-info-sidebar .user-friends-count {
    display: table;
    margin: 20px auto;
}

.profile-env .user-info-sidebar .user-friends-count li:first-child {
    padding-left: 0;
}
.profile-env .user-info-sidebar .user-friends-count li {
    position: relative;
    display: table-cell;
    color: #b1b1b1;
    font-size: 12px;
    padding: 0 20px;
}

.profile-env .user-info-sidebar .user-friends-count li:last-child {
    padding-right: 0;
}

.btn.text-left {
    text-align: left;
}
.btn {
    outline: 0;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

[class*=fa-] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.btn-block {
    display: block;
    width: 100%;
}
.btn-success {
    color: #fff;
    background-color: #8dc63f;
    border-color: #80b636;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-env .profile-post-form {
    position: relative;
    background: #fff;
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-bottom: 30px;
}

.profile-env .profile-post-form textarea {
    position: relative;
    resize: none;
    z-index: 1;
    border-bottom: 1px solid #eee;
}

.profile-env .block-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #cacbcb;
}

.profile-env .profile-post-form .form-action-buttons {
    margin: 0;
    margin-top: 15px;
}

.profile-env .profile-post-form .post-story-button {
    float: right;
    margin-top: -17px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: opacity 150ms linear;
    -moz-transition: opacity 150ms linear;
    -o-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(Opacity=0);
    filter: alpha(opacity=0);
}

.profile-env .user-timeline-stories .timeline-story {
    position: relative;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.profile-env .block-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #cacbcb;
}
[class*=fa-] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile-env .user-timeline-stories .timeline-story header {
    color: #979898;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-env .user-timeline-stories .timeline-story header .user-img {
    margin-right: 20px;
    float: left;
}
.profile-env .user-timeline-stories .timeline-story header a {
    color: #646565;
}

.profile-env .user-timeline-stories .timeline-story header .user-img img {
    width: 48px;
}

.profile-env .user-timeline-stories .timeline-story header .user-details {
    display: block;
    padding-top: 5px;
}

.profile-env .user-timeline-stories .timeline-story header a {
    color: #646565;
}

.profile-env .user-timeline-stories .timeline-story header time {
    display: block;
    font-size: 12px;
    color: #b1b1b1;
}

.profile-env .user-timeline-stories .timeline-story .story-content {
    display: block;
    padding-left: 70px;
}

.profile-env .user-timeline-stories .timeline-story .story-content p {
    font-size: 14px;
}

.profile-env .user-timeline-stories .timeline-story .story-options-links {
    padding-top: 10px;
}

.profile-env .user-timeline-stories .timeline-story .story-options-links a {
    display: inline-block;
    color: #979898;
    margin-right: 30px;
}

.profile-env .user-timeline-stories .timeline-story .story-options-links a span {
    display: inline-block;
    zoom: 1;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    -ms-filter: alpha(Opacity=90);
    filter: alpha(opacity=90);
}

.profile-env .user-timeline-stories .timeline-story .story-comments {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 10px;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment {
    margin-top: 10px;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .comment-user-img {
    display: block;
    float: left;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .comment-user-img img {
    width: 32px;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content {
    margin-left: 50px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid #eee;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content .story-comment-user-name {
    display: block;
    font-size: 14px;
    color: #575858;
    margin-bottom: 5px;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content .story-comment-user-name time {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    color: #ddd;
}

.profile-env .user-timeline-stories .timeline-story .story-comments .story-comment .story-comment-content p {
    font-size: 13px;
}
.profile-env .user-timeline-stories .timeline-story .story-content p {
    font-size: 14px;
}

.profile-env .user-timeline-stories .timeline-story .story-checkin {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.profile-env .user-timeline-stories .timeline-story .story-comment-form {
    margin-top: 20px;
}


body {
    background-color: #eee;
}

<!-- INDICATORS -->

widget.xe-counter, .xe-widget.xe-counter-block .xe-upper, .xe-widget.xe-progress-counter .xe-upper {
    background: #fff;
    padding: 28px;
    line-height: 1;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.xe-widget {
    position: relative;
}


.profile-env .user-timeline-stories .timeline-story .story-album {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
}

.profile-env .user-timeline-stories .timeline-story .story-album .col-1 {
    padding-right: 6px;
}
.profile-env .user-timeline-stories .timeline-story .story-album .col-1, .profile-env .user-timeline-stories .timeline-story .story-album .col-2 {
    display: block;
    float: left;
    width: 50%;
}

.profile-env .user-timeline-stories .timeline-story .story-album .col-2 {
    padding-left: 6px;
}
.profile-env .user-timeline-stories .timeline-story .story-album .col-1, .profile-env .user-timeline-stories .timeline-story .story-album .col-2 {
    display: block;
    float: left;
    width: 50%;
}
.vspacer.v2 {
    height: 15px;
}
.vspacer {
    height: 80px;
}

.profile-env .user-timeline-stories .timeline-story .story-options-links {
    padding-top: 10px;
}

/* INDICATOR REPORT STYLE1 */
.xe-widget.xe-counter, .xe-widget.xe-counter-block .xe-upper, .xe-widget.xe-progress-counter .xe-upper {
    background: #fff;
    padding: 0px;
    line-height: 1;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.xe-widget {
    position: relative;
}

.xe-widget.xe-counter .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    width: 1%;
}
.xe-widget.xe-counter .xe-icon, .xe-widget.xe-counter .xe-label, .xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-label {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    padding-top: 18px;
}

.xe-widget.xe-counter.xe-counter-info .xe-icon i, .xe-widget.xe-counter-block .xe-upper.xe-counter-info .xe-icon i, .xe-widget.xe-progress-counter .xe-upper.xe-counter-info .xe-icon i {
    background-color: #40bbea;
    color: #fff;
}
.xe-widget.xe-counter .xe-icon i, .xe-widget.xe-counter-block .xe-upper .xe-icon i, .xe-widget.xe-progress-counter .xe-upper .xe-icon i {
    display: block;
    background: #68b828;
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
}

.xe-widget.xe-counter .xe-icon+.xe-label, .xe-widget.xe-counter-block .xe-upper .xe-icon+.xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon+.xe-label {
    padding-left: 0;
}


.xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num {
    display: block;
    font-size: 28px;
    font-weight: 400;
    color: #3e3f3f;
}

.xe-widget.xe-counter .xe-label span, .xe-widget.xe-counter-block .xe-upper .xe-label span, .xe-widget.xe-progress-counter .xe-upper .xe-label span {
    display: block;
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    color: #979898;
    margin-top: 5px;
}
/*************/

/* INDICATOR REPORT STYLE2 */
.xe-widget.xe-counter-block, .xe-widget.xe-progress-counter {
    color: #fff;
    background: #68b828;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.xe-widget.xe-counter-block .xe-upper, .xe-widget.xe-progress-counter .xe-upper {
    margin: 0;
    border-spacing: 0;
    border: 0;
    background: #68b828;
}


.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    text-align: center;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-label {
    padding-bottom: 0;
}
.xe-widget.xe-counter .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    width: 1%;
}

.xe-widget.xe-counter-block .xe-upper .xe-icon i, .xe-widget.xe-progress-counter .xe-upper .xe-icon i {
    background: #68b828;
    font-size: 32px;
}
.xe-widget.xe-counter .xe-icon i, .xe-widget.xe-counter-block .xe-upper .xe-icon i, .xe-widget.xe-progress-counter .xe-upper .xe-icon i {
    display: block;
    background: #68b828;
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
}

.xe-widget.xe-counter .xe-icon+.xe-label, .xe-widget.xe-counter-block .xe-upper .xe-icon+.xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon+.xe-label {
    padding-left: 0;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-label {
    padding-bottom: 0;
}


.xe-widget.xe-counter .xe-label .num, .xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num {
    display: block;
    font-size: 28px;
    font-weight: 400;
    color: #3e3f3f;
}

.xe-widget.xe-counter-block .xe-upper .xe-label .num, .xe-widget.xe-progress-counter .xe-upper .xe-label .num {
    color: #fff;
}


.xe-widget.xe-counter .xe-label span, .xe-widget.xe-counter-block .xe-upper .xe-label span, .xe-widget.xe-progress-counter .xe-upper .xe-label span {
    display: block;
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    color: #979898;
    margin-top: 5px;
}

.xe-widget.xe-counter-block .xe-upper .xe-label span, .xe-widget.xe-progress-counter .xe-upper .xe-label span {
    color: rgba(255,255,255,.7);
}

.xe-widget.xe-counter-block .xe-lower, .xe-widget.xe-progress-counter .xe-lower {
    padding: 15px 30px;
}

.xe-widget.xe-counter-block .xe-lower .border, .xe-widget.xe-progress-counter .xe-lower .border {
    height: 1px;
    background: rgba(255,255,255,.5);
    margin-bottom: 10px;
}

.xe-widget.xe-counter-block .xe-lower span, .xe-widget.xe-progress-counter .xe-lower span {
    color: rgba(255,255,255,.7);
}
.xe-widget.xe-counter-block .xe-lower span, .xe-widget.xe-counter-block .xe-lower strong, .xe-widget.xe-progress-counter .xe-lower span, .xe-widget.xe-progress-counter .xe-lower strong {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}

.xe-widget.xe-counter-block .xe-lower strong, .xe-widget.xe-progress-counter .xe-lower strong {
    font-weight: 400;
}
.xe-widget.xe-counter-block .xe-lower span, .xe-widget.xe-counter-block .xe-lower strong, .xe-widget.xe-progress-counter .xe-lower span, .xe-widget.xe-progress-counter .xe-lower strong {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}


.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-label {
    padding-bottom: 0;
}

.xe-widget.xe-counter .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    width: 1%;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-label, .xe-widget.xe-progress-counter .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-label {
    padding-bottom: 0;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    text-align: center;
}

.xe-widget.xe-counter .xe-icon, .xe-widget.xe-counter-block .xe-upper .xe-icon, .xe-widget.xe-progress-counter .xe-upper .xe-icon {
    width: 1%;
}


/*************/

/* STYLE 3 */

.chart-item-bg-2 {
    background: #fff;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.chart-item-bg-2>div {
    /*display: table-cell;*/
    padding: 5px;
    padding-left: 20px;
    vertical-align: middle;
}

.chart-item-bg-2 .chart-item-num {
    padding-left: 5px;
    font-size: 90px;
    color: #434444;
    padding-right: 30px;
    white-space: nowrap;
}



/*************/



/*PIVOT*/


.edit-pivot-grid {
    width: 350px;
    padding: 10px;
}

.edit-pivot-grid .first-row {
    width: 350px;


    min-height: 100px;
}

.edit-pivot-grid .second-row {
    width: 350px;


    min-height: 100px;
}

.edit-pivot-grid .first-row .no-drop-square {
    min-height:100px;
    width:175px;

}

.edit-pivot-grid .first-row .column-objects {
    background-color: #cccccc;
    border: 1px solid #000000;
    min-height:100px;
    width:175px;
    padding: 10px;

}

.edit-pivot-grid .second-row .row-objects {
    background-color: #cccccc;
    min-height:100px;
    border: 1px solid #000000;
    padding: 10px;
    width:175px;
}




.edit-pivot-grid .second-row .metric-objects {
    background-color: #faebcc;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    min-height: 100px;
    width:175px;
    padding: 10px;
}

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    border:1px solid black;
}
/**************/


.page-title {
    background: #f8f8f8;
    margin: -30px;
    margin-bottom: 30px;
    padding: 20px 0;
    -webkit-box-shadow: 0 1px 0 rgba(0,1,1,.08),inset 0 1px 0 #ededed;
    -moz-box-shadow: 0 1px 0 rgba(0,1,1,.08),inset 0 1px 0 #ededed;
    box-shadow: 0 1px 0 rgba(0,1,1,.08),inset 0 1px 0 #ededed;
}



/***********ORB************/
.table .num {
    font-size: 0.8em;
    display: inline-block;
    padding: 7px;
    width: 29px;
    text-align: center;
    border-radius: 35px;
    color: #fff;
    font-weight: 700;
    background-color: #d3d3d3;
}

.breadcrumb {
    position: relative;
    font-weight: 700;
    height: 44px;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: -5px;
    background-color: #dddddb;
}
.powerwidget, .powerwidget > div, .inner-spacer:after, .powerwidget-editbox, .clearfix {
    zoom: 1;
}

.breadcrumb ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin: 0 7px 0 14px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 1px;
}

.breadcrumb li a {
    background: #fff;
    display: block;
    height: 28px;
    padding: 5px 10px 8px;
    float: left;
    text-decoration: none;
    color: #555;
    position: relative;
}

.breadcrumb li:first-child a {
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    margin-left: -18px;
}

.breadcrumb .active {
    margin-top: 5px;
    margin-left: 9px;
    color: #777;
}

.breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -14px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 9px solid #fff;
    right: -9px;
}

.breadcrumb li a:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -14px;
    border-width: 14px 0 14px 9px;
    border-style: solid;
    border-color: #fff #fff #fff transparent;
    left: -9px;
}

.breadcrumb li:first-child a:before {
    border: 0;
}

.powerwidget:before, .powerwidget:after, .powerwidget > div:before, .powerwidget > div:after, .inner-spacer:before, .inner-spacer:after, .powerwidget-editbox:before, .powerwidget-editbox:after, .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    position: absolute;
    left: 10px;
    border-radius: 50%;
    font-size: 0;
    background: #969fa1;
    padding: 3px;
    color: #969fa1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 0;
    text-align: center;
    transition: background 0.2s;
}

.jqvmap-zoomin {
    top: 10px;
}

.jqvmap-zoomout {
    top: 45px;
}


/* READ ONLY FORM */

.readOnlyFormFieldAlias {
    font-weight: bold;

}

.readOnlyFormFieldData {
    color: #999999;

}



