{% capture title %}{% t 'Change password' | escape %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block page-header %}
    <span class="h3">{% t 'Change password' | escape %}</span>
{% endblock %}

{% block main %}
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrf }}">

        <div class="form-group">
            <label for="currentPassword" class="control-label">{% t 'Current password' | escape %}</label>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="newPassword" class="control-label">{% t 'New password' | escape %}</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="repeatPassword" class="control-label">{% t 'Repeat new password' | escape %}</label>
            <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" required>
        </div>

        <button class="btn btn-success">{% t 'Confirm' | escape %}</button>
        <a class="btn btn-link" href="users/{{ user.id }}">{% t 'Cancel' %}</a>
    </form>
{% endblock %}
