{% capture title %}{% t 'Users' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/notify' %}

    <script type="module" src="js/user/list.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">{% t 'Users' | escape %}</span>
    <a href="users/new" class="btn btn-success pull-right">{% t 'New User' | escape %}</a>
{% endblock %}

{% block main %}
    <div id="user-list-table-wrapper"></div>
{% endblock %}
