<div class="">

        <form role="form" class="form-inline" name="FORM_filter">
            <!--<p  class="prompt-label">{{filter.promptTitle}}</p>
            <div  class="container-fluid" ng-show="filter.promptInstructions && filter.promptInstructions != ''">
                <p style="padding: 10px 15px;background-color: #cc3f44;color: #ffffff;">{{filter.promptInstructions}}</p>
            </div>-->
            <label class="control-label">{{filter.promptInstructions}}</label>

<div class="form-group" ng-class="{'has-error': filter.promptMandatory == true && (filter.filterText1 == '' || filter.filterText1 == undefined) && isPrompt == 'true'}">


            <!-- and, or, and not, or not-->
                                <div ng-if="filter.condition && isPrompt == 'false'" class="btn-group" dropdown="">
                                    <button type="button" class="btn " ng-bind="filter.conditionLabel"></button>
                                    <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-caret-down"></i>
                                    </button>

                                    <ul ng-if="filter.condition" class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                            <li ng-repeat="theCondition in conditionTypes"><a ng-click="updateCondition(filter,theCondition)" ng-bind="theCondition.conditionLabel"></a></li>
                                        </ul>
                                </div>



                                <input ng-if="isPrompt == 'false'" type="text" class="form-control" ng-model="filter.objectLabel" ng-readonly="true">

           <!-- equal, not equal, bigger than, etc...-->
                                <div ng-if="isPrompt == 'false'" class="btn-group" dropdown="">
                                    <button type="button" class="btn " ng-bind="filter.filterTypeLabel"></button>
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-caret-down"></i>
                                    </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                            <li ng-repeat="option in getElementFilterOptions(filter.elementType)"><a ng-click="setFilterType(filter,option)">{{option.label}}</a></li>
                                        </ul>
                                </div>

            <!-- Date -->
                                <div class="form-group" ng-show="(filter.elementType == 'date' && (filter.filterType != 'null' && filter.filterType != 'notNull'))">

                                    <!--preformated date selector -->
                                    <div class="input-group" dropdown ng-if="filter.elementType == 'date' && (filter.filterType == 'equal-pattern' || filter.filterType == 'diferentThan-pattern' || filter.filterType == 'biggerThan-pattern' || filter.filterType == 'biggerOrEqualThan-pattern' || filter.filterType == 'lessThan-pattern' || filter.filterType == 'lessOrEqualThan-pattern')">
                                         <input placeholder="{{filter.promptTitle}}" type="text" class="form-control no-right-border form-focus-green" ng-model="filter.filterLabel1" ng-readonly="true">
                                        <span class="input-group-btn" >
                                            <span class="dropdown" >
                                                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-caret-down"></i>
                                                </button>
                                                    <ul class="dropdown-menu shorter-menu" aria-labelledby="dropdownMenu4b" >
                                                        <li ng-repeat="option in queryModel.getDatePatternFilters()"><a ng-click="setDatePatternFilterType(filter,option);">{{option.label}}</a></li>

                                                    </ul>
                                          </span>
                                        </span>
                                        <span ng-if="filter.promptMandatory != true || isPrompt == 'false'" class="input-group-btn" >

                                                <button type="button" class="btn btn-white" ng-click="clearFilter(filter)">
                                                    <i class="fa-times"></i>
                                                </button>

                                        </span>

                                     </div>
                                    <!-- date input -->
                                    <div class="input-group" ng-if="(filter.elementType == 'date' && (filter.filterType == 'equal' || filter.filterType == 'diferentThan' || filter.filterType == 'biggerThan' || filter.filterType == 'biggerOrEqualThan' || filter.filterType == 'lessThan'  || filter.filterType == 'lessOrEqualThan' || filter.filterType == 'between'  || filter.filterType == 'notBetween'))" style="width:150px;">

                                    <input type="text" class="form-control no-right-border form-focus-green" ng-model="filter.filterLabel1 | date:'yyyy-MM-dd'" ng-readonly="true">
                                        <span class="input-group-btn" >
                                            <span class="dropdown" >
                                                <a class="btn btn-primary popover-primary ng-scope"  id="dropdown1" role="button" data-toggle="dropdown" data-target="#" ><i class="fa fa-calendar"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <datetimepicker ng-model="filter.filterLabel1"  data-on-set-time="onDateSet(newDate, oldDate, filter)" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day'  }"/>
                                                </ul>
                                            </span>
                                        </span>
                                    </div>


                                    <span ng-show="filter.filterType == 'in' || filter.filterType == 'notIn'">
                                        <!--<span class="filter-in-list" ng-repeat="oneDate in filter.filterText1">
                                            {{oneDate | date:'yyyy-MM-dd'}} <i class="fa fa-remove filter-in-list-remove hand-cursor" ng-click="removeItem(oneDate,filter.filterText1)"></i>
                                        </span>-->

                                    </span>


                                    <!--between for date -->
                                    <span class="filter-label-value" ng-if="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType == 'date'" style="color:#0000FF;"> and </span>

                                    <div class="input-group" ng-if="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType == 'date'" style="width:150px;">
                                    <input type="text" class="form-control no-right-border form-focus-green" ng-model="filter.filterLabel2 | date:'yyyy-MM-dd'" ng-readonly="true">
                                        <span class="input-group-btn" >
                                            <span class="dropdown" >
                                                <a class="btn btn-primary popover-primary ng-scope"  id="dropdown2" role="button" data-toggle="dropdown" data-target="#" ><i class="fa fa-calendar"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <datetimepicker ng-model="filter.filterLabel2"  data-on-set-time="onDateEndSet(newDate, oldDate, filter)" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day'  }"/>
                                                </ul>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <!-- END Date -->

            <!--equal, in, etc ...-->

                                    <div class="input-group" dropdown ng-show="!(filter.filterType == 'null' || filter.filterType == 'notNull') && ( filter.elementType != 'array') && ( filter.elementType != 'date') && (filter.filterType != 'not in') && (filter.filterType != 'in')">
                                         <input placeholder="{{filter.promptTitle}}" type="text" class="form-control no-right-border form-focus-green" ng-model="filter.filterText1" ng-change="inputChanged(filter)"  ng-required="filter.promptMandatory == true" style="height: 30px;border-right: 0px">
                                        <span class="input-group-btn" >
                                            <span class="dropdown" >
                                                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="getDistinctValues(filter)" style="padding: 5px;width: 21px;;background-color: #ddd; border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;" tooltip="Click here to select a value" tooltip-placement="bottom">
                                                    <i class="fa-caret-down"></i>
                                                </button>
                                                    <ul class="dropdown-menu shorter-menu" aria-labelledby="dropdownMenu5b" >
                                                        <li ng-repeat="value in filter.data"><a ng-click="selectSearchValue(value[filter.id])">{{value[filter.id]}}</a></li>
                                                        <li ng-if="filter.promptMandatory != true">
                                                        <a ng-click="clearFilter(filter)">Clear filter</a>
                                                        </li>
                                                    </ul>
                                          </span>
                                        </span>
                                        <span ng-if="filter.promptMandatory != true || isPrompt == 'false'" class="input-group-btn" >

                                                <button type="button" class="btn btn-white" ng-click="clearFilter(filter)" style="padding: 5px;width: 21px;    background-color: #ccc;" tooltip="Click here to clear the selected value" tooltip-placement="bottom">
                                                    <i class="fa-times"></i>
                                                </button>

                                        </span>

                                     </div>


                                <ui-select ng-show="(filter.filterType == 'not in' || filter.filterType == 'in')" multiple  ng-model="filter.searchValue" on-select="filterSelectChanged($item, filter)" on-remove="filterSelectChanged($item, filter)" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                                        <ui-select-match placeholder="{{filter.promptTitle}}">{{$item[filter.id]}}</ui-select-match>
                                        <ui-select-choices refresh="funcAsync(filter,$select.search)" refresh-delay="0" repeat="value in filter.values | filter:$select.search">
                                          {{value[filter.id]}}
                                        </ui-select-choices>
                                </ui-select>

                                <!--between-->
                                <span ng-show="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType != 'date'"><button class="btn" style="margin-right:2px;margin-left:2px">and</button>  <input type="text" class="form-control form-focus-green" ng-model="filter.filterText2" />  </span>



            </div>

        </form>
    <span class="has-error-message" ng-show="filter.promptMandatory == true && (filter.filterText1 == '' || filter.filterText1 == undefined) && isPrompt == 'true'" class="help-inline">This field is required</span>

</div>

