<div class="modal-header">
    <h3>{{urlModalOptions.headerText}} {{urlModalOptions.container}}</h3>
</div>
<div class="modal-body">
    <form class="simple-form" role="form" name="linksForm">
    <div class="form-group">
        <label ng-bind="getTranslation('Resources...')"></label>
        <select name="status" class="form-control" ng-options="obj.value as obj.name for obj in parent"></select>
    </div>

    <div ng-show="urlModalOptions.tracking">
        <div class="form-group" >
             <label ng-bind="getTranslation('Tracking')"></label>
             <select name="status" class="form-control" ng-model="trackActive"></select>
        </div>
        <div class="form-group">
                <label ng-bind="getTranslation('Track name')"></label>
                <input name="url" type="text" class="form-control" ng-model="trackName" ng-required="true" required>
        </div>

        <div class="form-group">
            <label ng-bind="getTranslation('Campaign')"></label>
            <select name="status" class="form-control" ng-options="obj.value as obj.name for obj in parent"></select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error':linksForm.url.$invalid}">
        <label ng-bind="getTranslation('URL')"></label>
        <input name="url" type="text" class="form-control" ng-model="setLinkURL" ng-required="true" required>
        <span ng-show="linksForm.url.$invalid" class="help-inline">{{getTranslation("This is required")}}</span>
    </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn"
            data-ng-click="urlModalOptions.close()">{{urlModalOptions.closeButtonText}}</button>
    <button class="btn btn-primary"
            data-ng-click="urlModalOptions.ok(setLinkURL);">{{urlModalOptions.actionButtonText}}</button>
</div>