<div class="container-fluid">
    <a ng-click="vm.save()" ng-disabled="(!vm._dataSource.type == 'BIGQUERY' && (!vm._dataSource.connection.host || !vm._dataSource.connection.port || !vm._dataSource.connection.database || testingConnection)) || (vm._dataSource.type == 'BIGQUERY' && (!vm._dataSource.connection.database) || vm.testingConnection) " class="btn btn-success pull-right" style="margin-left: 5px;margin-right: 5px;" translate>Save Datasource</a>
    <a href="/#/data-sources" class="btn btn-default  pull-right" translate>Cancel</a>
</div>
<div class="container-fluid">

<div class="tab-pane with-bg" id="fwv-1">

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" translate>Connection Type II</label>
                <select ng-model="vm._dataSource.type" placeholder="Select a datasource type..." id="type" class="form-control">
                    <option label="MySQL" value="MySQL" translate>MySQL</option>
                    <option label="PostgreSql" value="POSTGRE" translate>PostgreSql</option>
                    <option label="MSSQL" value="MSSQL" translate>MSSQL</option>
                    <option label="Google Big query" value="BIGQUERY" translate>Google Big query</option>
                    <option label="Oracle" value="JDBC-ORACLE" translate>Oracle JDBC</option>
                    <option label="Oracle" value="ORACLE" translate>Oracle</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="name" translate>Name</label>
                <input class="form-control" name="name" id="name" ng-model="vm._dataSource.name" data-validate="required" placeholder="Insert here the name for this connection" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12" ng-if="vm._dataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="host" translate>Host</label>
                <input class="form-control" name="host" id="host" ng-model="vm._dataSource.connection.host" data-validate="required" placeholder="Insert here your Host address or IP" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="vm._dataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="port" translate>Port</label>
                <input class="form-control" name="port" id="port" ng-model="vm._dataSource.connection.port" data-validate="required" placeholder="Insert here the port to access the SQL instance" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="database" ng-if="vm._dataSource.type != 'BIGQUERY'" translate>Database</label>
                <label class="control-label" for="database" ng-if="vm._dataSource.type == 'BIGQUERY'" translate>Project ID</label>
                <input class="form-control" name="database" id="database" ng-model="vm._dataSource.connection.database" data-validate="required" placeholder="Set here the name of the SQL Database to connect" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="vm._dataSource.type == 'BIGQUERY'">
                    <div class="form-group">
                        <label class="control-label" for="userName" translate>Google Cloud JSON authorization file</label>
                        <!--<input type="file" class="form-control" id="file" ng-model="vm._dataSource.connection.file">-->
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="vm._dataSource.connection.file" placeholder="Google Cloud JSON authorization file" aria-describedby="basic-addon2">
                            <span class="input-group-addon hand-cursor" id="basic-addon2" ngf-select ngf-change="vm.upload($file)" ngf-multiple="false" ngf-accept="'application/json'">Select File</span>
                        </div>
                        <span ng-if="vm.fileUploadSuccess == true" style="color:green">{{vm.fileUploadMessage}}</span>
                        <span ng-if="vm.fileUploadSuccess == false" style="color:red">{{vm.fileUploadMessage}}</span>
                    </div>
        </div>

        <div class="col-md-12"  ng-if="vm._dataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="userName" translate>User name</label>
                <input class="form-control" name="userName" id="userName" ng-model="vm._dataSource.connection.userName" data-validate="required" placeholder="Set here the username to access the database" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="vm._dataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="password" translate>Password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model="vm._dataSource.connection.password" data-validate="required" placeholder="Set here the username password to access the database" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12" >
            <div class="col-md-6" style="padding:0px">
                <div class="form-group">
                    <label class="control-label" for="password" translate>Data Packet size</label>
                    <input class="form-control" type="number" name="packetSize" id="packetSize" ng-model="vm._dataSource.packetSize" data-validate="required" placeholder="Set here the packet size for this datasource (-1 means get always all data)" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 5px;">
            <a ng-click="vm.doTestConnection()" ng-disabled="!vm.enableTestConnection()" class="btn btn-default pull-right" style="margin-left: 5px;margin-right: 5px;" translate>Test Connection</a>

            <div ng-if="vm.testConnection.message" class="row alert" ng-class="{'alert-success': vm.testConnection.result == 1,'alert-danger': vm.testConnection.result != 1}" >
                {{vm.testConnection.message}}
            </div>
            <div ng-if="vm.testConnection.errorMessage" style="font-size:11px;color:#ccc">
                {{vm.testConnection.errorMessage}}
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="padding: 5px;">


</div>

</div>
