<div class="container-fluid">
    <a ng-click="vm.save()" class="btn btn-success pull-right" style="margin-left: 5px; margin-right: 5px;" translate>Save Datasource</a>
    <a href="/#/data-sources" class="btn btn-default  pull-right" translate>Cancel</a>
</div>
<div class="container-fluid">

<div class="tab-pane with-bg" id="fwv-1">

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" translate>Connection Type II</label>
                <select ng-model="vm._dataSource.type" placeholder="{{ 'Select a datasource type...' | translate }}" id="type" class="form-control">
                    <option label="MySQL" value="MySQL">MySQL</option>
                    <option label="PostgreSql" value="POSTGRE">PostgreSQL</option>
                    <option label="MSSQL" value="MSSQL">MSSQL</option>
                    <option label="Oracle" value="ORACLE">Oracle</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="name" translate>Name</label>
                <input class="form-control" name="name" id="name" ng-model="vm._dataSource.name" data-validate="required" placeholder="{{ 'Insert here the name for this connection' | translate }}" novalidate="novalidate" required="true" aria-describedby="name-error" aria-invalid="false"><span id="name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="host" translate>Host</label>
                <input class="form-control" name="host" id="host" ng-model="vm._dataSource.connection.host" data-validate="required" placeholder="{{ 'Insert here your Host address or IP' | translate }}" novalidate="novalidate" required="true" aria-describedby="host-error" aria-invalid="false"><span id="host-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="port" translate>Port</label>
                <input class="form-control" name="port" id="port" ng-model="vm._dataSource.connection.port" data-validate="required" placeholder="{{ 'Insert here the port to access the SQL instance' | translate }}" novalidate="novalidate" required="true" aria-describedby="port-error" aria-invalid="false"><span id="port-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="database" translate>Database</label>
                <input class="form-control" name="database" id="database" ng-model="vm._dataSource.connection.database" data-validate="required" placeholder="{{ 'Set here the name of the SQL Database to connect' | translate }}" novalidate="novalidate" aria-required="true" aria-describedby="database-error" aria-invalid="false"><span id="database-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="userName" translate>User name</label>
                <input class="form-control" name="userName" id="userName" ng-model="vm._dataSource.connection.userName" data-validate="required" placeholder="{{ 'Set here the username to access the database' | translate }}" novalidate="novalidate" aria-required="true" aria-describedby="username-error" aria-invalid="false"><span id="username-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="password" translate>Password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model="vm._dataSource.connection.password" data-validate="required" placeholder="{{ 'Set here the username password to access the database' | translate }}" novalidate="novalidate" aria-required="true" aria-describedby="password-error" aria-invalid="false"><span id="password-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12" style="padding: 5px;">
            <a ng-click="vm.doTestConnection()" ng-disabled="!vm.enableTestConnection()" class="btn btn-default pull-right" style="margin-left: 5px; margin-right: 5px;" translate>Test Connection</a>

            <div ng-if="vm.testConnection.message" class="row alert" ng-class="{'alert-success': vm.testConnection.result == 1,'alert-danger': vm.testConnection.result != 1}" >
                {{vm.testConnection.message}}
            </div>
            <div ng-if="vm.testConnection.errorMessage" style="font-size: 11px; color: #ccc;">
                {{vm.testConnection.errorMessage}}
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="padding: 5px;">


</div>

</div>
