<div id="parentIntro" intro-help ng-intro-method="vm.showIntro"  ng-intro-options="vm.IntroOptions" class="container-fluid root-container">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid branded-border-panel" >
                    <h3 class="pull-left" translate>Data sources</h3>
                    <a id="newDataSourceBtn" href="/#/data-sources/new" class="btn btn-success pull-right" uib-tooltip="{{'Click here to create a new data source' | translate}}" tooltip-placement="bottom" translate>New Data Source</a>
                    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" uib-tooltip="{{ 'Click here to conduct the guided tour for data sources' | translate}}" tooltip-placement="bottom"><i class="fa fa-map"></i></a>
                </div>

                <div id="datasourceList" class="list-group" ng-init="vm.getDataSources(1,'',['name','type','connection.host','connection.port','connection.database'])">
                    <a id="datasourceListItem" href="/#/data-sources/{{dts._id}}" class="list-group-item" ng-repeat="dts in vm.items">
                        <span id="datasourceListItemType" class="pull-right branded-label" >{{dts.type}}</span>
                        <h4 id="datasourceListItemName" class="list-group-item-heading" uib-tooltip="{{ 'Click here to see or set data source details' | translate}}">{{dts.name}} </h4>
                        <p id="datasourceListItemDetails" class="list-group-item-text">

                            <label class="small" style="margin-right: 5px" translate>host: </label>{{dts.connection.host}}
                            <label class="small" style="margin-right: 5px" translate>port: </label>{{dts.connection.port}}
                            <label class="small" style="margin-right: 5px" translate>database: </label>{{dts.connection.database}}
                        </p>
                    </a>
                </div>

                <div class="container-fluid">
                     <ul ng-if="vm.pager.pages.length" class="pagination">
                        <li ng-class="{disabled:vm.pager.currentPage === 1}">
                            <a ng-click="vm.getDataSources(1,'',['name','type','connection.host','connection.port','connection.database'])" translate>First</a>
                        </li>
                        <li ng-class="{disabled:vm.pager.currentPage === 1}">
                            <a ng-click="vm.getDataSources(vm.pager.currentPage - 1,'',['name','type','connection.host','connection.port','connection.database'])" translate>Previous</a>
                        </li>
                        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                            <a ng-click="vm.getDataSources(vm.page,'',['name','type','connection.host','connection.port','connection.database'])">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                            <a ng-click="vm.getDataSources(vm.pager.currentPage + 1,'',['name','type','connection.host','connection.port','connection.database'])" translate>Next</a>
                        </li>
                        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                            <a ng-click="vm.getDataSources(vm.pager.totalPages,'',['name','type','connection.host','connection.port','connection.database'])" translate>Last</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
