<div class="modal-header ng-scope">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" translate>Change password for {{vm.username}}</h4>
</div>

<div class="modal-body ng-scope">
    <div class="panel panel-default" style="background-color: #eee;">
        <div class="panel-body">
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                <label for="oldPassword" class="control-label" translate>Old password</label>
                                <input type="{{vm.inputType}}" id="pwdOld" class="form-control input-passwd" placeholder="{{ 'Old password' | translate }}" ng-model="vm.user.pwdOld" required>
                            </div>
                            <div class="form-group"> 
                                <label for="newPassword" class="control-label" translate>New password</label>
                                <input type="{{vm.inputType}}" id="pwdNew1" class="form-control input-passwd" placeholder="{{ 'New password' | translate }}" ng-model="vm.user.pwdNew1" required>
                            </div>
                            <div class="form-group">
                                <label for="repeatPassword" class="control-label" translate>Repeat new password</label>
                                <input type="{{vm.inputType}}" id="pwdNew2" class="form-control input-passwd" placeholder="{{ 'Repeat new password' | translate }}" ng-model="vm.user.pwdNew2" required>
                            </div>    
                        </div>
                </div>                  
                <div>
                    <input type="checkbox" id="togglePasswordVisibility" ng-click="vm.togglePasswordVisibility()">
                    <label for="togglePasswordVisibility" class="control-label" translate>Show Passwords</label>
                </div>
                    
                <div class="container-fluid">
                    <button type="button" class="btn btn-info ng-pristine ng-valid pull-right"  ng-click="vm.submitNewPassword()" translate>Save</button>
                    <button type="button" class="btn btn-white pull-right" ng-click="vm.dismiss()" translate>Close</button>
                </div>
            </form>
            <div ng-if="vm.alertMessage && vm.alertMessage != ''" class="alert alert-danger">{{ vm.alertMessage }}</div>
        </div>
    </div>
</div>
