<h2>Export layers, reports and dashboards </h2>

<div class="container-fluid branded-border-panel"  ng-init="initExport()">

        <h5>Layers</h5>

        <ul>
            <li ng-repeat="layer in layers">
                <div>
                    <input type="checkbox" ng-model="layer.checked">
                    <span> {{layer.name}}</span>
                </div>
            </li>
        </ul>

        <i>Required Layers for chosen reports and dashboards will be included automatically, there is no need to include them manually.</i>
        </br>
        </br>

        <h5>Reports</h5>

        <ul>
            <li ng-repeat="report in reports">
                <div>
                    <input type="checkbox" ng-model="report.checked">
                    <span> {{report.reportName}}</span>
                </div>
            </li>
        </ul>

        <h5>Dashboards</h5>

        <ul>
            <li ng-repeat="dashboard in dashboards">
                <div>
                    <input type="checkbox" ng-model="dashboard.checked">
                    <span> {{dashboard.dashboardName}}</span>
                </div>
            </li>
        </ul>
    
    <input type="text" ng-model="exportName">
    .json
    </br>
    <button class="btn btn-success" ng-click="downloadExport()">export</button>
    </br>
    <a class="btn btn-default" href="/#/home">back</a>
    
</div>

