<div class="container-fluid root-container">
    <div class="row">
        <div class="main col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="main col-md-9">
            <div class="page-header">
                <h3 translate>Export layers, reports and dashboards</h3>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <details class="details" open>
                            <summary translate>Layers</summary>

                            <div class="dropdownExport">
                                <div class="checkbox" ng-repeat="layer in vm.layers">
                                    <label>
                                        <input type="checkbox" ng-model="layer.checked">
                                        {{layer.name}}
                                    </label>
                                </div>
                                <p class="help-block" translate>
                                    Required layers for chosen reports and dashboards will be included automatically, there is no need to include them manually.
                                </p>
                            </div>
                        </details>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <details class="details" open>
                            <summary translate>Reports</summary>

                            <div class="dropdownExport">
                                <div class="checkbox" ng-repeat="report in vm.reports">
                                    <label>
                                        <input type="checkbox" ng-model="report.checked">
                                        {{report.reportName}}
                                    </label>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <details class="details" open>
                            <summary translate>Dashboards</summary>

                            <div class="dropdownExport">
                                <div class="checkbox" ng-repeat="dashboard in vm.dashboards">
                                    <label>
                                        <input type="checkbox" ng-model="dashboard.checked">
                                        {{dashboard.dashboardName}}
                                    </label>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="vm.exportName">
                            <span class="input-group-addon">.json</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" ng-click="vm.downloadExport()" translate>Export</button>
                </div>
            </div>
        </div>
    </div>
</div>
