<div class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-9">
            <div class="page-header">
                <h3 translate>Import layers, reports and dashboards</h3>
            </div>

            <h4 translate>Step 1 - Choose file to import</h4>
            <div class="btn btn-default" ngf-select="vm.upload($file)" translate>Select file...</div>

            <div ng-if="vm.checkingFile">
                <i class="fa fa-spinner fa-fw fa-spin"></i>
                <span translate>Checking file</span>

                <uib-progressbar value="vm.checkProgressValue" max="vm.checkProgressMax"></uib-progressbar>
            </div>

            <p ng-if="vm.checkError" class="text-danger">
                <span translate>Error:</span>
                <span>{{ vm.checkError.message | translate }}</span>
            </p>

            <div ng-if="vm.step >= 2">
                <h4 translate>Step 2 - Confirm import</h4>

                <form ng-if="vm.importBundle" name="vm.form" ng-submit="vm.doImport()" novalidate>
                    <details ng-open="!vm.importStarted">
                        <summary translate>Data sources</summary>

                        <div class="form-group" ng-repeat="ds in vm.importBundle.datasources" ng-class="{ 'has-error': vm.form['datasource-' + ds.doc._id].$invalid }">
                            <label class="control-label">Datasource matching {{ds.doc.name}}</label>
                            <select class="form-control" name="datasource-{{ ds.doc._id }}" ng-model="vm.datasourceMatch[ds.doc._id]" ng-options="ds as ds.name for ds in vm.localDatasources track by ds._id" required>
                                <option value=""></option>
                            </select>
                            <span class="help-block" ng-if="vm.form['datasource-' + ds.doc._id].$error.required">This field is required</span>
                        </div>
                    </details>

                    <details ng-open="!vm.importStarted">
                        <summary translate>Layers</summary>

                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="layer in vm.importBundle.layers" ng-class="{ warning: !layer.valid }">
                                        <td>{{ layer.doc.name }}</td>
                                        <td>
                                            <div ng-if="!layer.valid">
                                                <div class="text-warning" ng-repeat="error in layer.errors">{{ error | translate }}</div>
                                            </div>
                                            <div ng-if="layer.valid">
                                                <div ng-if="layer.exists">
                                                    <span class="text-info" translate>Already exists. Overwrite ?</span>
                                                    <input type="checkbox" ng-model="layer.overwrite">
                                                </div>
                                                <div ng-if="!layer.exists">
                                                    <span class="text-success">OK</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>

                    <details ng-open="!vm.importStarted">
                        <summary translate>Reports</summary>

                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="report in vm.importBundle.reports" ng-class="{ warning: !report.valid }">
                                        <td>{{ report.doc.reportName }}</td>
                                        <td>
                                            <div ng-if="!report.valid">
                                                <div class="text-warning" ng-repeat="error in errors">{{ error | translate }}</div>
                                            </div>
                                            <div ng-if="report.valid">
                                                <div ng-if="report.exists">
                                                    <span class="text-info">Already exists. Overwrite ?</span>
                                                    <input type="checkbox" ng-model="report.overwrite">
                                                </div>
                                                <div ng-if="!report.exists">
                                                    <span class="text-success">OK</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>

                    <details ng-open="!vm.importStarted">
                        <summary translate>Dashboards</summary>

                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dashboard in vm.importBundle.dashboards" ng-class="{ warning: !dashboard.valid }">
                                        <td>{{ dashboard.doc.dashboardName }}</td>
                                        <td>
                                            <div ng-if="!dashboard.valid">
                                                <div class="text-warning" ng-repeat="error in dashboard.errors">{{ error | translate }}</div>
                                            </div>
                                            <div ng-if="dashboard.valid">
                                                <div ng-if="dashboard.exists">
                                                    <span class="text-info">Already exists. Overwrite ?</span>
                                                    <input type="checkbox" ng-model="dashboard.overwrite">
                                                </div>
                                                <div ng-if="!dashboard.exists">
                                                    <span class="text-success">OK</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="vm.importStarted" translate>Start import</button>
                    </div>
                </form>
            </div>

            <div ng-if="vm.step >= 3">
                <h4 translate>Step 3 - Import</h4>

                <uib-progressbar value="vm.importProgressValue" max="vm.importProgressMax"></uib-progressbar>

                <div class="well" style="height: 300px; overflow-y: auto;">
                    <div ng-class="'text-' + message.type" ng-repeat="message in vm.messages track by $index">{{ message.text | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
