{% capture title %}{% t 'Reports' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/introjs'  %}
    <script defer src="s/moment/moment-with-locales.min.js"></script>
    <script defer src="s/numeral/numeral.min.js"></script>
    <script defer src="s/clipboard/clipboard.min.js"></script>
    <link rel="stylesheet" href="s/jstree/themes/default/style.min.css" />
    <script defer src="s/jstree/jstree.min.js"></script>
    <script type="module" src="js/report/list.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">
        {% t 'Reports' | escape %}
        <a id="showIntroButton" class="btn btn-link"><i class="fa fa-question-circle-o"></i></a>
    </span>
    <a class="btn btn-success pull-right" id="new-report-button" href="reports/new">{% t 'New report' | escape %}</a>
{% endblock %}

{% block main %}
    <div id="report-list-table-wrapper"></div>
{% endblock %}
