{% capture title %}{% t 'Layers' %}{% endcapture %}
{% layout 'layout/layout' title: title %}

{% block head %}
    {% render 'partials/notify' %}
    {% render 'partials/introjs'  %}
    <script defer src="s/angular/angular.min.js"></script>
    <script defer src="s/angular-sanitize/angular-sanitize.min.js"></script>
    <script defer src="s/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    {% render 'partials/ng/core' %}
    {% render 'partials/ng/ui-bootstrap' %}
    {% render 'partials/ng/table' %}
    {% render 'partials/ng/layer-list' %}
{% endblock %}

{% block content %}
    <div class="container-fluid root-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'sidebar' %}
            </div>

            <div class="main col-md-9" ng-app="app.layer-list">
                <app-layer-list></app-layer-list>
            </div>
        </div>
    </div>
{% endblock %}
