{% capture title %}{% t 'Layers' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/introjs'  %}

    <script type="module" src="js/layer/list.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">
        {% t 'Layers' | escape %}
        <a id="showIntroButton" class="btn btn-link"><i class="fa fa-question-circle-o"></i></a>
    </span>
    <a class="btn btn-success pull-right" id="layer-new-button">{% t 'New layer' | escape %}</a>
{% endblock %}

{% block main %}
    <div id="layer-list-table-wrapper"></div>
{% endblock %}
