<div ng-show="!reportInterface" id="parentIntro" class="explorer-main-container" >

<div class="explorer-container">
    <app-theme-link theme="selectedDashboard.theme"></app-theme-link>

    <div class="explorer-header">
        <a href="./" class="btn-home">
            <i class="fa fa-home"></i>
        </a>
        <div class="explorer-header-title">
            <h3 app-editable-text="selectedDashboard.dashboardName">{{ selectedDashboard.dashboardName }}</h3>
        </div>

        <div class="explorer-header-buttons btn-group">
                <button type="button" class="btn btn-default" id="saveDashboardBtn" data-ng-click="saveDashboardAndStay()" translate>Save</button>
                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a id="saveAndPreviewDashboardBtn" data-ng-click="saveDashboardAndPreview()" translate>Save and preview</a>
                    <a id="saveAndQuitDashboardBtn" data-ng-click="saveDashboardAndQuit()" translate>Save and quit</a>
                  </li>
                </ul>
            <a ng-click="vm.goBack();" class="btn btn-default" uib-tooltip="{{'Click here to cancel and backtrack' | translate}}" tooltip-placement="bottom" translate>Cancel</a>
        </div>

    </div>


    <div class="explorer-body">

    <section page-block ndType="page" ng-show="!queryInterface" id="designArea" class="scrollPane multiPage rendered dashboard-container" style="padding: 10px;" app-drop-target=".Block500, #designArea" drop-accept="text/html" on-drop="vm.onDrop($event, dropTarget)" ng-mouseover="vm.onPageBlockMouseOver($event)">

    </section>

    <section id="objectPanel" class="dashboard-edit-object-panel" data-num-cols="4" ng-init="tabs.selected = 'reports'">
        <menu>
            <li ng-class="{'on': tabs.selected == 'settings'}">
                <a ng-click="tabs.selected = 'settings'">
                    <i class="fa fa-gear"></i>
                </a>
            </li>
            <li id="searchTabButton" class="search hand-cursor" ng-class="{'on': tabs.selected == 'reports'}">
                <a ng-click="tabs.selected = 'reports'">
                    <span class="objectPanel-menu-label" translate>Reports</span>
                    <i class="fa fa-bar-chart fa-2" aria-hidden="true" style="margin-left: 0; margin-right: 5px;"> </i>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'prompts'}" >
                <a ng-click="tabs.selected = 'prompts'">
                    <span class="objectPanel-menu-label" translate>Run time filters</span>
                    <i class="fa fa-filter fa-2" aria-hidden="true"></i>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'layouts'}" >
                <a ng-click="tabs.selected = 'layouts'">
                    <span class="objectPanel-menu-label" translate>Layouts</span>
                    <i class="fa fa-file-image-o fa-2" aria-hidden="true"></i>
                </a>
            </li>
        </menu>
    <section class="content">

        <section id="settingsTab" ng-show="tabs.selected == 'settings'">
                <form>
                    <div class="form-group">
                        <label translate>Theme</label>
                        <app-theme-select theme="selectedDashboard.theme" on-change="selectedDashboard.theme = theme"></app-theme-select>
                    </div>
                    <div class="form-group">
                        <label translate>Preview size</label>
                        <input type="number" ng-model="selectedDashboardLimit.value" class="form-control">
                        <div class="help-block" translate>This limits the number of rows fetched in order to get a preview quickly. Set to 0 to disable.</div>
                    </div>
                    <button ng-click="Redraw()" class="btn btn-sm btn-default">
                      <i class="fa fa-refresh"></i>
                      <span translate>Redraw</span>
                    </button>
                </form>

                <app-inspector element="selectedElement" dashboard="selectedDashboard" on-change="onChangeElementProperties"></app-inspector>
        </section>

        <section id="reportsTab" ng-show="tabs.selected == 'reports'">
            <button class="btn btn-info btn-sm" ng-click="newReport()" translate>New Report</button>
            <button class="btn btn-info btn-sm" ng-click="importReport()" translate>Import Report</button>

            <div ng-repeat="item in selectedDashboard.reports" draggable="true" app-dragstart="vm.onReportDragStart($event, item)" id="{{item.id}}" ng-mouseenter="vm.onReportMouseEnter($event)" ng-mouseleave="vm.onReportMouseLeave($event)" class="dashboard-report-list-item" ng-class="{hovered: vm.hovered[item.id]}">
                <span>
                    <img draggable="false" ng-if="item.reportType == 'grid'" src="images/grid.png" data-pin-nopin="true">
                    <img draggable="false" ng-if="item.reportType == 'chart-line'" src="images/chart_line.png" data-pin-nopin="true">
                    <img draggable="false" ng-if="item.reportType == 'chart-donut' || item.reportType == 'chart-pie'" src="images/chart_donut.png" data-pin-nopin="true">
                    <img draggable="false" ng-if="item.reportType == 'indicator'" src="images/indicator.png" data-pin-nopin="true">
                    <img draggable="false" ng-if="item.reportType == 'gauge'" src="images/gauge.png" data-pin-nopin="true">
                </span>

                <div style="width: 100%;">
                    <span app-editable-text="item.reportName" style="color: white;">{{ item.reportName }}</span>
                    <br/>
                    <a id="reportListItemDeleteBtn" href="" class="pull-right  list-button btn-delete" ng-click="deleteReport(item.id,item.reportName)"  uib-tooltip="{{ 'Click here to delete this report' | translate }}" tooltip-placement="bottom">
                        <i class="fa fa-trash-o "  ></i>
                    </a>
                    <a id="reportListItemEditBtn" class="pull-right  list-button" ng-click="loadReport(item)"  uib-tooltip="{{ 'Click here to edit this report' | translate }}" tooltip-placement="bottom">
                        <i class="fa fa-pencil" ></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="promptsTab" ng-show="tabs.selected == 'prompts'">
            <div ng-repeat="prompt in getPrompts()" draggable="true" app-dragstart="vm.onFilterPromptDragStart($event, prompt)" style="margin-bottom: 5px; margin-top: 5px; display: flex; align-items: center; border: 1px white solid; border-radius: 5px;" id="{{item.id}}" class="dashboard-filter-prompt-item">
                <span>
                    <i class="fa fa-filter"></i>
                    <i class="fa fa-question"></i>
                </span>
                {{ getColumnDescription(prompt) }}
            </div>
        </section>

        <section id="resultsLayout" ng-show="tabs.selected == 'layouts'">
            <div class="searchLoaderHolder"></div>
            <div class="searchGroup hasContent">
                <div class="gallery infoPanelGallery templateGallery laidOut">

                    <div>
                        <div class="col-md-6" style="padding: 0; padding-right: 1px;">
                            <div id="element-btn" draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'paragraph')">
                                <i class="fa fa-paragraph"></i>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 0; padding-left: 1px;">
                            <div id="element-btn" draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'heading')">
                                <i class="fa fa-header"></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="col-md-6" style="padding: 0; padding-right: 1px;">
                            <div id="element-btn" draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'image')">
                                <i class="fa fa-picture-o"></i>

                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 0; padding-left: 1px;">
                            <div id="element-btn" draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'video')">
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                    </div>

                    <div data-color="jumbotron" effect-allowed="copy"  style="margin-bottom: 5px;" draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'jumbotron')">
                        <img draggable="false" src="images/layout_jumbotron.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, '4colscta')" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout_4cols_cta.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, '3colscta')" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout_3cols_cta.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, '2colscta')" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout_2cols_cta.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'imageTextLarge')" style="margin-bottom: 5px;">

                        <img draggable="false" src="images/layout_block_image_text_large.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'textImageLarge')" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout_block_text_image_large.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'divider')" uib-tooltip="{{'This divider defines a page-break for printing'| translate}}" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout_featurete_divider.png" style="width: 100%">
                    </div>

                    <div draggable="true" app-dragstart="vm.onLayoutDragStart($event, 'pageHeader')" style="margin-bottom: 5px;">
                        <img draggable="false" src="images/layout-page-header.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </section>

    </section>

        <div class="arrow-right" id="color-picker-arrow"></div>
        <div class="arrow-right" id="background-arrow"></div>

    </section>
</div>
    </div>
</div>

<div ng-show="reportInterface" id="reportModal" ng-controller="ReportEditController" ng-include src="reportModal"></div>

<nd-modal id="dashboardNameModal">
    <div class="modal-body">
        <form class="simple-form" role="form" name="dashboardForm">
            <div class="form-group">
                <label translate>Dashboard Name</label>
                <input name="dashboardName" type="text" class="form-control" ng-model="selectedDashboard.dashboardName" ng-required="true" required >
                <span ng-show="dashboardForm.dashboardName.$invalid" class="help-inline" translate>The dashboard name is required</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="dashboardNameSave()" ng-disabled="reportForm.$invalid" class="btn btn-primary submit-btn pull-right" translate>Save</button>
        <button type="button" class="btn pull-right" data-dismiss="modal" translate>Cancel</button>
    </div>
</nd-modal>

<div id="previewContainer" ng-show="false"></div>
