<nd-modal id="chartModal" style="width:700px;">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Chart properties</h4>
    </div>

    <div class="modal-body ng-scope">
        <div class="row">
        <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="field-3" class="control-label">Chart Title</label>

                    <input type="text" class="form-control" id="field-3"  ng-model="selectedChart.title">
                </div>
            </div>

            <div class="col-md-6">
                    <label for="field-4" class="control-label">Axis data source</label>
                    <select id="field-4b" class="form-control" ng-model="selectedChart.query" ng-options="obj.name as obj.name for obj in queries"
                    ng-change="onChartPropertiesChanged()"></select>
                    <select id="field-4" class="form-control" ng-model="selectedChart.dataColumns" ng-options="obj.object.elementName as obj.label for obj in allPageColumns"
                                            ></select>
            </div>
        </div>

        <h4 class="modal-title">Chart columns <small><a ng-click="selectedChart.dataColumns.push({id:'',type:'line',color:''})">Add new</a></small></h4>

        <div class="row" ng-repeat="datacolumn in selectedChart.dataColumns">
            hello
            <!-- line Type -->
            <div class="col-md-4">
                Type
                <select id="field-5" class="form-control" ng-model="datacolumn.type" ng-options="obj.name as obj.name for obj in lineChartColumnTypes"
                                            ng-change="onChartPropertiesChanged(column)"></select>
            </div>
            <!-- Data source -->
            <div class="col-md-4">
                Data source
                <select id="field-6" class="form-control" ng-model="datacolumn.object" ng-options="obj.object as obj.label for obj in allPageMetricColumns"
                                            ng-change="onChartSelectedObjectChanged(datacolumn)"></select>
            </div>
            <!-- color -->
            <div class="col-md-4">
                Color
                <select id="field-7" class="form-control" ng-model="datacolumn.color" ng-options="obj.value as obj.name for obj in colors"
                                            ng-change="onChartPropertiesChanged(column)"></select>
            </div>

            <!--show axis x-->

            <!--show axis y-->

            <!--
            Stacked bar chart
            <chart-group group-values="data 1,data 2"/>
            -->

            <!--
            <chart-events on-click-data="showClick(data)"/>
            -->

        </div>
            </div>
             <!--<div class="col-md-8">  chart preview
             </div>-->
        </div>

    </div>

    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info"  ng-click="applyChartSettings()">Apply changes</button>
    </div>
</nd-modal>
