<section class="layer scrollPane">
<div style="width: 180px;">

            <button class="button buttonBlock fileUploadButton" ng-click="newQuery()">New Query</button>

            <div ng-if="prompts.length > 0" style="padding-top;5px;padding-bottom:5px;">
            <div style="border-bottom:2px solid #fff">Filters</div>

                <div class="filter_element" ng-repeat="filter in prompts" draggable="true" effect-allowed="copy" draggable-type="custom-object" draggable-data="{
                               elementName: filter.elementName,
                               elementType: filter.elementType,
                               name: (filter.collectionID+'_'+filter.elementName+filter.aggregation).toLowerCase(),
                               objectType: 'queryFilter',
                               objectLabel: filter.objectLabel,
                               datasourceID:filter.datasourceID,
                               collectionID:filter.collectionID,
                               queryName:query.name,
                               elementID: filter.elementID}">
                            <i class="fa fa-filter"></i>
                            {{filter.promptTitle}}
                </div>
            </div>

            <v-accordion class="vAccordion--default" multiple ng-repeat="query in queries">
                <v-pane >
                    <v-pane-header style="margin-bottom:2px;">
                      <!--<a ng-click="loadQS(query)" style="color:#fff;">{{query.name}}</a>-->
                        {{query.name}}
                    </v-pane-header>

                    <v-pane-content>
                        <table>
                            <tr>
                                <td>
                                  <button class="btn btn-danger btn-xs"  ng-click="deleteQuery(query)" style="width:90px;"><i class="fa fa-trash"></i> Delete</button>
                                </td>
                                <td>
                                  <button class="btn btn-primary btn-xs" ng-click="loadQS(query)" style="width:90px;"><i class="fa fa-pencil"></i> Edit</button>
                                </td>
                            </tr>

                        </table>
                        <div ng-repeat="column in query.columns" draggable="true" effect-allowed="copy" draggable-type="custom-object" draggable-data="{
                               elementName: column.elementName,
                               elementType: column.elementType,
                               name: (column.collectionID+'_'+column.elementName+column.aggregation).toLowerCase(),
                               objectType: 'queryColumn',
                               objectLabel: column.objectLabel,
                               datasourceID:column.datasourceID,
                               collectionID:column.collectionID,
                               queryName:query.name,
                               elementID: column.elementID}">
                            <i class="fa fa-cube" ng-show="column.elementType != 'number' && column.elementType != 'count'"></i>
                            <i class="fa fa-list-ol" ng-show="column.elementType == 'number' || column.elementType == 'count'"></i>
                            {{column.objectLabel}}
                        </div>


                    </v-pane-content>
                </v-pane >
            </v-accordion>
    </div>
</section>
