<div class="container-fluid" style="padding-bottom: 5px;padding-top: 5px;height: 40px;">
    <a ng-if="selectedPage && ((selectedPage.owner == user._id) || isWSTADMIN)" href="/#/pages/edit/{{selectedPage._id}}"  class="btn btn-success pull-right" style="margin-right: 5px">Edit Page</a>
    <a ng-if="selectedPage && ((selectedPage.owner == user._id) || isWSTADMIN)" ng-click="publishPage()"  class="btn btn-success pull-right" style="margin-right: 5px">Publish</a>
    <a ng-click="goBack()" class="btn btn-default pull-right">Cancel</a>
</div>
<div class="container-fluid branded-border-panel" >
    <h3 ng-bind="selectedPage.pageName"></h3>
</div>

<div class="container" id="pageViewer" ng-init="loadHTML()">


</div>

<div ng-include src="publishModal"></div>
