<table class="table table-striped">
    <colgroup>
        <col style="width: 40%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col style="width: 15%;">
        <col ng-if="!vm.hideButtons" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                <span translate>Name</span>
                <app-table-column-sort on-sort="vm.onSort('reportName', $dir)" sort-dir="vm.sortDir['reportName']"></app-table-column-sort>
            </th>
            <th>
                <span translate>Layer</span>
                <app-table-column-sort on-sort="vm.onSort('layerName', $dir)" sort-dir="vm.sortDir['layerName']"></app-table-column-sort>
            </th>
            <th>
                <span translate>Author</span>
                <app-table-column-sort on-sort="vm.onSort('author', $dir)" sort-dir="vm.sortDir['author']"></app-table-column-sort>
            </th>
            <th>
                <span translate>Created on</span>
                <app-table-column-sort on-sort="vm.onSort('createdOn', $dir)" sort-dir="vm.sortDir['createdOn']"></app-table-column-sort>
            </th>
            <th ng-if="!vm.hideButtons"></th>
        </tr>
        <tr>
            <td>
                <app-table-column-filter on-filter="vm.onFilter('reportName', $value)"></app-table-column-filter>
            </td>
            <td>
                <app-table-column-filter on-filter="vm.onFilter('layer.name', $value)"></app-table-column-filter>
            </td>
            <td>
                <app-table-column-filter on-filter="vm.onFilter('author', $value)"></app-table-column-filter>
            </td>
            <td></td>
            <td ng-if="!vm.hideButtons"></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="report in vm.reports">
            <td>
                <a ng-href="reports/view/{{ report._id }}" ng-click="vm.select($event, report)">{{ report.reportName }}</a>
                <div class="badge-list">
                    <span ng-if="report.isPublic" class="badge" translate>public</span>
                    <span ng-if="report.isShared" class="badge" translate>shared</span>
                </div>
            </td>
            <td>{{ report.layerName }}</td>
            <td>{{ report.author }}</td>
            <td>{{ report.createdOn | date }}</td>
            <td ng-if="!vm.hideButtons"><app-reports-list-buttons report="report" on-delete="vm.refresh()" on-duplicate="vm.refresh()"></app-reports-list-buttons></td>
        </tr>
    </tbody>
</table>

<app-pager current-page="vm.currentPage" total-pages="vm.pages" on-page-change="vm.goToPage(page)"></app-pager>
