<div ng-if="vm.creationAuthorised" class="btn-group btn-group-sm pull-right">
    <button class="btn btn-silver"
        uib-tooltip="{{ 'Share' | translate }}"
        uib-popover-template="'share-popover.html'"
        popover-title="{{ 'Share to...' | translate }}"
        popover-trigger="'outsideClick'"
        popover-placement="left"
        popover-append-to-body="true"
    >
        <i class="fa fa-share-alt"></i>
    </button>

    <a class="btn btn-silver" ng-href="reports/edit/{{ vm.report._id }}" uib-tooltip="{{ 'Edit this report' | translate }}" tooltip-placement="bottom">
        <i class="fa fa-pencil"></i>
    </a>

    <button class="btn btn-silver" ng-click="vm.openDuplicateModal()" uib-tooltip="{{ 'Duplicate this report' | translate}}" tooltip-placement="bottom">
        <i class="fa fa-copy"></i>
    </button>

    <button class="btn btn-danger" ng-click="vm.openDeleteModal()" uib-tooltip="{{ 'Delete this report' | translate}}" tooltip-placement="bottom">
        <i class="fa fa-trash-o"></i>
    </button>
</div>

<script type="text/ng-template" id="share-popover.html">
    <app-share-popover item="vm.report" publish="vm.publish" unpublish="vm.unpublish" share="vm.share" unshare="vm.unshare" get-copy-link="vm.getCopyLink"></app-share-popover>
</script>
