<div class="container-fluid " ng-init="getRoles()"  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">

        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid" style="border-bottom: 2px solid #72A230;margin-bottom: 10px">
                    <h3 class="pull-left" >Roles</h3>
                    <a ng-click="newRole()" class="btn btn-success pull-right">New Role</a>
                </div>

                <div class="list-group">
                    <a ng-click="view(role._id)" class="list-group-item" ng-repeat="role in items">
                        <h4 class="list-group-item-heading" ng-bind="role.name"></h4>
                        <p class="list-group-item-text" ng-bind="role.description"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="roleModal"></div>