<div class="container-fluid root-container" ng-init="getRoles(1,'',['name','description'])">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">

        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid branded-border-panel" >
                    <h3 class="pull-left" translate>Roles</h3>
                    <a ng-click="newRole()" class="btn btn-success pull-right" translate>New Role</a>
                </div>

                <div class="list-group">
                    <a ng-click="view(role._id)" class="list-group-item" ng-repeat="role in items">
                        <h4 class="list-group-item-heading" ng-bind="role.name"></h4>
                        <p class="list-group-item-text" ng-bind="role.description"></p>
                    </a>
                </div>
                <div class="container-fluid">
                     <ul ng-if="pager.pages.length > 1" class="pagination">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getRoles(1,'',['name','description'])" translate>First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getRoles(pager.currentPage - 1,'',['name','description'])" translate>Previous</a>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="getRoles(page,'',['name','description'])">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getRoles(pager.currentPage + 1,'',['name','description'])" translate>Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getRoles(pager.totalPages,'',['name','description'])" translate>Last</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="roleModal"></div>
