<script type="text/ng-template" id="role_grant_renderer.html">
    <div data-nodrag  ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-white btn-xs btn-round" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="fa"
                ng-class="{
          'fa-chevron-right': collapsed,
          'fa-chevron-down': !collapsed
        }"></span></a>
        {{node.title}}

        <div class="pull-right" >
                                   <!--ng-checked="checkIfChecked(node,'reports')" -->
            <input type="checkbox" ng-model="node.executePages" class="pull-right" style="width:60px" ng-click="clickedExecutePagesForTheNode(node)">
            <input type="checkbox" ng-model="node.executeReports" class="pull-right" style="width:60px" ng-click="clickedExecuteReportsForTheNode(node)">
            <input type="checkbox" ng-model="node.executeDashboards"  class="pull-right" style="width:60px" ng-click="clickedExecuteDashboardsForTheNode(node)">
            <input type="checkbox" ng-model="node.shareReports"  class="pull-right" style="width:60px" ng-click="clickedShareReportsForTheNode(node)">


        </div>
    </div>
    <ol data-nodrag ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li data-nodrag  ng-repeat="node in node.nodes" ui-tree-node ng-include="'role_grant_renderer.html'">
        </li>
    </ol>
</script>


<nd-modal id="roleModal">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Role</h4>
    </div>

    <div class="modal-body ng-scope" ng-init="tabbed_panel_active = 1">
        <div class="panel panel-default panel-tabs" style="background-color: #EEEEEE">

            <div class="panel-heading">
                <h3 class="panel-title"></h3>

                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': tabbed_panel_active == 1}" class="active">
                            <a  ng-click="tabbed_panel_active = 1" translate>General</a>
                        </li>
                        <li  ng-class="{'active': tabbed_panel_active == 2}" class="">
                            <a  ng-click="tabbed_panel_active = 2" translate>Shared space permissions</a>
                        </li>

                    </ul>


                </div>
            </div>
            <div class="panel-body">

                <div class="tab-content" >
                    <div class="tab-pane " ng-class="{'active': tabbed_panel_active == 1}">
                    <div class="container-fluid" >

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="field-3" class="control-label" translate>Role name</label>
                                        <input id="field-3" class="form-control" ng-model="_Role.name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">


                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="field-5" class="control-label" translate>Description</label>
                                        <textarea ng-model="_Role.description" class="form-control autogrow" id="field-5"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <label class="control-label" translate>Permissions</label>

                                        <table class="table table-bordered table-striped table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th translate>Create reports</th>
                                                    <td style="text-align: center"><input type="checkbox" ng-model="_Role.reportsCreate"></td>
                                                </tr>
                                                <tr>
                                                    <th translate>Create dashboards</th>
                                                    <td style="text-align: center"><input type="checkbox" ng-model="_Role.dashboardsCreate"></td>
                                                </tr>
                                                <tr>
                                                    <th translate>Create pages</th>
                                                    <td style="text-align: center"><input type="checkbox" ng-model="_Role.pagesCreate"></td>
                                                </tr>
                                                <tr>
                                                    <th translate>Explore data</th>
                                                    <td style="text-align: center"><input type="checkbox" ng-model="_Role.exploreData"></td>
                                                </tr>
                                                <tr>
                                                    <th translate>See SQL</th>
                                                    <td style="text-align: center"><input type="checkbox" ng-model="_Role.viewSQL"></td>
                                                </tr>
                                            </tbody>
                                        </table>





                                    </div>


                                </div>
                            </div>

                    </div>  <!--container-fluid-->

                </div>  <!--tab 1-->

                    <div   class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
                        <div class="row tree-node-content">
                            <span  class="pull-right" style="width:60px;font-size: 10px;overflow: hidden" translate>Execute pages</span>
                            <span  class="pull-right" style="width:60px;font-size: 10px;overflow: hidden" translate>Execute reports</span>
                            <span  class="pull-right" style="width:60px;font-size: 10px;overflow: hidden" translate>Execute dashboards</span>
                            <span  class="pull-right" style="width:60px;font-size: 10px;overflow: hidden" translate>Share</span>
                        </div>
                        <div ui-tree id="tree-root">
                            <ol ui-tree-nodes ng-model="sharedSpace">
                                <li ng-repeat="node in sharedSpace" ui-tree-node ng-include="'role_grant_renderer.html'"></li>
                            </ol>
                        </div>
                    </div> <!--tab 2-->


                </div> <!--tab content-->
            </div> <!--body-->
        </div><!--panel-->
    </div>

    <div ng-if="roleEditingWarning && roleEditingWarning != ''" class="alert-block">{{roleEditingWarning}}</div>

    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-info pull-right"  ng-click="save()" style="margin-right: 3px" translate>Save</button>
        <button type="button" class="btn btn-white  pull-right" data-dismiss="modal" style="margin-right: 3px" translate>Cancel</button>
    </div>
</nd-modal>
