<div ng-show="!reportInterface" id="parentIntro" class="explorer-main-container" >

<div class="explorer-container">

    <div class="explorer-header" ng-init="initForm()">

        <div class="explorer-header-title">
            <h3 class="pull-left" editable-text="selectedDashboard.dashboardName">{{ selectedDashboard.dashboardName }}</h3>
        </div>

        <div class="explorer-header-buttons">
            <a id="saveDashboardBtn" data-ng-click="dashboardName()" class="btn btn-success" style="margin-left: 5px" uib-tooltip="{{'Click here to save the dashboard changes' | translate}}" tooltip-placement="bottom" translate>Save</a>

            <a ng-click="goBack();" class="btn btn-default" uib-tooltip="{{'Click here to cancel and backtrack' | translate}}" tooltip-placement="bottom">Cancel</a>
        </div>

    </div>


    <div class="explorer-body">

        <div id="select-box" ng-hide="dragging" >

        </div>

    <section page-block ndType="page" ng-show="!queryInterface" id="designArea" drop="onDrop($data, $event, 'order')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" class="scrollPane multiPage rendered ng-scope" style="padding:10px;">

    </section>

    <section id="objectPanel" class="dashboard-edit-object-panel" data-num-cols="4" ng-init="tabs.selected = 'reports'">


        <div class="object-panel-header">
                        <div class="object-panel-header-icon" ng-click="tabs.selected = 'settings'" ng-class="{'active': tabs.selected == 'settings'}">
                            <i class="fa fa-gear" ></i>
                        </div>
                        <div class="object-panel-header-inner">


                        </div>

        </div>

        <menu>
            <li id="searchTabButton" class="search hand-cursor" ng-class="{'on': tabs.selected == 'reports'}">
                <a ng-click="tabs.selected = 'reports'">
                    <i class="fa fa-bar-chart fa-2" aria-hidden="true" style="margin-left:0px;margin-right:5px;"> </i>
                    <div class="objectPanel-menu-label" translate>Reports</div>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'prompts'}" >
                <a ng-click="tabs.selected = 'prompts'">
                    <i class="fa fa-filter fa-2" aria-hidden="true"></i>
                    <div class="objectPanel-menu-label" translate>Run time<br/>Filters</div>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'layouts'}" >
                <a ng-click="tabs.selected = 'layouts'">
                    <i class="fa fa-file-image-o fa-2" aria-hidden="true"></i>
                    <div class="objectPanel-menu-label" translate>Layouts</div>
                </a>
            </li>
        </menu>
    <section  class="content">

        <section id="settingsTab" class="results infinite ng-hide" ng-show="tabs.selected == 'settings'">

            <section class="layer scrollPane">
                <div class="layer-inner-reports">

                    <div id="limit-panel">
                        <span style="color:#fff;" translate>Quick display with</span>
                        <input type="number" ng-model="selectedDashboardLimit.value" size="8">
                        <span style="color:#fff;" translate>results.</span>
                        <button style="padding: 3px 10px;" ng-click="Redraw();" class="btn btn-default">
                          <i class="fa fa-refresh hand-cursor"></i>
                          <span translate>Redraw</span>
                        </button>
                    </div>

                    <app-inspector element="selectedElement" properties="selectedReport.properties" dashboard="selectedDashboard" on-change="onChangeElementProperties"></app-inspector>

                </div>
            </section>
            <div class="scrollTrack vScrollTrack">
                <div class="scrollThumb" style="height: 72px; transform: translateY(0px);"></div>
            </div>
            <div class="scrollTrack hScrollTrack">
                <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
            </div>
        </section>

        <section id="reportsTab" class="results infinite ng-hide" ng-show="tabs.selected == 'reports'">
            <section class="layer scrollPane">
                <div class="layer-inner-reports">
                    <div class="container-fluid" >
                        <button class="btn btn-info pull-right" ng-click="newReport()" translate>New Report</button>
                        <button class="btn btn-info pull-right" ng-click="importReport()" translate>Import Report</button>
                    </div>
                    <div ng-repeat="item in selectedDashboard.reports" draggable="true" draggable-type="custom-object" draggable-data="{objectType: 'report',reportID:'{{item.id}}'}" style="margin-bottom: 5px; margin-top: 5px;        display: flex;align-items: center;border: 1px white solid;border-radius: 5px; " id="{{item.id}}" class="">

                        <span style="padding: 2px;border-right: 2px white solid;margin-right: 5px;background-color: white;">
                            <img ng-if="item.reportType == 'grid'" src="images/grid.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-line'" src="images/chart_line.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-donut' || item.reportType == 'chart-pie'" src="images/chart_donut.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-bar'" src="images/chart_bar.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'indicator'" src="images/indicator.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'gauge'" src="images/gauge.png" data-pin-nopin="true">
                        </span>
                        <div style="width:100%">
                        <span style="color: white; font-size: 10px; width:100%;text-align: left" editable-text="item.reportName">{{ item.reportName }}</span>
                            <br/>
                        <!--<button class="btn btn-small" style="display: inline-block;
        color: #979898;
        margin-left: 7px;
        line-height: 1;">x</button>-->
                            <a id="reportListItemDeleteBtn" href="" class="pull-right  list-button btn-delete" ng-click="deleteReport(item.id,item.reportName)"  uib-tooltip="{{ 'Click here to delete this report' | translate }}" tooltip-placement="bottom">
                                <i class="fa fa-trash-o "  ></i>
                            </a>
                            <a id="reportListItemEditBtn" class="pull-right  list-button" ng-click="loadReport(item)"  uib-tooltip="{{ 'Click here to edit this report' | translate }}" tooltip-placement="bottom">
                                <i class="fa fa-pencil" ></i>
                            </a>
                            </div>

                           <!-- <img src="images/layout_block_image_text_large.png" width="200" height="50" style="height: 50px;" data-pin-nopin="true"> -->
                    </div>
                </div>

            </section>
            <div class="scrollTrack vScrollTrack">
                <div class="scrollThumb" style="height: 72px; transform: translateY(0px);"></div>
            </div>
            <div class="scrollTrack hScrollTrack">
                <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
            </div>
        </section>
        <section id="promptsTab" class="results infinite twoCol" ng-show="tabs.selected == 'prompts'">
            <section class="layoutsTabContainer tabContainer">
                <section class="tab">
                    <section class="layer scrollPane">
                        <div class="layer-inner-reports">
                            <div ng-repeat="prompt in getPrompts()" draggable="true" draggable-type="custom-object"
                            draggable-data="{objectType: 'queryFilter', promptID:'{{prompt.id + prompt.filterType}}'}"
                            style="margin-bottom: 5px; margin-top: 5px;        display: flex;align-items: center;border: 1px white solid;border-radius: 5px; "
                            id="{{item.id}}" class="dashboard-filter-prompt-item">
                              <span>
                                  <i class="fa fa-filter"></i>
                                    <i class="fa fa-question"></i>
                              </span>
                                {{prompt.objectLabel}}
                            </div>
                        </div>

                    </section>
                    <div class="scrollTrack vScrollTrack">
                        <div class="scrollThumb" style="height: 15px; transform: translateY(0px);"></div>
                    </div>
                    <div class="scrollTrack hScrollTrack">
                        <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
                    </div>
                </section>
            </section>
        </section>
        <section id="resultsLayout" class="results infinite twoCol" ng-show="tabs.selected == 'layouts'">
        <section class="layoutsTabContainer tabContainer">
            <section class="tab">
                <section class="layer scrollPane">
                    <div class="layer-inner">
                        <div class="searchLoaderHolder"></div>
                        <div class="searchGroup hasContent" style="height: 2872px;">
                            <div class="row gallery infoPanelGallery templateGallery laidOut" style="padding-left: 25px;">

                                <div  style="width:200px">
                                    <div class="col-md-6" style="padding:0px;padding-right:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'paragraph'}"  >
                                            <i class="fa fa-paragraph"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding:0px;padding-left:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'heading'}"  >
                                            <i class="fa fa-header"></i>
                                        </div>
                                    </div>
                                </div>

                                <div  style="width:200px">
                                    <div class="col-md-6" style="padding:0px;padding-right:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'image'}"  >
                                            <i class="fa fa-picture-o"></i>

                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding:0px;padding-left:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'video'}"  >
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div>

                                <div data-color="jumbotron" effect-allowed="copy"  style="margin-bottom: 5px" draggable="true" draggable-type="custom-object" id="5c025c3c-2dcb-a4b4-488a-01dbf3e54fbc" draggable-data="{
                                    objectType: 'jumbotron'}">
                                    <img src="images/layout_jumbotron.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '4colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4c0" class="">

                                    <img src="images/layout_4cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>

                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '3colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4c0" class="">

                                    <img src="images/layout_3cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '2colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4dd" class="">

                                    <img src="images/layout_2cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'imageTextLarge'}"  style="margin-bottom: 5px"  id="953bd17f-45d8-9daf-3bde-92f4809bdf07" class="">

                                    <img src="images/layout_block_image_text_large.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object" draggable-data="{objectType: 'textImageLarge'}" style="margin-bottom: 5px" id="b512bcc4-dd1d-2a33-2246-69671ae9430d">

                                    <img src="images/layout_block_text_image_large.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object" uib-tooltip="{{'This divider defines a page-break for printing'| translate}}" draggable-data="{objectType: 'divider'}" style="margin-bottom: 5px"  id="4f8c0bca-7d8f-9bad-2354-309b48a37764">

                                    <img src="images/layout_featurete_divider.png" width="200" height="15" style="height: 15px;width: 200px;">
                                </div>
                                <!--
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'tabs'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">

                                    <img src="images/tabs.png" width="200" height="50" style="height: 50px;">
                                </div>
                                -->
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'pageHeader'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">
                                    <img src="images/layout-page-header.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <!--
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'definitionList'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">
                                    <img src="images/layout-definition-list.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div> -->



                            </div>
                        </div>
                    </div>
                </section>
                <div class="scrollTrack vScrollTrack">
                    <div class="scrollThumb" style="height: 15px; transform: translateY(0px);"></div>
                </div>
                <div class="scrollTrack hScrollTrack">
                    <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
                </div>
            </section>
        </section>
    </section>

    </section>

        <div class="arrow-right" id="color-picker-arrow"></div>
        <div class="arrow-right" id="background-arrow"></div>

    </section>
</div>
    </div>
</div>

<div ng-show="reportInterface" id="reportModal" ng-controller="reportCtrl" ng-include src="reportModal"></div>

<nd-modal id="dashboardNameModal">
    <div class="modal-body">
        <form class="simple-form" role="form" name="dashboardForm">
            <div class="form-group">
                <label translate>Dashboard Name</label>
                <input name="dashboardName" type="text" class="form-control" ng-model="selectedDashboard.dashboardName" ng-required="true" required >
                <span ng-show="dashboardForm.dashboardName.$invalid" class="help-inline" translate>The dashboard name is required</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="dashboardNameSave()" ng-disabled="reportForm.$invalid" class="btn btn-primary submit-btn pull-right" translate>Save</button>
        <button type="button" class="btn pull-right" data-dismiss="modal" translate>Cancel</button>
    </div>
</nd-modal>

<file-modal></file-modal>

<div id="previewContainer" ng-show="false"></div>
