<div ng-show="!reportInterface" id="parentIntro" intro-help ng-intro-method="showIntro"  ng-intro-options="IntroOptions"  class="explorer-main-container" >

<div class="explorer-container">

    <div class="explorer-header" ng-init="initForm()" style="">

        <div class="explorer-header-title">
            <h3 class="pull-left" editable-text="selectedDashboard.dashboardName"></h3>
        </div>

        <div class="explorer-header-buttons">
            <a id="saveDashboardBtn" data-ng-click="dashboardName()" class="btn btn-success" style="margin-left: 5px" tooltip="Click here to save the dashboard changes" tooltip-placement="bottom">Save</a>

            <a ng-click="goBack();" class="btn btn-default" tooltip="Click here to cancel and backtrack" tooltip-placement="bottom">Cancel</a>

            <a class="btn btn-info" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for dashboards" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
        </div>

    </div>


    <div class="explorer-body" style="background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSIzNCIgaGVpZ2h0PSIzNCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDguNSBMIDM0IDguNSBNIDguNSAwIEwgOC41IDM0IE0gMCAxNyBMIDM0IDE3IE0gMTcgMCBMIDE3IDM0IE0gMCAyNS41IEwgMzQgMjUuNSBNIDI1LjUgMCBMIDI1LjUgMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDM0IDAgTCAwIDAgMCAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=&quot;);
    ">

        <div id="select-box" ng-hide="dragging" >

        </div>

    <section page-block ndType="page" ng-show="!queryInterface" id="designArea" drop="onDrop($data, $event, 'order')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" class="scrollPane multiPage rendered ng-scope" style="padding:10px;">

    </section>

    <section id="objectPanel" class="dashboard-edit-object-panel" data-num-cols="4" ng-init="tabs.selected = 'reports'">


        <div class="object-panel-header">
                        <div class="object-panel-header-icon" ng-click="tabs.selected = 'settings'" ng-class="{'active': tabs.selected == 'settings'}">
                            <i class="fa fa-gear" ></i>
                        </div>
                        <div class="object-panel-header-inner">


                        </div>

        </div>

        <menu>
            <li id="searchTabButton" class="search hand-cursor" ng-class="{'on': tabs.selected == 'reports'}">
                <a ng-click="tabs.selected = 'reports'">
                    <i class="fa fa-bar-chart fa-2" aria-hidden="true" style="margin-left:0px;margin-right:5px;"> </i>
                    <div class="objectPanel-menu-label">Reports</div>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'prompts'}" >
                <a ng-click="tabs.selected = 'prompts'">
                    <i class="fa fa-filter fa-2" aria-hidden="true"></i>
                    <div class="objectPanel-menu-label">Run time<br/>Filters</div>
                </a>
            </li>
            <li id="layoutTabButton" class="layout hand-cursor" ng-class="{'on': tabs.selected == 'layouts'}" >
                <a ng-click="tabs.selected = 'layouts'">
                    <i class="fa fa-file-image-o fa-2" aria-hidden="true"></i>
                    <div class="objectPanel-menu-label">Layouts</div>
                </a>
            </li>
        </menu>
    <section  class="content">

        <section id="settingsTab" class="results infinite ng-hide" ng-show="tabs.selected == 'settings'">
            <section class="layer scrollPane">
                <div class="layer-inner-reports">

                    <wst-inspector element="selectedElement" properties="selectedReport.properties" dashboard="selectedDashboard" on-change="onChangeElementProperties"></wst-inspector>

                </div>
            </section>
            <div class="scrollTrack vScrollTrack">
                <div class="scrollThumb" style="height: 72px; transform: translateY(0px);"></div>
            </div>
            <div class="scrollTrack hScrollTrack">
                <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
            </div>
        </section>

        <section id="reportsTab" class="results infinite ng-hide" ng-show="tabs.selected == 'reports'">
            <section class="layer scrollPane">
                <div class="layer-inner-reports">
                    <button class="btn btn-info" ng-click="newReport()" style="width:100%">Add New Report</button>
                    <div ng-repeat="item in selectedDashboard.reports" draggable="true" draggable-type="custom-object" draggable-data="{objectType: 'report',reportID:'{{item.id}}'}" style="margin-bottom: 5px; margin-top: 5px;        display: flex;align-items: center;border: 1px white solid;border-radius: 5px; " id="{{item.id}}" class="">

                        <span style="padding: 2px;border-right: 2px white solid;margin-right: 5px;background-color: white;">
                            <img ng-if="item.reportType == 'grid'" src="images/grid.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-line'" src="images/chart_line.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-donut'" src="images/chart_donut.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'chart-bar'" src="images/chart_bar.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'indicator'" src="images/indicator.png" data-pin-nopin="true">
                            <img ng-if="item.reportType == 'gauge'" src="images/gauge.png" data-pin-nopin="true">
                        </span>
                        <div style="width:100%">
                        <span style="color: white; font-size: 10px; width:100%;text-align: left" editable-text="item.reportName"></span>
                            <br/>
                        <!--<button class="btn btn-small" style="display: inline-block;
        color: #979898;
        margin-left: 7px;
        line-height: 1;">x</button>-->
                            <a id="reportListItemDeleteBtn" href="" class="pull-right  list-delete-button" ng-click="deleteReport(item.id,item.reportName)"  tooltip="Click here to delete this report" tooltip-placement="bottom">
                                <i class="fa fa-trash-o "  ></i>
                            </a>
                            <a id="reportListItemEditBtn" class="pull-right  list-edit-button" ng-click="loadReport(item)"  tooltip="Click here to edit this report" tooltip-placement="bottom">
                                <i class="fa fa-pencil" ></i>
                            </a>
                            </div>

                           <!-- <img src="images/layout_block_image_text_large.png" width="200" height="50" style="height: 50px;" data-pin-nopin="true"> -->
                    </div>
                </div>

            </section>
            <div class="scrollTrack vScrollTrack">
                <div class="scrollThumb" style="height: 72px; transform: translateY(0px);"></div>
            </div>
            <div class="scrollTrack hScrollTrack">
                <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
            </div>
        </section>
        <section id="promptsTab" class="results infinite twoCol" ng-show="tabs.selected == 'prompts'">
            <section class="layoutsTabContainer tabContainer">
                <section class="tab">
                    <section class="layer scrollPane">
                        <div class="layer-inner-reports">
                            <div ng-repeat="prompt in prompts" draggable="true" draggable-type="custom-object" draggable-data="{objectType: 'queryFilter',promptID:'{{prompt.elementID}}'}" style="margin-bottom: 5px; margin-top: 5px;        display: flex;align-items: center;border: 1px white solid;border-radius: 5px; " id="{{item.id}}" class="dashboard-filter-prompt-item">
                              <span>
                                  <i class="fa fa-filter"></i>
                                    <i class="fa fa-question"></i>
                              </span>
                                {{prompt.objectLabel}}
                            </div>
                        </div>

                    </section>
                    <div class="scrollTrack vScrollTrack">
                        <div class="scrollThumb" style="height: 15px; transform: translateY(0px);"></div>
                    </div>
                    <div class="scrollTrack hScrollTrack">
                        <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
                    </div>
                </section>
            </section>
        </section>
        <section id="resultsLayout" class="results infinite twoCol" ng-show="tabs.selected == 'layouts'">
        <section class="layoutsTabContainer tabContainer">
            <section class="tab">
                <section class="layer scrollPane">
                    <div class="layer-inner">
                        <div class="searchLoaderHolder"></div>
                        <div class="searchGroup hasContent" style="height: 2872px;">
                            <div class="row gallery infoPanelGallery templateGallery laidOut" style="padding-left: 25px;">

                                <div  style="width:200px">
                                    <div class="col-md-6" style="padding:0px;padding-right:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'paragraph'}"  >
                                            <i class="fa fa-paragraph"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding:0px;padding-left:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'heading'}"  >
                                            <i class="fa fa-header"></i>
                                        </div>
                                    </div>
                                </div>

                                <div  style="width:200px">
                                    <div class="col-md-6" style="padding:0px;padding-right:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'image'}"  >
                                            <i class="fa fa-picture-o"></i>

                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding:0px;padding-left:1px;">
                                        <div id="element-btn" draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'video'}"  >
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </div>
                                </div>

                                <div data-color="jumbotron" effect-allowed="copy"  style="margin-bottom: 5px" draggable="true" draggable-type="custom-object" id="5c025c3c-2dcb-a4b4-488a-01dbf3e54fbc" draggable-data="{
                                    objectType: 'jumbotron'}">
                                    <img src="images/layout_jumbotron.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '4colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4c0" class="">

                                    <img src="images/layout_4cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>

                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '3colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4c0" class="">

                                    <img src="images/layout_3cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: '2colscta'}" style="margin-bottom: 5px" id="b79177e2-9eae-d919-f544-5ee126dff4dd" class="">

                                    <img src="images/layout_2cols_cta.png" width="200" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'imageTextLarge'}"  style="margin-bottom: 5px"  id="953bd17f-45d8-9daf-3bde-92f4809bdf07" class="">

                                    <img src="images/layout_block_image_text_large.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object" draggable-data="{objectType: 'textImageLarge'}" style="margin-bottom: 5px" id="b512bcc4-dd1d-2a33-2246-69671ae9430d">

                                    <img src="images/layout_block_text_image_large.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'divider'}" style="margin-bottom: 5px"  id="4f8c0bca-7d8f-9bad-2354-309b48a37764">

                                    <img src="images/layout_featurete_divider.png" width="200" height="15" style="height: 15px;width: 200px;">
                                </div>
                                <!--
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'tabs'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">

                                    <img src="images/tabs.png" width="200" height="50" style="height: 50px;">
                                </div>
                                -->
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'pageHeader'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">
                                    <img src="images/layout-page-header.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div>
                                <!--
                                <div draggable="true" draggable-type="custom-object"  draggable-data="{objectType: 'definitionList'}"  style="margin-bottom: 5px"  id="953bd17f-d45d8-9daf-3bde-92f4809bdf07" class="">
                                    <img src="images/layout-definition-list.png" width="200" height="50" style="height: 50px;width: 200px;">
                                </div> -->



                            </div>
                        </div>
                    </div>
                </section>
                <div class="scrollTrack vScrollTrack">
                    <div class="scrollThumb" style="height: 15px; transform: translateY(0px);"></div>
                </div>
                <div class="scrollTrack hScrollTrack">
                    <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
                </div>
            </section>
        </section>
    </section>

    </section>

        <div class="arrow-right" id="color-picker-arrow"></div>
        <div class="arrow-right" id="background-arrow"></div>

    </section>




    <!--
    <section id="dropZone" class="scrollPane multiPage rendered ng-scope" style="padding:10px;">


    <div ng-include src="promptsBlock" class=" prompts-block"></div>

    <div  data-gridster style="background-color: {{dashBoardDefinitition.backgroundColor}}" ng-init="generateDashBoard()">
        <ul>
            <li data-gridster-item data-row="item.position[0]" data-col="item.position[1]" data-sizex="item.size.x" data-sizey="item.size.y" ng-repeat="item in dashBoardDefinitition.items">
                <div id="{{item.reportID}}" class="panel-body dashboard"  style=" background-color:#FFFFFF;height:100%;width: 100%;overflow-x:{{item.overflowx}};overflow-y: {{item.overflowy}}">
                </div>
            </li>
        </ul>
    </div>


    </section> -->

</div>
    </div>
</div>

<div ng-show="reportInterface" id="reportModal" ng-controller="report_v2Ctrl" ng-include src="reportModal"></div>

<nd-modal id="dashboardNameModal">
    <div class="modal-body">
        <form class="simple-form" role="form" name="dashboardForm">
            <div class="form-group">
                <label>Dashboard Name</label>
                <input name="dashboardName" type="text" class="form-control" ng-model="selectedDashboard.dashboardName" ng-required="true" required >
                <span ng-show="dashboardForm.dashboardName.$invalid" class="help-inline">The dashboard name is required</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="dashboardNameSave()" ng-disabled="reportForm.$invalid" class="btn btn-primary submit-btn pull-right">Save</button>
        <button type="button" class="btn pull-right" data-dismiss="modal">Cancel</button>
    </div>
</nd-modal>

<div id="previewContainer" ng-show="false"></div>
