<div id="parentIntro" intro-help ng-intro-method="showIntro"  ng-intro-options="IntroOptions" class="container-fluid " ng-init="getDashboards(1,'',['dashboardName','isPublic','owner','dashboardDescription'])"  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid branded-border-panel" >
                    <h3 class="pull-left" >My dashboards</h3>
                    <a id="newReportBtn" ng-if="user.dashboardsCreate" href="/#/dashboardsv2/new/true" class="btn btn-success pull-right" tooltip="Click here to create a new page report" tooltip-placement="bottom">New Dashboard</a>
                    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to start the guided tour for page reports" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
                </div>

                <div id="reportList" class="list-group">
                    <div  id="reportListItem" class="list-group-item" ng-repeat="dashboard in dashboards.items">

                        <a id="reportListItemDeleteBtn" href="" class="pull-right  list-delete-button" ng-click="delete(dashboard._id,dashboard.dashboardName)"  tooltip="Click here to delete this dashboard" tooltip-placement="bottom">
                            <i class="fa fa-trash-o "  ></i>
                        </a>
                        <a id="reportListItemEditBtn" class="pull-right  list-edit-button" href="/#/dashboardsv2/edit/{{dashboard._id}}"  tooltip="Click here to modify this dashboard" tooltip-placement="bottom">
                            <i class="fa fa-pencil" ></i>
                        </a>
                        <span id="reportListItemPublished" ng-if="dashboard.isPublic" class="badge badge-success pull-right" style="margin-right: 5px;">published</span>

                        <a href="/#/dashboardsv2/{{dashboard._id}}" tooltip="Click here to execute this dashboard" tooltip-placement="bottom">
                            <h4 id="reportListItemName" class="list-group-item-heading" ng-bind="dashboard.dashboardName"></h4>
                            <p id="reportListItemDetails" class="list-group-item-text" ng-bind="dashboard.dashboardDescription"></p>
                        </a>

                    </div>
                </div>
                <div class="container-fluid">
                     <ul ng-if="pager.pages.length" class="pagination">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getDashboards(1,'',['dashboardName','isPublic','owner','dashboardDescription'])">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getDashboards(pager.currentPage - 1,'',['dashboardName','isPublic','owner','dashboardDescription'])">Previous</a>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="getDashboards(page,'',['dashboardName','isPublic','owner','dashboardDescription'])">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getDashboards(pager.currentPage + 1,'',['dashboardName','isPublic','owner','dashboardDescription'])">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getDashboards(pager.totalPages,'',['dashboardName','isPublic','owner','dashboardDescription'])">Last</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div ng-include src="'partials/deleteModal.html'"></div>
