<div class="container-fluid"  style="padding-bottom: 5px;padding-top: 5px;height: 40px;">
    <h3 class="pull-left">{{selectedDashboard.dashboardName}}</h3>
    <a ng-if="selectedDashboard && ((selectedDashboard.owner == user._id) || isWSTADMIN)" href="/#/dashboardsv2/edit/{{selectedDashboard._id}}"  class="btn btn-success pull-right" style="margin-right: 5px">Edit Dashboard</a>
    <a ng-if="selectedDashboard && ((selectedDashboard.owner == user._id) || isWSTADMIN)" ng-click="publishDashboard()"  class="btn btn-success pull-right" style="margin-right: 5px">Publish</a>
    <a ng-click="goBack();" class="btn btn-default pull-right" tooltip="Click here to cancel and backtrack" tooltip-placement="bottom">Cancel</a>
    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for dashboards" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
</div>

<div class="container-fluid branded-border-panel" >

</div>

<div class="container-fluid" id="pageViewer" ng-init="loadHTML()" style="
    top: 42px;
    bottom: 0px;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    padding-top:10px;
">


</div>

<div ng-include src="publishModal"></div>
<!--<div ng-include src="promptModal"></div>-->
