<div class="modal-header">
    <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
    <p>{{modalOptions.bodyText}}</p>
    <form class="simple-form" role="form" name="dataSourceForm">
        <div class="form-group">
            <label>Data Source Name</label>
            <input name="dataSourceName" type="text" class="form-control" ng-model="modalOptions.dataSource.name" ng-required="true" required >
            <span ng-show="dataSourceForm.dataSourceName.$invalid" class="help-inline">This field is required</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn"
            data-ng-click="modalOptions.close()">Cancel</button>
    <button data-ng-click="modalOptions.ok();" ng-disabled="dataSourceForm.$invalid || dataSourceForm.$pristine" class="btn btn-primary submit-btn"  >Save</button>
</div>