<div class="container-fluid" class="branded-border-panel" >
    <a ng-click="save()" ng-disabled="(!_DataSource.params[0].type == 'BIGQUERY' && (!_DataSource.params[0].connection.host || !_DataSource.params[0].connection.port || !_DataSource.params[0].connection.database || testingConnection)) || (_DataSource.params[0].type == 'BIGQUERY' && (!_DataSource.params[0].connection.database) || testingConnection) " class="btn btn-success pull-right" style="margin-left: 5px;margin-right: 5px;">Save Datasource</a>
    <a href="/#/data-sources" class="btn btn-default  pull-right">Cancel</a>
</div>
<div class="container-fluid">

<div class="tab-pane with-bg" id="fwv-1">

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Connection Type II</label>
                <select ng-model="_DataSource.type" placeholder="Select a datasource type..." id="type" class="form-control" ng-change="selectedRoleChanged = true">
                    <option label="MONGODB" value="MONGODB">MONGODB</option>
                    <option label="MySQL" value="MySQL">MySQL</option>
                    <option label="PostgreSql" value="POSTGRE">PostgreSql</option>
                    <option label="MSSQL" value="MSSQL">MSSQL</option>
                    <option label="Google Big query" value="BIGQUERY">Google Big query</option>
                    <option label="Oracle" value="JDBC-ORACLE">Oracle JDBC</option>
                    <option label="Oracle" value="ORACLE">Oracle</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input class="form-control" name="name" id="name" ng-model="_DataSource.name" data-validate="required" placeholder="Insert here the name for this connection" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12" ng-if="_DataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="host">Host</label>
                <input class="form-control" name="host" id="host" ng-model="_DataSource.params[0].connection.host" data-validate="required" placeholder="Insert here your Host address or IP" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="_DataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="port">Port</label>
                <input class="form-control" name="port" id="port" ng-model="_DataSource.params[0].connection.port" data-validate="required" placeholder="Insert here the port to access the MongoDB instance" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="database" ng-if="_DataSource.type != 'BIGQUERY'">Database</label>
                <label class="control-label" for="database" ng-if="_DataSource.type == 'BIGQUERY'">Project ID</label>
                <input class="form-control" name="database" id="database" ng-model="_DataSource.params[0].connection.database" data-validate="required" placeholder="Set here the name of the MongoDB Database to connect" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="_DataSource.type == 'BIGQUERY'">
                    <div class="form-group">
                        <label class="control-label" for="userName">Google Cloud JSON authorization file</label>
                        <!--<input type="file" class="form-control" id="file" ng-model="_DataSource.params[0].connection.file">-->
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="_DataSource.params[0].connection.file" placeholder="Google Cloud JSON authorization file" aria-describedby="basic-addon2">
                            <span class="input-group-addon hand-cursor" id="basic-addon2" ngf-select ngf-change="upload($file)" ngf-multiple="false" ngf-accept="'application/json'">Select File</span>
                        </div>
                        <span ng-if="fileUploadSuccess == true" style="color:green">{{fileUploadMessage}}</span>
                        <span ng-if="fileUploadSuccess == false" style="color:red">{{fileUploadMessage}}</span>
                    </div>
        </div>

        <div class="col-md-12"  ng-if="_DataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="userName">User name</label>
                <input class="form-control" name="userName" id="userName" ng-model="_DataSource.params[0].connection.userName" data-validate="required" placeholder="Set here the username to access the database" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12"  ng-if="_DataSource.type != 'BIGQUERY'">
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model="_DataSource.params[0].connection.password" data-validate="required" placeholder="Set here the username password to access the database" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12" >
            <div class="col-md-6" style="padding:0px">
                <div class="form-group">
                    <label class="control-label" for="password">Data Packet size</label>
                    <input class="form-control" type="number" name="packetSize" id="packetSize" ng-model="_DataSource.params[0].packetSize" data-validate="required" placeholder="Set here the packet size for this datasource (-1 means get always all data)" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 5px;">
            <a ng-click="doTestConnection()" ng-disabled="!enableTestConnection()" class="btn btn-default pull-right" style="margin-left: 5px;margin-right: 5px;">Test Connection</a>

            <div ng-if="testConnection.message" class="row alert" ng-class="{'alert-success': testConnection.result == 1,'alert-danger': testConnection.result != 1}" >
                {{testConnection.message}}
            </div>
            <div ng-if="testConnection.errorMessage" style="font-size:11px;color:#ccc">
                {{testConnection.errorMessage}}
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="padding: 5px;">


</div>

</div>

<div class="container-fluid" ng-show='mongoStep == 2'>

    <div class="container-fluid" style="padding: 5px;">

    </div>
                 {{selectedCollections}}

    <ul>
            <li ng-repeat="item in items"><input type="checkbox" checklist-model="selectedCollections" checklist-value="item.name" name="item.name" value="item.name"/>    {{item.name}}</li>
    </ul>

</div>

<div class="container-fluid" ng-show='mongoStep == 3'>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="collection in schemas">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        <table class="table table-striped">
                            <tr>
                                <td><h3>{{collection.collectionName}}</h3></td>
                                <td><input type="checkbox"  ng-model="collection.visible"/></td>
                                <td><input type="text"  ng-model="collection.collectionLabel"/></td>
                            </tr>
                        </table>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <table class="table table-striped">
                        <tr ng-repeat="element in collection.elements">
                            <td>{{element.elementName}}</td>
                            <td><select name="elementType" ng-model="element.elementType" ng-options="obj.value as obj.name for obj in elementTypes" ></select></td>
                            <td><input type="checkbox" ng-model="element.visible"/></td>
                            <td><input type="text"  ng-model="element.elementLabel"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>




</div>
