<div id="parentIntro" intro-help ng-intro-method="showIntro"  ng-intro-options="IntroOptions" class="container-fluid "  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid branded-border-panel" >
                    <h3 class="pull-left" >Data sources</h3>
                    <a id="newDataSourceBtn" href="/#/data_sources/new/true" class="btn btn-success pull-right" tooltip="Click here to create a new data source" tooltip-placement="bottom">New Data Source</a>
                    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for data sources" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
                </div>

                <div id="datasourceList" class="list-group" ng-init="getDataSources(1,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">
                    <a id="datasourceListItem" href="/#/data-sources/{{dts._id}}" class="list-group-item" ng-repeat="dts in items">
                        <span id="datasourceListItemType" class="pull-right branded-label" >{{dts.type}}</span>
                        <h4 id="datasourceListItemName" class="list-group-item-heading" tooltip="Click here to see or set data source details">{{dts.name}} </h4>
                        <p id="datasourceListItemDetails" class="list-group-item-text">

                            <label class="small" style="margin-right: 5px">host: </label>{{dts.params[0].connection.host}}
                            <label class="small" style="margin-right: 5px">port: </label>{{dts.params[0].connection.port}}
                            <label class="small" style="margin-right: 5px">database: </label>{{dts.params[0].connection.database}}
                        </p>
                    </a>
                </div>

                <div class="container-fluid">
                     <ul ng-if="pager.pages.length" class="pagination">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getDataSources(1,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="getDataSources(pager.currentPage - 1,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">Previous</a>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="getDataSources(page,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getDataSources(pager.currentPage + 1,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="getDataSources(pager.totalPages,'',['name','type','params.connection.host','params.connection.port','params.connection.database'])">Last</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
