<div class="container-fluid" style="padding: 5px;border-bottom: 2px solid #72A230;margin-bottom: 10px">
    <a href="/#/data-sources" class="btn btn-default pull-left">Cancel</a>


</div>

<div class="tab-pane with-bg" id="fwv-1">

    <div class="container-fluid">

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="accessKey">Amazon Access Key Id</label>
                <input class="form-control" name="accessKey" id="accessKey" ng-model="_Parameters.accessKey" data-validate="required" placeholder="Insert here your Amazon Key ID" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="secret">Amazon Secret Access Key</label>
                <input class="form-control" name="secret" id="secret" ng-model="_Parameters.secret" data-validate="required" placeholder="Insert here your Amazon Secret Access Key" novalidate="novalidate" required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="bucket">Amazon Bucket</label>
                <input class="form-control" name="bucket" id="bucket" ng-model="_Parameters.bucket" data-validate="required" placeholder="Set here the Amazon S3 bucket to connect" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="region">Amazon Region</label>
                <input class="form-control" name="region" id="region" ng-model="_Parameters.region" data-validate="required" placeholder="Bucket Region" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="folder">Folder</label>
                <input class="form-control" name="folder" id="folder" ng-model="_Parameters.folder" data-validate="required" placeholder="Folder" novalidate="novalidate" aria-required="true" aria-describedby="full_name-error" aria-invalid="false"><span id="full_name-error" class="validate-has-error" style="display: none;"></span>
            </div>
        </div>


    </div>





</div>

<div class="container-fluid" style="padding: 5px;">
    <a ng-click="testS3Connection()" class="btn btn-default pull-right">Cancel</a>


</div>