<script src="libs/jsplumb/jquery.jsPlumb-1.7.6-min.js"></script>

<div class="container-fluid branded-border-panel" >
    <a href="/#/data-sources" class="btn btn-default pull-left">Cancel</a>
    <a href="/#/data-sources/edit/{{_dataSource._id}}/" class="btn btn-warning pull-right" style="margin-left: 5px;margin-right: 5px;">Edit</a>

</div>

<div class="container-fluid" ng-init="view()">

    <div class="container-fluid" style="margin-bottom: 10px">
        <h3 class="pull-left">Data Source: {{_dataSource.name}}</h3>
    </div>

    <div class="list-group" style="margin-bottom: 0px;">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{_dataSource.type}}</h4>
            <p class="list-group-item-text ng-binding">
                <label class="small" style="margin-right: 5px">host: </label>{{_dataSource.params[0].connection.host}}
                <label class="small" style="margin-right: 5px">port: </label>{{_dataSource.params[0].connection.port}}
                <label class="small" style="margin-right: 5px">database: </label>{{_dataSource.params[0].connection.database}}
            </p>
        </div>
    </div>

    <div class="canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">


        <div id="{{collection.collectionID}}" class="window jtk-node  jsplumb-draggable" style="left: 428px; top: 40px;" ng-repeat="collection in _dataSource.params[0].schema">
            <div class=" jtk-header "><strong>{{collection.collectionName}}</strong></div>

            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="{{'flowchart'+element.elementID}}" ng-repeat="element in collection.elements">{{element.elementName}}</div>

            <!--<div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow3">campo 3</div>
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow4">campo 4</div> -->
        </div>

        <!--
        <div class="window jtk-node  jsplumb-draggable">
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow2"><strong>1</strong></div>
        </div>

        <div class="window jtk-node  jsplumb-draggable">
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow5"><strong>1</strong></div>
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow6"><strong>1</strong></div>
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="flowchartWindow7"><strong>1</strong></div>
        </div>
        -->
        <!--
        <div class="window jtk-node _jsPlumb_endpoint_anchor jsplumb-draggable _jsPlumb_connected" id="flowchartWindow2" style="left: 428px; top: 40px;"><strong>2</strong><br><br></div>
        <div class="window jtk-node _jsPlumb_endpoint_anchor jsplumb-draggable _jsPlumb_connected" id="flowchartWindow3"><strong>3</strong><br><br></div>
        <div class="window jtk-node _jsPlumb_endpoint_anchor jsplumb-draggable _jsPlumb_connected" id="flowchartWindow4"><strong>4</strong><br><br></div>
            -->
    </div>


    <span ng-init="erDiagramInit()"></span>

    <div class="container-fluid branded-border-panel" >
        <h3 class="pull-left">Collections</h3>
    </div>

    <accordion close-others="false">
        <accordion-group is-open="collection.isOpen" ng-repeat="collection in _dataSource.params[0].schema">
            <accordion-heading>
                {{collection.collectionLabel}} - {{collection.collectionName}}
                <div class="pull-right">
                    <small>Show Fields</small>
                    <span class="caret" style="color:#0000FF;"></span>
                </div>
            </accordion-heading>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Visible</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="element in collection.elements">
                    <td>{{element.elementLabel}}</td>
                    <td>{{element.elementName}}</td>
                    <td>{{element.elementType}}</td>
                    <td>{{element.visible}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>

</div>
