
<script type="text/ng-template" id="nodes_renderer.html">
    <div id="publicSpaceItem" ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-white btn-xs btn-round" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="fa"
                ng-class="{
          'fa-chevron-right': collapsed,
          'fa-chevron-down': !collapsed
        }"></span></a>
        <span ng-if="!node.editing" ng-dblclick=node.editing = true">{{node.title}}</span>
        <div ng-if="node.editing">
            <input id="node{{node.id}}" type="text" ng-model="node.title" style="height: 25px; width: 150px; border: 1px dotted;" tooltip="Type here the new name of the folder" tooltip-placement="bottom"/>
            <a class=" btn btn-white btn-xs btn-round" data-nodrag ng-click="node.editing = false" tooltip="Click here to save the name of the folder and to get out of the edit mode" tooltip-placement="bottom">
                <span class="fa fa-save"></span>
            </a>
        </div>
        <div class="pull-right" ng-if="!node.editing">
            <a id="publicSpaceItemEdit" class=" btn btn-danger-white btn-xs btn-round" data-nodrag ng-click="node.editing = true; " tooltip="Click here to change the name of the folder" tooltip-placement="bottom">
                <span class="fa fa-edit"></span>
            </a>
            <a id="publicSpaceItemRemove" class=" btn btn-danger-white btn-xs btn-round" data-nodrag ng-click="remove(this)" tooltip="Click here to remove this folder (will remove all children folders)" tooltip-placement="bottom">
                <span class="fa fa-remove"></span>
            </a>
            <a id="publicSpaceItemAdd" class=" btn btn-success-white btn-xs btn-round" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;" tooltip="Click here to add a new subfolder inside this" tooltip-placement="bottom">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>


<div class="row">
    <a id="publicSpaceNewFolderBtn" class="btn btn-success" ng-click="newSubItem(this)" tooltip="Click here to add a new folder to the public space" tooltip-placement="bottom">Add folder</a>
    <a id="publicSpaceSaveBtn" class="btn btn-success pull-right"  ng-click="save()" tooltip="Click here to save changes to the public space" tooltip-placement="bottom">Save</a>
    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for the public space" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
</div>

<div id="publicSpaceArea" ui-tree id="tree-root">
    <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</div>
