
<script type="text/ng-template" id="nodes_renderer.html">
    <div id="sharedSpaceItem" class="tree-node tree-node-content">
        <span ui-tree-handle><i class="fa fa-arrows"></i></span>
        <a class="btn btn-white btn-xs btn-round" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="fa"
                ng-class="{
          'fa-chevron-right': collapsed,
          'fa-chevron-down': !collapsed
        }"></span></a>
        <span ng-if="!node.editing" ng-dblclick="node.editing = true">{{node.title}}</span>
        <span ng-if="node.editing">
            <input id="node{{node.id}}" type="text" ng-model="node.title" style="height: 25px; width: 150px; border: 1px dotted;" uib-tooltip="{{'Type here the new name of the folder' | translate}}" tooltip-placement="bottom"/>
            <a class=" btn btn-white btn-xs btn-round" data-nodrag ng-click="node.editing = false" uib-tooltip="{{'Click here to save the name of the folder and to get out of the edit mode' | translate}}" tooltip-placement="bottom">
                <span class="fa fa-save"></span>
            </a>
        </span>
        <div class="pull-right" ng-if="!node.editing">
            <a id="sharedSpaceItemEdit" class=" btn btn-danger-white btn-xs btn-round" data-nodrag ng-click="node.editing = true; " uib-tooltip="{{'Click here to change the name of the folder' | translate}}" tooltip-placement="bottom">
                <span class="fa fa-edit"></span>
            </a>
            <a id="sharedSpaceItemRemove" class=" btn btn-danger-white btn-xs btn-round" data-nodrag ng-click="remove(this)" uib-tooltip="{{'Click here to remove this folder (will remove all children folders)' | translate}}" tooltip-placement="bottom">
                <span class="fa fa-remove"></span>
            </a>
            <a id="sharedSpaceItemAdd" class=" btn btn-success-white btn-xs btn-round" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;" uib-tooltip="{{'Click here to add a new subfolder inside this' | translate}}" tooltip-placement="bottom">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div class="container-fluid branded-border-panel" >
    <h3 class="pull-left">Shared space</h3>
</div>

<div class="row">

    <a id="sharedSpaceNewFolderBtn" class="btn btn-success" ng-click="newSubItem(this)" uib-tooltip="{{'Click here to add a new folder to the shared space' | translate}}" tooltip-placement="bottom" translate>Add folder</a>
    <a id="sharedSpaceSaveBtn" class="btn btn-success pull-right"  ng-click="save()" uib-tooltip="{{'Click here to save changes to the shared space' | translate}}" tooltip-placement="bottom" translate>Save</a>
    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" uib-tooltip="{{'Click here to conduct the guided tour for the shared space' | translate}}" tooltip-placement="bottom"><i class="fa fa-map"></i></a>

</div>

<div id="sharedSpaceArea" ui-tree>
    <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</div>
