<div class="row">
    <div class="col-md-6">
        <a ng-href="/#/layers/{{ vm.layer._id }}">{{ vm.layer.name }}</a>
    </div>

    <div class="col-md-4">
        <a
            class="badge"
            ng-click="vm.toggleActive()"
            ng-class="{'badge-success': vm.layer.status == 'active', 'badge-danger': vm.layer.status == 'Not active'}"
            uib-tooltip="{{ 'Click here to change the status of the layer' | translate }}"
        >
            <span ng-if="vm.layer.status === 'active'" translate>active</span>
            <span ng-if="vm.layer.status === 'Not active'" translate>not active</span>
        </a>
    </div>

    <div class="col-md-2">
        <a class="pull-right list-button btn-delete" ng-click="vm.openDeleteModal()" uib-tooltip="{{ 'Delete this layer' | translate}}" tooltip-placement="bottom">
            <i class="fa fa-trash-o"></i>
        </a>
        <a class="pull-right list-button btn-edit" ng-href="/#/layers/{{ vm.layer._id }}" uib-tooltip="{{ 'Edit this layer' | translate }}" tooltip-placement="bottom">
            <i class="fa fa-pencil"></i>
        </a>
    </div>
</div>
