<div id="parentIntro" intro-help ng-intro-method="vm.showIntro" ng-intro-options="vm.introOptions" class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar show-intro="vm.showIntro()"></app-sidebar>
        </div>

        <div class="col-md-9">
            <div class="page-header">
                <span class="h3" translate>Layers</span>

                <a id="newLayerButton" ng-click="vm.showNewLayerModal()" class="btn btn-success pull-right" uib-tooltip="{{ 'Click here to create a new single query report' | translate }}" tooltip-placement="bottom" translate>New layer</a>
                <a class="btn btn-info pull-right" ng-click="vm.showIntro()" style="margin-right: 3px;" uib-tooltip="{{ 'Follow the guided tour for data sources' | translate }}" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
            </div>

            <app-list-panel columns="vm.columns" refresh="vm.refresh">
                <div class="list-group-item" ng-repeat="layer in vm.layers">
                    <app-layers-list-item layer="layer" on-delete="vm.refresh()"></app-layers-list-item>
                </div>
            </app-list-panel>
        </div>
    </div>
</div>
