<nd-modal id="fileGalleryModal" class="files-gallery" ng-init="init()">
    <button id="close-gallery-btn" type="button" class="close" ng-click="modalOptions.close()">X</button>

    <uib-tabset class="nav-tabs-justified">
        <uib-tab heading="My Images">

            <!-- <form class="dropzone" id="dropzone" style="min-height: 0px;padding: 80px;" ng-init="setDropzone()"></form> -->

            <p id="extensionMSG" style="color: red;"></p>

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in files">
                    <a class="hand-cursor file-selection" ng-hide="file.loading" ng-click="onFileSelected(file)">
                        <!-- <span class="label label-success dz-label" translate>success</span> -->
                        <img class="dz-image" alt="{{file.description}}" uib-tooltip="{{file.name}}" ng-src="{{file.url}}" />
                    </a>
                    <a class="hand-cursor file-selection" ng-show="file.loading">
                        <img class="dz-image" src="/images/loader.gif" />
                    </a>
                </li>

            </ul>

            <div class="btn btn-default" ng-app="fileUpload" ngf-select="upload($file)">Choose image to upload</div>

        </uib-tab>
        <uib-tab heading="Public Images">

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in catalogImages">
                    <a class="hand-cursor file-selection" ng-click="onFileSelected(file)">
                        <img class="dz-image" ng-src="{{file.url}}" />
                    </a>
                </li>

            </ul>

        </uib-tab>

        <uib-tab heading="Online Images">

            <input type="text" ng-model="onlineSearchTerm" ng-enter="searchOnline(onlineSearchTerm)"
                style="width: 100%;height: 30px;font-size: 15px;" placeholder="Search...">

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in onlineImages">
                    <a class="hand-cursor file-selection" ng-click="onFileSelected(file)">
                        <img class="dz-image" ng-src="{{file.thumb}}" />
                    </a>
                </li>

            </ul>

        </uib-tab>
    </uib-tabset>

    <div id="dropzone-item" class="hidden">
        <li class="dz-item">
            <a class="hand-cursor file-selection">
                <!--<img src="/images/loader.gif" class="dz-loading" />-->

                <span class="label label-danger dz-label" style="display: none;">error</span>
                <span class="label label-success dz-label" style="display: none;">success</span>

                <img class="dz-image" data-dz-thumbnail />
            </a>
        </li>
    </div>

</nd-modal>
