<div class="files-gallery">
    <button id="close-gallery-btn" type="button" class="close" ng-click="modalOptions.close()">X</button>

    <tabset class="nav-tabs-justified">
        <tab heading="My Images">

            <form class="dropzone" id="dropzone" style="min-height: 0px;padding: 80px;" ng-init="setDropzone()"></form>

            <p id="extensionMSG" style="color: red;"></p>

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in files">
                    <a class="hand-cursor file-selection" ng-click="onFileSelected(file)">
                        <span ng-show="file.loaded" class="label label-success dz-label" style="">success</span>

                        <img class="dz-image" alt="{{file.description}}" ng-src="{{file.url}}" />
                    </a>
                </li>

            </ul>

        </tab>
        <tab heading="Public Images">

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in catalogImages">
                    <a class="hand-cursor file-selection" ng-click="onTumbnailSelected(file)">
                        <img class="dz-image" ng-src="{{file.url}}" />
                    </a>
                </li>

            </ul>

        </tab>

        <tab heading="Online Images">

            <input type="text" ng-model="onlineSearchTerm" ng-enter="searchOnline(onlineSearchTerm)"
                style="width: 100%;height: 30px;font-size: 15px;" placeholder="Search...">

            <ul id="file-list" class="ace-thumbnails files-modal-list">

                <li ng-repeat="file in onlineImages">
                    <a class="hand-cursor file-selection" ng-click="onFileSelected(file)">
                        <img class="dz-image" ng-src="{{file.thumb}}" />
                    </a>
                </li>

            </ul>

        </tab>
    </tabset>

    <div id="dropzone-item" class="hidden">
        <li class="dz-item">
            <a class="hand-cursor file-selection">
                <!--<img src="/images/loader.gif" class="dz-loading" />-->

                <span class="label label-danger dz-label" style="display: none;">error</span>
                <span class="label label-success dz-label" style="display: none;">success</span>

                <img class="dz-image" data-dz-thumbnail />
            </a>
        </li>
    </div>
</div>

<div id="loader-overlay" class="files-loader-overlay" style="display: none;">
    <img class="loader-img" src="/images/loader.gif" style="padding-top: 140px;margin-left: -25px;" />
</div>
