<div class="panel-group" id="accordion" >

       <!-- Accordion item start --> 
    <div class="panel panel-default"> 
        <div class="panel-heading">   
            <h4 class="panel-title font-alt"> 
                <a ndType="accordionTitle" data-toggle="collapse" data-parent="#accordion" href="#support1" aria-expanded="false" class="collapsed">
                    Support Question 1
                    </a>
                </h4>
            </div> 
        <div id="support1" class="panel-collapse collapse in" aria-expanded="true" >
            <div class="panel-body">
                <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                </div> 
            </div>
        </div> 
    <!-- Accordion item end -->

    <!-- Accordion item start -->
    <div class="panel panel-default"> 
        <div class="panel-heading"> 
            <h4 class="panel-title font-alt"> 
                <a ndType="accordionTitle" data-toggle="collapse" data-parent="#accordion" href="#support2" class="" aria-expanded="true"> 
                    Support Question 2
                    </a> 
                </h4>
            </div>
        <div id="support2" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                </div>
            </div>
        </div>
    <!-- Accordion item end -->

    </div>