<div class="col-md-6 col-lg-6 ndContainer" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="column">

    <div class="post" ndType="none">

        <div class="post-thumbnail" ndType="none">
            <a href="blog-single-right.html"><img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/post-1.jpg" alt=""></a>
            </div>

        <div class="post-header font-alt">
            <h2 class="post-title"><a href="blog-single-right.html">Our trip to the Alps</a></h2>
            <div class="post-meta"> 
                By <a href="#">Mark Stone</a> | 23 November | 3 Comments
                            </div>
                    </div> 

                <div class="post-entry">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>

               <div class="post-more"> 
                        <a href="blog-single-right.html" class="more-link">Read more</a> 
                   </div>

           </div>

    </div>