<section class="sectionCarousel" ndType="carousell" x-lvl-draggable="false" x-lvl-drop-target="true">
    <div class="carousel slide" ndType="none" id="myCarousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators"> 
            <li ndType="carouselControl" data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li ndType="carouselControl" data-target="#myCarousel" data-slide-to="1"></li>
            <li ndType="carouselControl" data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" ndType="none" role="listbox">
            <div class="item active" ndType="none">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjMxNy43MzQzNzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzU1NTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo0MnB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPkZpcnN0IHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">

                <section class="module"  x-lvl-draggable="false" x-lvl-drop-target="true" ndType="photoHeader" style="min-height:100px;position:relative">   
                    <div class="container-fluid module" ndType="none"   style="height: 100%;width: 100%;top:0px;left:0px;z-index: 10;position:absolute;background-image: url(https://d28pzkwbso7p1u.cloudfront.net/catalog/images/width1400/photo-01.jpg);">
                        </div>
                    <section  x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="photoHeader" class="module bg-dark bg-dark-60" data-background="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg" style="background-image: url(http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg);">
                        <div class="container-fluid" ndType="none" style="height: 100%; width:100%;top:0px;left:0px;z-index: 10;position:absolute;padding-top:100px;">

                            <div class="row" ndType="none">

                                <div class="col-sm-6 col-sm-offset-3 ndContainer" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="column">
                                    <div class="module-title font-alt ndContainer" ndType="none">
                                        <h1  class="editable" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="header" contenteditable="false">  A header text H1 </h1>
                                        </div>
                                    <div class="module-subtitle font-serif mb-0" ndType="none">
                                        <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                                        </div>

                                    </div>

                                </div><!-- .row --> 

                            </div>
                        </section>
                    </section>


                </div>
            <div class="item" ndType="none">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjxnPjx0ZXh0IHg9IjI3Ny4yODEyNSIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQycHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">

                <section class="module"  x-lvl-draggable="false" x-lvl-drop-target="true" ndType="photoHeader" style="min-height:100px;position:relative">   
                    <div class="container-fluid module" ndType="none"   style="height: 100%;width: 100%;top:0px;left:0px;z-index: 10;position:absolute;background-image: url(https://d28pzkwbso7p1u.cloudfront.net/catalog/images/width1400/photo-02.jpg);">
                        </div>
                    <section  x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="photoHeader" class="module bg-dark bg-dark-60" data-background="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg" style="background-image: url(http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg);">
                        <div class="container-fluid" ndType="none" style="height: 100%; width:100%;top:0px;left:0px;z-index: 10;position:absolute;padding-top:100px;">

                            <div class="row" ndType="none">

                                <div class="col-sm-6 col-sm-offset-3 ndContainer" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="column">
                                    <div class="module-title font-alt ndContainer" ndType="none">
                                        <h1  class="editable" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="header" contenteditable="false">  A header text H1 </h1>
                                        </div>
                                    <div class="module-subtitle font-serif mb-0" ndType="none">
                                        <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                                        </div>

                                    </div>

                                </div><!-- .row --> 

                            </div>
                        </section>
                    </section>

                </div>
            <div class="item" ndType="none">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" alt="Third slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjxnPjx0ZXh0IHg9IjMwOC40MjE4NzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzMzMztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo0MnB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPlRoaXJkIHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">

                <section class="module"  x-lvl-draggable="false" x-lvl-drop-target="true" ndType="photoHeader" style="min-height:100px;position:relative">   
                    <div class="container-fluid module" ndType="none"   style="height: 100%;width: 100%;top:0px;left:0px;z-index: 10;position:absolute;background-image: url(https://d28pzkwbso7p1u.cloudfront.net/catalog/images/width1400/photo-03.jpg);">
                        </div>
                    <section  x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="photoHeader" class="module bg-dark bg-dark-60" data-background="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg" style="background-image: url(http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg);">
                        <div class="container-fluid" ndType="none" style="height: 100%; width:100%;top:0px;left:0px;z-index: 10;position:absolute;padding-top:100px;">

                            <div class="row" ndType="none">

                                <div class="col-sm-6 col-sm-offset-3 ndContainer" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="column">
                                    <div class="module-title font-alt ndContainer" ndType="none">
                                        <h1  class="editable" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="header" contenteditable="false">  A header text H1 </h1>
                                        </div>
                                    <div class="module-subtitle font-serif mb-0" ndType="none">
                                        <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                                        </div>

                                    </div>

                                </div><!-- .row --> 

                            </div>
                        </section>
                    </section>

                </div>
            </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" >
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div> </section>