<div class="panel panel-default" x-lvl-draggable="false" x-lvl-drop-target="true" ndType="panel" x-on-select="selected(selectedEl)">
    <div class="panel-heading" x-lvl-draggable="false" x-lvl-drop-target="true" ndType="panelHeading" x-on-select="selected(selectedEl)">
        <h3  class="editable" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="header" contenteditable="false">  A header text H3 </h3>
    </div>
    <div class="panel-body" ndType="none" x-lvl-drop-target="true">
        <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
    </div>
</div>