<section class="module"  x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="photoHeader" style="position:relative">   
    <div class="container-fluid module" ndType="none"   style="height: 100%;width: 100%;top:0px;left:0px;z-index: 10;position:absolute;background-image: url(https://d28pzkwbso7p1u.cloudfront.net/catalog/images/width1400/photo-01.jpg);">
        </div>
    <section  x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="photoHeader" class="module bg-dark bg-dark-60" data-background="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg" style="background-image: url(http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-4.jpg);">
        <div class="container-fluid" ndType="none" style="height: 100%; width:100%;top:0px;left:0px;z-index: 10;position:absolute;padding-top:100px;">

            <div class="row" ndType="none">

                <div class="col-sm-6 col-sm-offset-3 ndContainer" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="column">
                    <div class="module-title font-alt ndContainer" ndType="none">
                        <h1  class="editable" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="header" contenteditable="false">  A header text H1 </h1>
                        </div>
                    <div class="module-subtitle font-serif mb-0" ndType="none">
                        <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">This is a simple text paragraph select to edit content.</p>
                        </div>

                    </div>

                </div><!-- .row --> 

            </div>
        </section>
    </section>