<section x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="homeFull" class="home-section home-parallax home-fade home-full-height bg-dark-30" style="height: 500px;background-image: url(http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/section-2.jpg);">
    <div class="hs-caption">
        <div class="caption-content" style="opacity: 1;">
            <div class="hs-title-size-1 font-alt mb-30">
                <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">Hello &amp; welcome </p>
            </div>
            <div class="hs-title-size-4 font-alt mb-40">
                <p class="editable" x-lvl-draggable="false" x-lvl-drop-target="true" contenteditable="false" x-on-select="selected(selectedEl)" ndType="paragraph">We are Rival </p>
            </div>
            <a x-lvl-draggable="true" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="button"  role="button" href="#about" class="editable section-scroll btn btn-border-w btn-round">Learn More</a>
        </div>
    </div>
</section>