<div class="section-top" id="metro_welcome_section" style="background-image: linear-gradient(rgba(0, 0, 0, 0.701961), rgba(0, 0, 0, 0.701961)), url(https://s3.amazonaws.com/ga-core/core/core-static/metros/default-background.jpg);">
    <header class="welcome-text">
        <h1 class="home-large js-fit-text centered" id="london_title" style="font-size: 150px;">Working <br>Knowledge</h1>
        <h2 class="home-medium centered" id="london_tagline">Learn technology, design, and business skills from industry professionals in our global community.</h2>
        <div class="centered">
            <a class="browse-offerings button" href="https://generalassemb.ly/education?format=immersives&amp;where=london" id="london_cta">View Courses in London</a>
        </div>
    </header>
</div>