<div class="container-fluid ndContainer" ndType="container" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)">

    <!-- Team item star -->
    <div ndType="column" x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp animated ndContainer" style="visibility: visible;">

        <div class="team-item">
            <div class="team-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/team-1.jpg" alt=""> 
                <div class="team-detail">  
                    <h5 class="font-alt">Hi all</h5> 
                    <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a> 
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a> 
                        </div>
                    </div> 
                </div> 
            <div class="team-descr font-alt">  
                <div class="team-name">Jim Stone</div> 
                <div class="team-role">Art Director</div> 
                </div>
            </div> 

        </div>
    <!-- Team item end -->

    <!-- Team item star -->
    <div ndType="column" x-lvl-draggable="false" x-lvl-drop-target="true"  x-on-select="selected(selectedEl)" class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp animated ndContainer" style="visibility: visible;">

        <div class="team-item">
            <div class="team-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/team-2.jpg" alt="">
                <div class="team-detail"> 
                    <h5 class="font-alt">Good day</h5>
                    <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p> 
                    <div class="team-social"> 
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a> 
                        <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            <div class="team-descr font-alt">
                <div class="team-name">Andy River</div>
                <div class="team-role">Creative director</div> 
                </div> 
            </div> 

        </div> 
    <!-- Team item end --> 

    <!-- Team item star --> 
    <div ndType="column" x-lvl-draggable="false" x-lvl-drop-target="true"  x-on-select="selected(selectedEl)" class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp animated ndContainer" style="visibility: visible;"> 

        <div class="team-item">
            <div class="team-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/team-3.jpg" alt=""> 
                <div class="team-detail"> 
                    <h5 class="font-alt">Hello</h5> 
                    <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                    <div class="team-social"> 
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a> 
                        <a href="#"><i class="fa fa-skype"></i></a>
                        </div> 
                    </div> 
                </div>  
            <div class="team-descr font-alt">  
                <div class="team-name">Adele Snow</div> 
                <div class="team-role">Account manager</div>
                </div> 
            </div> 

        </div> 
    <!-- Team item end --> 

    <!-- Team item star --> 
    <div ndType="column" x-lvl-draggable="false" x-lvl-drop-target="true"  x-on-select="selected(selectedEl)" class="col-sm-6 col-md-3 mb-sm-20 wow fadeInUp animated ndContainer" style="visibility: visible;">

        <div class="team-item"> 
            <div class="team-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/team-4.jpg" alt=""> 
                <div class="team-detail">
                    <h5 class="font-alt">Yes, its me</h5>
                    <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div> 
                </div> 
            <div class="team-descr font-alt"> 
                <div class="team-name">Dylan Woods</div> 
                <div class="team-role">Developer</div>
                </div>
            </div> 

        </div> 
    <!-- Team item end -->

    </div>