<ul id="works-grid" class="works-grid works-grid-4 works-hover-w" style="position: relative;">

    <!-- Portfolio item start -->  
    <li class="work-item illustration webdesign" > 
        <a href="portfolio-single-1.html"> 
            <div class="work-image">  
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-1.jpg" alt=""> 
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Corporate Identity MENE</h3>
                <div class="work-descr"> 
                    Illustration 
                    </div>
                </div>
            </a> 
        </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start --> 
    <li class="work-item marketing photography" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-2.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Bag MockUp</h3>
                <div class="work-descr">
                    Marketing
                    </div>
                </div>
            </a>
        </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item illustration photography" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-3.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Disk Cover</h3>
                <div class="work-descr">
                    Illustration 
                    </div>
                </div>
            </a>
        </li> 
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing photography" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-4.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Business Card</h3>
                <div class="work-descr">
                    Photography
                    </div>
                </div>
            </a>
        </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item illustration webdesign" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-5.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Business Cards</h3>
                <div class="work-descr">
                    Webdesign
                    </div>
                </div>
            </a>
        </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing webdesign" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-6.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Business Cards in paper clip</h3>
                <div class="work-descr">
                    Marketing
                    </div>
                </div>
            </a>
        </li>
    <!-- Portfolio item end -->

    <!-- Portfolio item start -->
    <li class="work-item marketing webdesign" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-7.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Business Cards in paper clip</h3>
                <div class="work-descr">
                    Marketing
                    </div>
                </div>
            </a>
        </li> 
    <!-- Portfolio item end -->

    <!-- Portfolio item start --> 
    <li class="work-item illustration webdesign" >
        <a href="portfolio-single-1.html">
            <div class="work-image">
                <img x-lvl-draggable="false" x-lvl-drop-target="true" x-on-select="selected(selectedEl)" ndType="image" src="http://www.mycookroom.ru/mywork/Rival/Rival-v1.4.1/Site/assets/images/work-1.jpg" alt="">
                </div>
            <div class="work-caption font-alt">
                <h3 class="work-title">Corporate Identity</h3>
                <div class="work-descr">
                    Illustration
                    </div>
                </div>
            </a>
        </li>
    <!-- Portfolio item end -->



    </ul>