/***********************
 * the left Scroll-panel *
 ***********************/
#settingsTab label {
    color: #ffffff;
}

/***********************
 * the whole dashboard *
 ***********************/
.dashboard-container {
    background-color: #dddd;
}

/***********************
 * font-family *
 ***********************/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../resources/fonts/Poppins-Regular.ttf');
}

/***********************
 * font for /view/ and /edit/ pages *
 ***********************/
section#designArea, div#pageViewer {
    font-family: 'Poppins', sans-serif;
}

/**************************************************************
 * Jumbotron : the 1st layout of the list, with "Hello World" *
 **************************************************************/
.jumbotron {
    padding: 4px 0;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 15px auto;
    width: 98%;
}

.jumbotron h1 {
    /* jumbotron heading */
    color: #212121;
    background: none;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.2;
}

.jumbotron p {
    /* jumbotron paragraph */
    font-size: 20px;
    color: #212121;
}


/***************************
 *         headers         *
 ***************************/
/* used for layouts "H" and Lorem Ipsum */
h1 {
    color: #ffffff;
}

p {
    letter-spacing: -0.5px;
}


/**************** Custom Headers **********/
div.page-header {
    border: none;
}

div.page-header.ng-scope {
    border-radius: 5px;
    margin: 0 auto;
    padding: 3px 15px;
    width: 98%;
    background-color: white;
}

div.page-header h1.editable,
div.page-header > h1 {
    /**Title - Lorem ipsum paragraph - calques*/
    font-size: 3rem;
    color: #000000;
    background-color: white;
    font-weight: 700;
}

div.page-header p.editable,
div.page-header > p {
    /**Text - Lorem ipsum paragraph - calques*/
    font-size: 16px;
    padding: 10px;
    max-height: 120px;
}


/**************** Custom Featurette **********/
div.ndContainer h2.editable +
div.ndContainer h2.featurette-heading {
    /** "I Feel good" paragraph - calques*/
    margin: 0 auto;
    font-size: 2.2rem;
    color: #000000;
    background-color: white;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/********************************
 *         reports              *
 ********************************/
.report-view {
    /* the whole report */
}

.Block500 {
    /* block containing report */
    width: 100%;
    border: 0;
    min-height: 50px;
    padding: 5px 5px 0 5px;
    margin: 15px 0px;
    height: 422px;
    background: #ffffff none repeat scroll 0% 0%;
    border-radius: 5px;
    margin: 0 0 0 0;
}

.Block500 .ndContainer {
    margin-top: 0;
}

.container-fluid {
    padding: 0;
}

.container-fluid.ndContainer {
    display: flex;
    justify-content: space-evenly;
}

/****************************************
 *         2/3/4 columns layout         *
 ****************************************/
.ndContainer {
    margin-top: 8px;
}

.ndContainer > h3 {
    /* title of 2/3/4 columns layout */
    color: #120901;
    text-align: left;
    background: #fefeff none repeat scroll 0% 0%;
    padding: 15px;
    margin: 0 auto;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.ndContainer > h2 {
    /* title of 1text+1block 2-columns layout */
    margin: 0 auto;
    padding: 15px 0 5px 15px;
    background: #fefeff none repeat scroll 0% 0%;
    font-size: 2.6rem;
    color: #000000;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.text-muted {
    /* muted-color, used on the right of the title for 1text+1block 2 columns layout. */
    color: #444;
}

.ndContainer > p {
    /* paragraph inside 2/3/4 columns layout and text+block 2-columns layout */
    background: #ffffff none repeat scroll 0% 0%;
    padding: 15px 10px;
    margin: 0;
    max-height: 150px;
    overflow: hidden;
    color: #212121;
    font-size: 15px;
}

/*************************************
 *         table reports             *
 *************************************/
.report-grid {
    min-width: 100%;
    border: 1px solid #dae2e6;
    padding: 0;
}

.report-grid > table > thead > tr > th {
    background-color: #aaa;
    color: black;
    font-size: 10pt bold;
    font-weight: 500;
    padding: 5px 0 3px 5px;
}

.report-grid tbody tr:nth-child(even) td {
    /* even lines, values */
    color: #444;
    font-weight: 500;
    background-color: #ddd;
    padding: 0 0 0 5px;
}

.report-grid tbody tr:nth-child(odd) td {
    /* even lines, values */
    color: #444;
    font-weight: 500;
    padding: 0 0 0 5px;
}

/************************
 *   graph reports      *
 ************************/
.c3 svg {
    margin: 0;
}

.c3 text {
    /* text in report generated by c3.js */
    fill: #120901;

    /* use 'fill' property to change text color */
}

.c3-tooltip {
    /* c3.js tooltip */
    fill: #120901;
}

.c3-legend-item {
    fill: #fff;
}

.c3 path {
    fill: none;
    stroke: #fff;
}

.c3 line {
    fill: none;
    stroke: #fff;
}

.c3-arc-jane {
    background-color: red;
}

.c3-chart-arc {
    background-color: red;
}

.c3-target-john {
    background-color: red;
}

.c3-target-jane {
    background-color: red;
}


/************************
 *     pivot reports    *
 ************************/
table.pvtTable {
    min-width: 100%;
    border: 1px solid #dae2e6;
}

table.pvtTable thead tr th {
    /* columns headers */
    background-color: #aaaaaa;
    color: #fff;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable tbody tr:nth-child(even) th {
    /* even lines, 1st column */
    color: #fff;
    background-color: #aaaaaa !important;
}

.pvtTable tbody tr:nth-child(even) td {
    /* even lines, values */
    color: #fff;
    font-weight: 500;
    background-color: #aaaaaa;
}

.pvtTable tbody tr:nth-child(odd) th {
    /* odd lines, 1st column */
    color: #aaaaaa;
}

.pvtTable tbody tr:nth-child(odd) td {
    /* odd lines, values */
    background-color: #dae2e6;
    font-weight: 500;
}

.colTotal tbody tr td {
    font-weight: 600;
    color: red !important;
}


/*************************************
 * label of run time selected values *
 *************************************/
.form-group {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    color: #aaaaaa;
}


/*************************************
 *   the hr layout (horizontal bar)  *
 *************************************/
.featurette-divider {
    border-top: 2px solid #aaaaaa;
}

.lead {
    border-radius: 0 0 5px 5px;
}

