/***********************
 * the whole dashboard *
 ***********************/
.dashboard-container {
    background-color: #dae2e6;
}

/**************************************************************
 * Jumbotron : the 1st layout of the list, with "Hello World" *
 **************************************************************/
.jumbotron {
    padding: 0;
    margin: 0 30px 0 30px;
    background:
        linear-gradient(
            to right,
            #2a4461,
            #dae2e6
        );
}

.jumbotron h1 {
    /* jumbotron heading */
    text-align: left;
    color: #fff;
    background: none;
    margin: 0;
    font-weight: 600;
    padding: 0;
}

.jumbotron p {
    /* jumbotron paragraph */
    text-align: left;
    color: #fff;
}

/***************************
 *         headers         *
 ***************************/

/* used for layouts "H" and Lorem Ipsum */
h1 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

h2 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

h3 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

h4 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

h5 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

h6 {
    color: #ff8513;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 30px;
}

/********************************
 *         reports              *
 ********************************/
.report-view {
    /* the whole report */
}

.Block500 {
    /* block containing report */
    width: 100%;
    border: 0;
    min-height: 50px;
    padding: 5px 5px 0 5px;
    height: 422px;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 0 0 5px 5px;
    margin: 0 0 0 0;
}

.Block500 .ndContainer {
    margin-top: 0;
}

/****************************************
 *         2/3/4 columns layout         *
 ****************************************/

.ndContainer {
    margin-top: 10px;
}

.ndContainer > h3 {
    /* title of 2/3/4 columns layout */
    color: #ff8513;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    background: #2a4461 none repeat scroll 0% 0%;
    border-radius: 5px 5px 0 0;
    padding: 10px 5px 5px 10px;
    margin: 0;
}

.ndContainer > h2 {
    /* title of 1text+1block 2-columns layout */
    color: #ff8513;
    text-align: left;
    background: #2a4461 none repeat scroll 0% 0%;
    margin: 0 0 0;
    border-radius: 5px 5px 0 0;
    padding: 10px 5px 5px 10px;
}

.text-muted {
    /* muted-color, used on the right of the title for 1text+1block 2 columns layout. */
    color: #d77;
}

.ndContainer > p {
    /* paragraph inside 2/3/4 columns layout and text+block 2-columns layout */
    background: #2a4461 none repeat scroll 0% 0%;
    padding: 5px 0 5px 10px;
    margin: 0;
    font-weight: 600;
    color: #fff;
    border: none;
}

/*************************************
 *         table reports             *
 *************************************/
.report-grid {
    min-width: 100%;
    border: 1px solid #dae2e6;
    padding: 0;
}

.report-grid > table > thead > tr > th {
    background-color: #2a4461;
    color: #fff;
    font-size: 8pt;
    padding: 5px 0 0 5px;
}

.report-grid tbody tr:nth-child(even) td {
    /* even lines, values */
    color: #fff;
    font-weight: 500;
    background-color: #2a4461;
    padding: 0 0 0 5px;
}

.report-grid tbody tr:nth-child(odd) td {
    /* even lines, values */
    color: #2a4461;
    font-weight: 500;
    padding: 0 0 0 5px;
}

/************************
 *   graph reports      *
 ************************/
.c3 svg {
    margin: 0;
}

.c3 text {
    /* text in report generated by c3.js */
    fill: #fff;

    /* use 'fill' property to change text color */
}

.c3-tooltip {
    /* c3.js tooltip */
    fill: #fff;
}

.c3-legend-item {
    fill: #fff;
}

.c3 path {
    fill: none;
    stroke: #fff;
}

.c3 line {
    fill: none;
    stroke: #fff;
}

/************************
 *     pivot reports    *
 ************************/
table.pvtTable {
    min-width: 100%;
    border: 1px solid #dae2e6;
}

table.pvtTable thead tr th {
    /* columns headers */
    background-color: #2a4461;
    color: #fff;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable tbody tr:nth-child(even) th {
    /* even lines, 1st column */
    color: #fff;
    background-color: #2a4461 !important;
}

.pvtTable tbody tr:nth-child(even) td {
    /* even lines, values */
    color: #fff;
    font-weight: 500;
    background-color: #2a4461;
}

.pvtTable tbody tr:nth-child(odd) th {
    /* odd lines, 1st column */
    color: #2a4461;
}

.pvtTable tbody tr:nth-child(odd) td {
    /* odd lines, values */
    background-color: #dae2e6;
    font-weight: 500;
}

.colTotal tbody tr td {
    font-weight: 600;
    color: red !important;
}

/*************************************
 * label of run time selected values *
 *************************************/
.form-group {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    color: #2a4461;
}

/*************************************
 *   the hr layout (horizontal bar)  *
 *************************************/
.featurette-divider {
    border-top: 2px solid #2a4461;
}

.lead {
    border-radius: 0 0 5px 5px;
}

.editable {
    margin: 10px 0 0 30px;
}
