{% capture title %}{% t 'Roles' %}{% endcapture %}
{% layout 'layout/with-sidebar' title: title %}

{% block head %}
    {% render 'partials/notify' %}

    <script type="module" src="js/role/list.js"></script>
{% endblock %}

{% block page-header %}
    <span class="h3">{% t 'Roles' | escape %}</span>
    <a href="roles/new" class="btn btn-success pull-right">{% t 'New role' | escape %}</a>
{% endblock %}

{% block main %}
    <div id="role-list-table-wrapper"></div>
{% endblock %}
