<div class="row">
    <div class="col-md-4">
        <a ng-href="dashboards/view/{{ vm.dashboard._id }}">{{ vm.dashboard.dashboardName }}</a>
        <div class="badge-list">
            <span ng-if="vm.dashboard.isPublic" class="badge" translate>public</span>
            <span ng-if="vm.dashboard.isShared" class="badge" translate>shared</span>
        </div>
    </div>

    <div class="col-md-3">
        {{ vm.dashboard.author }}
    </div>

    <div class="col-md-3">
        {{ vm.dashboard.createdOn | date }}
    </div>

    <div class="col-md-2">
        <a class="pull-right list-button btn-delete" ng-click="vm.openDeleteModal()" uib-tooltip="{{ 'Delete this dashboard' | translate}}" tooltip-placement="bottom">
            <i class="fa fa-trash-o"></i>
        </a>
        <a class="pull-right list-button btn-duplicate" ng-click="vm.openDuplicateModal()" uib-tooltip="{{ 'Duplicate this dashboard' | translate}}" tooltip-placement="bottom">
            <i class="fa fa-copy"></i>
        </a>
        <a class="pull-right list-button btn-edit" ng-href="dashboards/edit/{{ vm.dashboard._id }}" uib-tooltip="{{ 'Edit this dashboard' | translate }}" tooltip-placement="bottom">
            <i class="fa fa-pencil"></i>
        </a>
        <a class="list-button list-button-share pull-right"
            uib-tooltip="{{ 'Share' | translate }}"
            uib-popover-template="'share-popover.html'"
            popover-title="{{ 'Share to...' | translate }}"
            popover-trigger="'outsideClick'"
            popover-placement="left"
            popover-append-to-body="true"
        >
            <i class="fa fa-share-alt"></i>
        </a>
    </div>
</div>
<script type="text/ng-template" id="share-popover.html">
    <app-share-popover item="vm.dashboard" publish="vm.publish" unpublish="vm.unpublish" share="vm.share" unshare="vm.unshare" get-copy-link="vm.getCopyLink"></app-share-popover>
</script>
