<div class="modal-header">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true">&times;</button>
    <h3 class="modal-title" translate>Select an image</h3>
</div>

<div class="modal-body">
    <uib-tabset class="nav-tabs-justified">
        <uib-tab heading="{{ 'My Images' | translate }}">
            <ul id="file-list" class="files-modal-list">
                <li ng-repeat="file in vm.files">
                    <a class="hand-cursor file-selection" ng-hide="file.loading" ng-click="vm.onFileSelected(file)">
                        <img alt="{{ file.description }}" uib-tooltip="{{ file.name }}" ng-src="{{ file.url }}" />
                    </a>
                    <a class="hand-cursor file-selection" ng-show="file.loading">
                        <img src="images/loader.gif" />
                    </a>
                </li>
            </ul>

            <div class="btn btn-default" ngf-select="vm.upload($file)" translate>Choose image to upload</div>
        </uib-tab>

        <uib-tab heading="{{ 'Public Images' | translate }}">
            <ul class="files-modal-list">
                <li ng-repeat="file in vm.catalogImages">
                    <a class="hand-cursor file-selection" ng-click="vm.onFileSelected(file)">
                        <img ng-src="{{ file.url }}" />
                    </a>
                </li>
            </ul>
        </uib-tab>

        <uib-tab heading="{{ 'Icon set' | translate }}">
            <ul class="files-modal-list">
                <li ng-repeat="file in vm.catalogIcons">
                    <a class="hand-cursor file-selection" ng-click="vm.onFileSelected(file)">
                        <img ng-src="{{ file.url }}" />
                    </a>
                </li>
            </ul>
        </uib-tab>
	
	<uib-tab heading="{{ 'Image url' | translate }}">
           <ul class="files-modal-list">
               <label> URL </label>
		<input type="text" ng-model="vm.url" name="url" placeholder="Image Url" size="40">
		<input type="submit" name="submit" value="submit" ng-click="vm.submit()">     
                 <img ng-src="{{ vm.url }}" />
            </ul>
        </uib-tab>
    </uib-tabset>
</div>
     
