<div id="parentIntro" ng-intro-method="vm.showIntro" ng-intro-options="vm.introOptions" class="container-fluid root-container">
    <div class="row">
        <div class="main col-md-3">
            <app-sidebar show-intro="vm.showIntro()"></app-sidebar>
        </div>

        <div class="main col-md-9">
            <div class="page-header">
                <span class="h3" translate>Dashboards</span>

                <a id="newDashboardButton" ng-if="vm.creationAuthorised" href="dashboards/new/true" class="btn btn-success pull-right" uib-tooltip="{{ 'Click here to create a new dashboard' | translate }}" tooltip-placement="bottom" translate>Create new dashboard</a>
                <a class="btn btn-info pull-right" ng-click="vm.showIntro()" style="margin-right: 3px;" uib-tooltip="{{ 'Follow the guided tour for dashboards' | translate }}" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <colgroup>
                            <col style="width: 40%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span translate>Name</span>
                                    <app-table-column-sort on-sort="vm.onSort('dashboardName', $dir)" sort-dir="vm.sortDir['dashboardName']"></app-table-column-sort>
                                </th>
                                <th>
                                    <span translate>Author</span>
                                    <app-table-column-sort on-sort="vm.onSort('author', $dir)" sort-dir="vm.sortDir['author']"></app-table-column-sort>
                                </th>
                                <th>
                                    <span translate>Created on</span>
                                    <app-table-column-sort on-sort="vm.onSort('createdOn', $dir)" sort-dir="vm.sortDir['createdOn']"></app-table-column-sort>
                                </th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    <app-table-column-filter on-filter="vm.onFilter('dashboardName', $value)"></app-table-column-filter>
                                </td>
                                <td>
                                    <app-table-column-filter on-filter="vm.onFilter('author', $value)"></app-table-column-filter>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dashboard in vm.dashboards">
                                <td>
                                    <a ng-href="dashboards/view/{{ dashboard._id }}">{{ dashboard.dashboardName }}</a>
                                    <div class="badge-list">
                                        <span ng-if="dashboard.isPublic" class="badge" translate>public</span>
                                        <span ng-if="dashboard.isShared" class="badge" translate>shared</span>
                                    </div>
                                </td>
                                <td>{{ dashboard.author }}</td>
                                <td>{{ dashboard.createdOn | date }}</td>
                                <td><app-dashboards-list-buttons dashboard="dashboard" on-delete="vm.refresh()" on-duplicate="vm.refresh()"></app-dashboards-list-buttons></td>
                            </tr>
                        </tbody>
                    </table>

                    <app-pager current-page="vm.currentPage" total-pages="vm.pages" on-page-change="vm.goToPage(page)"></app-pager>
                </div>
            </div>
        </div>
    </div>
</div>
