<app-theme-link theme="vm.dashboard.theme"></app-theme-link>

<div class="page-header">
    <span class="h3" ng-bind="vm.dashboard.dashboardName"></span>

    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span translate>Export</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="vm.downloadAsPNG()">As PNG</a></li>
                <li><a href="" ng-click="vm.downloadAsPDF()">As PDF</a></li>
            </ul>
        </div>
        <a ng-click="goBack();" class="btn btn-default" uib-tooltip="{{ 'Click here to cancel and backtrack' | translate }}" tooltip-placement="bottom" translate>Cancel</a>
        <a ng-if="vm.dashboard && ((vm.dashboard.owner == user._id) || vm.isAdmin)" ng-href="dashboards/edit/{{vm.dashboard._id}}" class="btn btn-success" style="margin-right: 5px;" translate>Edit Dashboard</a>
    </div>
</div>

<div class="container-fluid branded-border-panel"></div>

<div class="container-fluid dashboard-container" id="pageViewer" style="top: 42px; bottom: 0; position: absolute; overflow-y: auto; width: 100%; padding-top: 10px;"></div>
