<div class="container-fluid " ng-init="getDashboards()"  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid" style="border-bottom: 2px solid #72A230;margin-bottom: 10px">
                    <h3 class="pull-left" >Dashboards</h3>
                    <a href="/#/dashboards/new/true" class="btn btn-success pull-right">New Dashboard</a>
                </div>

                <div class="list-group">
                    <a href="/#/dashboards/{{dashboard._id}}" class="list-group-item" ng-repeat="dashboard in dashboards.items">
                        <h4 class="list-group-item-heading" ng-bind="dashboard.dashboardName"></h4>
                        <p class="list-group-item-text" ng-bind="dashboard.dashboardDescription"></p>
                    </a>

                </div>
            </div>
        </div>
    </div>