{% layout 'layout/layout' title: title %}

{% block content %}
    <div class="container-fluid root-container">
        <div class="row">
            <div class="col-md-3">
                {% render 'sidebar', session: session %}
            </div>

            <div class="main col-md-9">
                <div class="page-header">
                    {% block page-header %}{% endblock %}
                </div>

                {% render 'flash', session: session %}

                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
