<div class="container-fluid mainArea">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid" style="border-bottom: 2px solid #72A230;margin-bottom: 10px">
                    <h3 class="pull-left" >Cubes</h3>
                    <a href="/#/cubes/new/true" class="btn btn-success pull-right">New Cube</a>
                </div>

                <div class="list-group">

                </div>
            </div>
        </div>
    </div>