<div class="modal-header">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" translate>Add element to schema</h4>
    <h5 class="modal-title">{{vm.element.elementName}}</h5>
</div>

<div class="modal-body">
    <form name="vm.form" novalidate>
        <uib-tabset active="vm.activeTab">
            <uib-tab index="'expression'" ng-if="vm.element.isCustom">
                <uib-tab-heading translate>Expression</uib-tab-heading>

                <div class="container-fluid row">
                    <div class="col-md-6">
                        <ul class="scroll-list btn-group-vertical">
                            <li class="btn" ng-repeat="collection in vm.layer.params.schema" ng-class="{ 'scroll-list-selected': vm.selectedCollection === collection }" ng-show="!vm.element.component || collection.component === vm.element.component" ng-click="vm.selectCollection(collection)">
                                {{collection.collectionLabel}}
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6" ng-show="vm.selectedCollection">
                        <ul class="scroll-list btn-group-vertical">
                            <li class="btn" ng-repeat="element in vm.selectedCollection.elements" ng-click="vm.addElementToExpression(element)">
                                <span>{{element.elementLabel}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <input class="form-control" ng-model="vm.element.viewExpression" ng-change="vm.onExpressionChange()" name="expression" required>

                <h6 translate>Elements used in the expression:</h6>
                <ul>
                    <li ng-repeat="element in vm.getElementsUsedInCustomExpression()">
                        #{{element.elementID}} = {{element.collectionName}}.{{element.elementLabel}}
                    </li>
                </ul>
            </uib-tab>

            <uib-tab index="'general'">
                <uib-tab-heading translate>General</uib-tab-heading>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="layer-element-modal-label" class="control-label" translate>Label</label>
                            <input id="layer-element-modal-label" class="form-control" ng-model="vm.element.elementLabel" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="layer-element-modal-type" class="control-label" translate>Type</label>
                            <select id="layer-element-modal-type" class="form-control" ng-model="vm.element.elementType" ng-options="type for type in vm.elementTypes"></select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.element.elementType == 'number'">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label for="field-default-aggregation-number" class="control-label" translate>Default aggregation</label>
                            <select id="field-default-aggregation-number" class="form-control" ng-model="vm.element.defaultAggregation" ng-options="obj.value as obj.name for obj in vm.numberDefaultAggregation"></select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.element.elementType == 'string'">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label for="field-default-aggregation-string" class="control-label" translate>Default aggregation</label>
                            <select id="field-default-aggregation-string" class="form-control" ng-model="vm.element.defaultAggregation" ng-options="obj.value as obj.name for obj in vm.stringDefaultAggregation"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="layer-element-modal-description" class="control-label" translate>Description</label>
                            <textarea ng-model="vm.element.description" class="form-control autogrow" id="layer-element-modal-description"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-if="vm.element.elementType == 'array'">
                            <label class="control-label" translate>Array values</label>
                            <div ng-repeat="value in vm.element.values">
                                <span class="form-control" style="width: 47%; float: left; font-weight: bold;">{{value.value}}</span>
                                <input class="form-control" ng-model="value.label" placeholder="{{ 'label' | translate }}" style="width: 47%; float: left;">
                                <i class="fa fa-times hand-cursor" ng-click="vm.removeFromArray(vm.element.values, value)" style="padding: 9px;"></i>
                            </div>

                            <div>
                                <input class="form-control" ng-model="vm.valueValue" placeholder="{{ 'enter new value' | translate }}" style="width: 47%; float: left;">
                                <input class="form-control" ng-model="vm.valueLabel" placeholder="{{ 'enter new label' | translate }}" style="width: 47%; float: left;">
                                <i class="fa fa-arrow-right hand-cursor" style="padding: 9px;" ng-click="vm.addValueToElement(vm.element, vm.valueValue, vm.valueLabel);vm.valueValue='';vm.valueLabel='';"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="'format'" ng-if="vm.element.elementType == 'number' || vm.element.elementType == 'date'">
                <uib-tab-heading translate>Format</uib-tab-heading>

                <div class="form-group">
                    <label for="field-format" class="control-label" translate>Format</label>
                    <input id="field-format" class="form-control" ng-model="vm.element.format" placeholder="{{ 'format...' | translate }}" style="width: 100%;">
                </div>

                <div ng-if="vm.element.elementType == 'number'">
                    <h5 translate>Format examples</h5>

                    <a class="btn btn-link pull-right" href="http://numeraljs.com/" target="_blank" translate>more examples...</a>

                    <table class="table-condensed striped bordered">
                        <thead>
                            <tr>
                                <th translate>Number</th>
                                <th translate>Format</th>
                                <th translate>String</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr><td>10000</td><td>0,0.0000</td><td>10,000.0000</td></tr>
                            <tr><td>10000.23</td><td>0,0</td><td>10,000</td></tr>
                            <tr><td>10000.1234</td><td>0.000</td><td>10000.123</td></tr>
                            <tr><td>-10000</td><td>(0,0.0000)</td><td>(10,000.0000)</td></tr>
                            <tr><td>-0.23</td><td>.00</td><td>-.23</td></tr>
                            <tr><td>1230974</td><td>0.0a</td><td>1.2m</td></tr>
                            <tr><td>1000.234</td><td>$0,0.00</td><td>$1,000.23</td></tr>
                            <tr><td>1000.2</td><td>0,0[.]00 $</td><td>1,000.20 $</td></tr>
                            <tr><td>0.974878234</td><td>0.000%</td><td>97.488%</td></tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="vm.element.elementType == 'date'">
                    <h5 translate>Format examples</h5>
                    <a class="btn btn-link pull-right" href="http://momentjs.com/docs/#/displaying/" target="_blank" translate>more examples...</a>

                    <table class="table-condensed striped bordered">
                        <thead>
                            <tr>
                                <th translate>Format</th>
                                <th translate>Result</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr><td>dddd, MMMM Do YYYY, h:mm:ss a</td><td>Sunday, February 14th 2010, 3:25:50 pm</td></tr>
                            <tr><td>DD/MM/YYYY</td><td>18/01/1969</td></tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </form>

    <div ng-show="vm.form.$dirty">
        <p class="text-danger">{{vm.errorMessage}}</p>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn" ng-click="vm.dismiss()" translate>Cancel</button>
    <button type="button" class="btn btn-info" ng-show="vm.activeTab === 'expression'" ng-click="vm.validateCustomElement()" translate>Next</button>
    <button type="button" class="btn btn-info" ng-click="vm.saveElement()" translate>Save</button>
</div>
