<div class="modal-header">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">{{ vm.title }}</h3>
</div>
<div class="modal-body">
    <form ng-submit="vm.onDelete()">
        <div class="form-group">
            <label translate>Please type DELETE to confirm</label>
            <input type="text" class="form-control" ng-model="vm.deleteString" ng-required="true">
            <span ng-show="vm.deleteString !== 'DELETE'" class="help-inline" translate>This field is required</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="vm.dismiss()" translate>Cancel</button>
    <button ng-click="vm.onDelete();" ng-disabled="vm.deleteString !== 'DELETE'" class="btn btn-danger" translate>Delete</button>
</div>
