<div class="modal-header">
    <button type="button" class="close" ng-click="vm.dismiss()" aria-hidden="true">&times;</button>
    <h4 translate>Settings for PDF export</h4>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.settings.displayHeaderFooter">
                    <span translate>Add header and footer</span>
                </label>
            </div>
        </div>

        <div class="form-group" ng-if="vm.settings.displayHeaderFooter">
            <label translate>Header template</label>
            <textarea rows="3" class="form-control code" ng-model="vm.settings.headerTemplate"></textarea>
            <div class="help-block" translate>
                HTML template for the print header. The default is to show the
                date on the right.
            </div>

            <label translate>Footer template</label>
            <textarea rows="3" class="form-control code" ng-model="vm.settings.footerTemplate"></textarea>
            <div class="help-block" translate>
                HTML template for the print footer. The default is to show the
                page number and the total number of pages on the right.
            </div>

            <div class="help-block">
                <span translate>
                    Header and footer templates should be valid HTML markup
                    with following classes used to inject printing values into
                    them:
                </span>
                <ul>
                    <li><code>date</code> <span translate>formatted print date</span></li>
                    <li><code>title</code> <span translate>document title</span></li>
                    <li><code>url</code> <span translate>document location</span></li>
                    <li><code>pageNumber</code> <span translate>current page number</span></li>
                    <li><code>totalPages</code> <span translate>total pages in the document</span></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn" ng-click="vm.dismiss()" translate>Cancel</button>
    <button type="button" ng-click="vm.submit()" class="btn btn-default" translate>Confirm</button>
</div>
