<div class="object-tree" style="">

    <div id="selectLayerContainer" class="container-fluid"  ng-if="layers.length > 1" >
    <span>Choose a layer:</span>
    <select id="selectLayer" ng-disabled="selectedReport.properties.columns.length > 0 || selectedReport.properties.order.length > 0 || selectedReport.properties.filters" class="form-control" ng-model="selectedLayerID" ng-options="obj._id as obj.name for obj in layers"
                                            ng-change="changeLayer(selectedLayerID)"></select>
    </div>
    <tg-dynamic-directive ng-model="rootItem" tg-dynamic-directive-view="getView">
    </tg-dynamic-directive>

    <script type="text/ng-template" id="nestable_item.html">
        <div id="layerObjects">
            <div class="schema-element-report schema-item-report"  ng-if="(ngModelItem.elementRole == 'dimension' || ngModelItem.elementRole == 'measure') && ngModelItem.enabled != false" >
                <a id="ELEMENT_{{ngModelItem.elementID}}" class="list-group-item data-source-element schema-item-report" ng-if="(ngModelItem.elementType != 'number' && (!ngModelItem.defaultAggregation  || ngModelItem.defaultAggregation == 'value')) || (ngModelItem.elementType == 'number' && (!ngModelItem.defaultAggregation || ngModelItem.defaultAggregation == 'value'))" ng-click="addColumn(ngModelItem)" draggable="true" effect-allowed="copy" draggable-type="custom-object"
                   draggable-data="{
                        elementName: ngModelItem.elementName,
                        objectLabel: ngModelItem.elementLabel,
                        datasourceID:ngModelItem.datasourceID,
                        id:ngModelItem.id,
                        elementLabel:ngModelItem.elementLabel,
                        collectionID:ngModelItem.collectionID,
                        elementID: ngModelItem.elementID,
                        elementType: ngModelItem.elementType,
                        layerID: selectedLayerID,
                        filterType: 'equal',
                        filterPrompt: false,
                        filterTypeLabel:'equal',
                        format:ngModelItem.format,
                        values:ngModelItem.values}">
                            <i class="fa fa-cube wst-main-color" ng-show="ngModelItem.elementType != 'number' && ngModelItem.elementType != 'count' && (!ngModelItem.defaultAggregation)" data-toggle="tooltip" data-placement="top" title="{{ngModelItem.elementLabel}} (Dimmension)"></i>
                            <i class="fa fa-reorder wst-main-color" ng-show="ngModelItem.elementType == 'number' || ngModelItem.elementType == 'count' || (ngModelItem.elementType == 'string' && ngModelItem.defaultAggregation)" data-toggle="tooltip" data-placement="top" title="{{ngModelItem.elementLabel}} (Metric)"></i>


                        {{ngModelItem.elementLabel}}

                </a>

                <a class="list-group-item data-source-element schema-item-report" ng-if="(ngModelItem.elementType == 'number' || ngModelItem.elementType == 'string') &&  ngModelItem.defaultAggregation && ngModelItem.defaultAggregation != 'value' " ng-click="addColumn(ngModelItem)" draggable="true" effect-allowed="copy" draggable-type="custom-object"
                   draggable-data="{
                        elementName: ngModelItem.elementName,
                        objectLabel: ngModelItem.elementLabel+' ('+ngModelItem.defaultAggregation+')',
                        datasourceID:ngModelItem.datasourceID,
                        collectionID:ngModelItem.collectionID,
                        id:ngModelItem.id,
                        elementLabel:ngModelItem.elementLabel,
                        elementID: ngModelItem.elementID,
                        elementType: ngModelItem.elementType,
                        layerID: selectedLayer._id,
                        filterType: 'equal',
                        filterPrompt: false,
                        filterTypeLabel:'equal',
                        format:ngModelItem.format,
                        values:ngModelItem.values,
                        aggregation: ngModelItem.defaultAggregation}">
                            <i class="fa fa-cube wst-main-color" ng-show="ngModelItem.elementType != 'number' && ngModelItem.elementType != 'count' && (!ngModelItem.defaultAggregation)" data-toggle="tooltip" data-placement="top" title="{{ngModelItem.elementLabel}} (Dimmension)" ></i>
                            <i class="fa fa-reorder wst-main-color" ng-show="ngModelItem.elementType == 'number' || ngModelItem.elementType == 'count' || (ngModelItem.elementType == 'string' && ngModelItem.defaultAggregation)" data-toggle="tooltip" data-placement="top" title="{{ngModelItem.elementLabel}} (Metric)"></i>

                        {{ngModelItem.elementLabel +' ('+ngModelItem.defaultAggregation+')'}}

                </a>

            </div>

            <div class="schema-element-report schema-item-report"  ng-if="(ngModelItem.elementRole == 'dimension' || ngModelItem.elementRole == 'measure') && ngModelItem.enabled == false" >
                <span class="list-group-item data-source-element schema-item-report element-disabled" style="color: #85878c;">{{ngModelItem.elementLabel}}</span>
            </div>

            <div class="schema-folder-report"  ng-if="ngModelItem.elementRole == 'folder'" >
                <i ng-if="!ngModelItem.isCollapsed" class="fa fa-plus-square" ng-click="ngModelItem.isCollapsed = !ngModelItem.isCollapsed" ></i>
                <i ng-if="ngModelItem.isCollapsed" class="fa fa-minus-square" ng-click="ngModelItem.isCollapsed = !ngModelItem.isCollapsed" ></i>
                <a  role="button" ng-click="ngModelItem.isCollapsed = !ngModelItem.isCollapsed" >
                    {{ngModelItem.elementLabel}}
                </a>
            </div>
            <div collapse="!ngModelItem.isCollapsed && ngModelItem.elementRole != 'root'" style="padding-left=10px">
            <ul ng-if="ngModelItem.elementRole == 'folder' || ngModelItem.elementRole == 'root'" class="schema-container-report list-group" ng-class="">
                <li class="innerCont list-group-item hand-cursor schema-item-report" ng-repeat="innerItem in ngModelItem.elements">
                    <tg-dynamic-directive ng-model="innerItem" tg-dynamic-directive-view="getView">
                    </tg-dynamic-directive>
                </li>
            </ul>
            </div>
        </div>
    </script>



    <style>
        #metrics-list {
            list-style: none;
        }
        #metrics-list li {
            margin: 1px;
            padding: 5px;
            border: 1px solid black;
        }
    </style>
    <!--
    Metrics
    <ul id="metrics-list">
        <li x-lvl-draggable="true">Count</li>
        <li x-lvl-draggable="true">Count Unique Values</li>
        <li x-lvl-draggable="true">List Unique Values</li>
        <li x-lvl-draggable="true">Sum</li>
        <li x-lvl-draggable="true">Integer Sum</li>
        <li x-lvl-draggable="true">Average</li>
        <li x-lvl-draggable="true">Sum over Sum</li>
        <li x-lvl-draggable="true">80% Upper Bound</li>
        <li x-lvl-draggable="true">80% Lower Bound</li>
        <li x-lvl-draggable="true">Sum as Fraction of Total</li>
        <li x-lvl-draggable="true">Sum as Fraction of Rows</li>
        <li x-lvl-draggable="true">Sum as Fraction of Columns</li>
        <li x-lvl-draggable="true">Count as Fraction of Total</li>
        <li x-lvl-draggable="true">Count as Fraction of Rows</li>
        <li x-lvl-draggable="true">Count as Fraction of Columns</li>
    </ul>
    -->

</div>
