
<div id="parentIntro" intro-help ng-intro-method="showIntro"  ng-intro-options="IntroOptions" id="queryEdit" class="container-fluid branded-border-panel" style="height: 100%;padding-left:0px;padding-right:0px;">


<section class="container-fluid" style="margin-bottom: 5px;padding-top: 5px;height: 40px;" ng-init="initForm()">
    <h3 class="pull-left">Query design</h3>
    <a id="saveQueryForPageBtn" ng-disabled="columns.length <=0" data-ng-click="saveQueryStructure(); saveQuery2(); initQuery();" class="btn btn-success pull-right" style="margin-right: 5px" tooltip="Click here to save the current query and back to the page design" tooltip-placement="bottom">Save Query</a>
    <a ng-click="cancelQuery(); initQuery();" class="btn btn-default pull-right" style="margin-right: 5px" tooltip="Click here to cancel and backtrack" tooltip-placement="bottom">Cancel</a>
    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for data explorer" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
</section>


    <section id="dataObjects">
        <div id="dataObjectsIntroBlock"></div>
            <section class="layer scrollPane" ng-include="'partials/query/data-objects.html'">

            </section>

    </section>

    <section id="dropZone" class="scrollPane multiPage rendered ng-scope" style="padding:10px;" ng-include="'partials/query/query-edit.html'">

    </section>


</div>
