<div id="parentIntro" intro-help ng-intro-method="showIntro"  ng-intro-options="IntroOptions"  class="container-fluid branded-border-panel" style="position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;">

    <!--

    -->

<div class="container-fluid" style="display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    height: 100%;">

<div class="container-fluid" style="padding-bottom: 5px;padding-top: 5px;height: 40px;" ng-init="initForm()">
    <h3 class="pull-left">Explore</h3>
    <a ng-click="goBack();" class="btn btn-default pull-right" tooltip="Click here to cancel and backtrack" tooltip-placement="bottom">Cancel</a>
    <a class="btn btn-info pull-right" ng-click="showIntro()" style="margin-right:3px;" tooltip="Click here to conduct the guided tour for data explorer" tooltip-placement="bottom"><i class="fa fa-question-circle"></i></a>
</div>

    <section id="dataObjects">
        <div id="dataObjectsIntroBlock"></div>
        <section id="dataObjectsInner" class="layer scrollPane" ng-include="'partials/query/data-objects.html'">

        </section>

    </section>
    <section id="dropZone" class="scrollPane multiPage rendered ng-scope" style="padding:10px;" ng-include="'partials/query/query-edit.html'">

    </section>

</div>
</div>
