<!--<script type="text/ng-template" id="filtersGroup.html">-->
        <div  class="container-fluid filter-zone no-padding" drop="onDrop($data, $event, 'group', group)" drop-effect="copy" drop-accept="'json/custom-object'" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
            <div class="filter-zone-label pull-right" ng-hide="group.filters.length > 0">Drop here your filters</div>
            <ul class="ul-drop no-padding" ng-model="group.filters"  > <!--ui-sortable="sortableOptions"-->

                <div ng-repeat="filter in group.filters">

                    <li class="filter-box" ng-class="{'incomplete-filter': (filter.searchValue == '' || filter.searchValue == undefined)}" ng-if="!filter.group && !filter.condition" style="margin-left: 90px;"
                        drop="onDropOnFilter($data, $event, filter)" drop-effect="copy" drop-accept="'json/custom-object'">

                        <div class="container-fluid">
                            <form role="form" class="form-inline">
                            <div class="dropdown" style="vertical-align: middle">
                                <span class="branded-strong-label" >{{filter.objectLabel}}</span>
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span style="color:#0000FF;">{{filter.filterTypeLabel}}</span>
                                    <span class="caret" style="color:#0000FF;"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                    <li ng-repeat="option in getElementFilterOptions(filter.elementType)"><a ng-click="setFilterType(filter,option)">{{option.label}}</a>

                                    </li>

                                </ul>
                                <!-- Array -->
                                <div class="form-group" ng-show="(filter.values != undefined && filter.elementType == 'array' && (filter.filterType != 'in' && filter.filterType != 'notIn') && (filter.filterType != 'null' && filter.filterType != 'notNull'))">

                                    <ui-select ng-model="filter.filterLabel1" on-select="selectFilterArrayValue('simple', filter)" theme="select2" ng-disabled="disabled" style="width: 200px;">
                                        <ui-select-match placeholder="Select or search a value in the list...">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="value in filter.values | filter: $select.search">
                                            <span ng-bind-html="value.label | highlight: $select.search"></span>
                                            <!--<small ng-bind-html="country.value | highlight: $select.search"></small>-->
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- END Array -->
                                <!-- Multiple Array -->
                                <div class="form-group" ng-show="(filter.values != undefined && filter.elementType == 'array' && (filter.filterType == 'in' || filter.filterType == 'notIn') && (filter.filterType != 'null' && filter.filterType != 'notNull') )" >

                                    <ui-select multiple ng-model="filter.filterLabel1" on-select="selectFilterArrayValue('multiple', filter)" on-remove="selectFilterArrayValue('multiple', filter)" theme="select2" ng-disabled="disabled" style="width: 200px;">
                                        <ui-select-match placeholder="Select multiple values...">{{$item.label}}</ui-select-match>
                                        <ui-select-choices repeat="value in filter.values | filter: $select.search">
                                            <div ng-bind-html="value.lavel | highlight: $select.search"></div>
                                            <small>
                                                {{value.label}}

                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- END Multiple Array -->

                                <!-- TODO: Selector de fecha , tratamiento de los campos de tipo fecha, mes , año, día, dia de la semana, etc... -->
                                <!-- Date -->
                                <div class="form-group" ng-show="(filter.elementType == 'date' && (filter.filterType != 'null' && filter.filterType != 'notNull'))">
                                    <span ng-show="(filter.elementType == 'date' && (filter.filterType != 'in' && filter.filterType != 'notIn') && (filter.filterType != 'null' && filter.filterType != 'notNull'))">{{filter.filterLabel1 | date:'yyyy-MM-dd'}}</span>
                                    <span ng-show="filter.filterType == 'in' || filter.filterType == 'notIn'">
                                        <!--<span class="filter-in-list" ng-repeat="oneDate in filter.filterText1">
                                            {{oneDate | date:'yyyy-MM-dd'}} <i class="fa fa-remove filter-in-list-remove hand-cursor" ng-click="removeItem(oneDate,filter.filterText1)"></i>
                                        </span>-->

                                    </span>
                                    <span class="dropdown" popover-trigger="mouseenter" popover-placement="top"  popover="Click here to select the date to filter">
                                        <a class="btn btn-primary popover-primary ng-scope"  id="dropdown1" role="button" data-toggle="dropdown" data-target="#" ><i class="fa fa-calendar"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <datetimepicker ng-model="filter.filterLabel1"  data-on-set-time="onDateSet(newDate, oldDate, filter)" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day'  }"/>
                                        </ul>
                                    </span>

                                    <!--between for date -->
                                    <span ng-if="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType == 'date'" style="color:#0000FF;"> and </span>
                                    <span ng-if="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType == 'date'"> {{filter.filterLabel2 | date:'yyyy-MM-dd'}} </span>
                                    <span ng-if="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType == 'date'" class="dropdown" popover-trigger="mouseenter" popover-placement="top" popover="Click here to select the end date to filter">
                                        <a class="btn btn-primary popover-primary ng-scope"  id="dropdown2" role="button" data-toggle="dropdown" data-target="#" ><i class="fa fa-calendar"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <datetimepicker ng-model="filter.filterLabel2"  data-on-set-time="onDateEndSet(newDate, oldDate, filter)" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day'  }"/>
                                        </ul>
                                    </span>
                                    <!--end between for date -->


                                    <!--
                                    <ui-select ng-show="filter.filterType != 'between' && filter.filterType != 'notBetween' && filter.filterType != 'null' && filter.filterType != 'notNull' && filter.filterType != 'in' && filter.filterType != 'notIn'" ng-model="filter.dateCustomFilterLabel" on-select="filter.filterText1 = filter.dateCustomFilterLabel.value;filter.filterLabel1 = ''" theme="select2" ng-disabled="disabled" style="width: 200px;">
                                        <ui-select-match placeholder="Select or search a value in the list...">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="value in dateFilters | filter: $select.search">
                                            <span ng-bind-html="value.label | highlight: $select.search"></span>

                                        </ui-select-choices>
                                    </ui-select>
                                    -->




                                </div>
                                <!-- END Date -->


                                <div class="input-group" ng-show="!(filter.filterType == 'null' || filter.filterType == 'notNull') && (filter.filterPrompt == false) && ( filter.elementType != 'array') && ( filter.elementType != 'date')" style="width:200px;">
                                    <input type="text" class="form-control no-right-border form-focus-green" ng-model="filter.filterText1" >


                                    <span class="input-group-btn">

                                        <button class="btn btn-primary popover-primary ng-scope" popover-trigger="mouseenter" popover-placement="bottom" popover-title="Select distinct values" popover="Click here to select one or more from the distinct values that can currently be found in the database" ng-click="getDistinctValues(filter)"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button class="btn popover-primary ng-scope" ng-class="{'btn-black': filter.filterPrompt == true, 'btn-white': filter.filterPrompt == false}" ng-click="filterPromptsClick(filter)" popover-trigger="mouseenter" popover-placement="top" popover-title="Filter prompt" popover="{{getButtonFilterPromptMessage(filter)}}">
                                        <i class="fa fa-filter"></i><i class="fa fa-question"></i>
                                    </button>
                                </div>
                                <span ng-show="(filter.filterType == 'between' || filter.filterType == 'notBetween') && filter.elementType != 'date'"> and <input type="text" ng-model="filter.filterText2" />  </span>
                                <span class="pull-right" style="padding: 7px 0;"><i class="fa fa-times hand-cursor" ng-click="removeFromArray(group.filters, filter);filtersUpdated();detectLayerJoins();processStructure();"></i></span>
                            </div>
                            </form>
                        </div>

                    </li>

                    <li ng-if="filter.condition">

                        <div class="dropdown" style="position: absolute; margin: -17px 0px 0px 0px; width: 90px; text-align: center;">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span style="color:#0000FF;" ng-bind="filter.conditionLabel"></span>
                                <span class="caret" style="color:#0000FF;"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                <li ng-repeat="theCondition in conditionTypes"><a ng-click="updateCondition(filter,theCondition)" ng-bind="theCondition.conditionLabel"></a></li>
                            </ul>
                        </div>

                    </li>

                    <li ng-if="filter.group" style="margin-left: 85px;">

                        <div ng-init="group=filter" ng-include="'filtersGroup.html'"></div>

                    </li>

                </div>

            </ul>
            <div ng-show="group.filters.length > 0" style="text-align: center;font-size: 15px;font-weight: bold;padding-bottom: 10px;">Drop new filters here</div>
        </div>
    <!--</script>-->
