
<div ng-include src="filterPromptModal"></div>

<div class="container-fluid" style="padding:10px" ng-include src="dropArea">
</div>



<div ng-if="columns.length > 0" class="container-fluid branded-border-panel" >
    <button  id="queryRefresh" class="btn btn-success" ng-show="columns.length > 0" class="pull-right" ng-click="processStructure();"  style="padding: 3px 10px;"><i class="fa fa-refresh hand-cursor" ></i> Refresh data</button>
    <button  id="viewSQL" class="btn btn-default" ng-show="user.viewSQL && sql" class="pull-right" ng-click="getSQLPanel();"  style="padding: 3px 10px;">View SQL</button>

    <h4 class="pull-right" >Query results</h4>
</div>


<div ng-show="showSQL" class="panel panel-default">
            <div class="panel-heading">
				<h3 class="panel-title">SQL query</h3>

				<div class="panel-options">
                    <a ng-click="getSQLPanel();" data-toggle="remove">
						x
					</a>
				</div>
			</div>

			<div class="panel-body">
				<p>{{sql}}</p>
			</div>
</div>

<div class="container-fluid" ng-if="gettingData == true">
    <h3><img src="/images/loader.gif" width="32px" height="32px"/>   getting data ....</h3>
</div>

<div id="reportLayout" class="container-fluid">
    <div ng-if="wrongFilters.length > 0 && columns.length > 0" class="alert alert-danger" role="alert"><i class="fa fa-warning fa-2" style="margin-right:10px;"></i>  <strong>Warning:</strong>     There are incomplete filters!!</div>

    <div ng-if="wrongFilters.length == 0"  bs-loading-overlay bs-loading-overlay-reference- style="min-height:100px">

    </div>

</div>


<div ng-include src="dateModal"></div>
<div ng-include src="dateFromToModal"></div>
<div ng-include src="linkModal"></div>
<div ng-include src="columnFormatModal"></div>
<div ng-include src="columnSignalsModal"></div>
