<nd-modal id="addAllModal">
    
    <div class="modal-body ng-scope">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <br>
        <h4 class="modal-title">Add all elements from this collection to the layer ?</h4>
        <br>
        <button type="button" class="btn btn-info pull-right"  ng-click="addAllElements()">Confirm</button>
        <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Cancel</button>
    </div>
</nd-modal>
