<nd-modal id="elementModal">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title" translate>Add element to schema</h4>
        <h5 class="modal-title">{{selectedElement.elementName}}</h5>
    </div>

    <div class="modal-body ng-scope" ng-init="tabbed_panel_active = 1">
        <div class="panel panel-default panel-tabs">

            <div class="panel-heading">
                <h3 class="panel-title"></h3>

                <div class="panel-options">

                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': tabbed_panel_active == 1}" class="active">
                            <a  ng-click="tabbed_panel_active = 1" translate>General</a>
                        </li>
                        <li  ng-class="{'active': tabbed_panel_active == 2}" class="">
                            <a  ng-click="tabbed_panel_active = 2" translate>Format</a>
                        </li>

                        <li ng-class="{'active': tabbed_panel_active == 3}" class="">
                            <a  ng-click="tabbed_panel_active = 3" translate>Advanced</a>
                        </li>

                    </ul>

                </div>
            </div>
        <div class="panel-body">

            <div class="tab-content" >
                <div class="tab-pane " ng-class="{'active': tabbed_panel_active == 1}">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-3" class="control-label" translate>Label</label>
                                    <input id="field-3" class="form-control" ng-model="selectedElement.elementLabel" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-4" class="control-label" translate>Type</label>
                                    <select id="field-4" class="form-control" ng-model="selectedElement.elementType" ng-options="obj.value as obj.name for obj in elementTypes"
                                            ng-change="onElementTypeChange(selectedElement)"></select>
                                </div>

                            </div>
                        </div>


                        <div class="row" ng-if="selectedElement.elementType == 'number'">
                            <div class="col-md-6">


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-4b" class="control-label" translate>Default aggregation</label>
                                    <select id="field-4b" class="form-control" ng-model="selectedElement.defaultAggregation" ng-options="obj.value as obj.name for obj in numberDefaultAggregation"></select>
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-if="selectedElement.elementType == 'string'">
                            <div class="col-md-6">


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-4b" class="control-label" translate>Default aggregation</label>
                                    <select id="field-4b" class="form-control" ng-model="selectedElement.defaultAggregation" ng-options="obj.value as obj.name for obj in stringDefaultAggregation"></select>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-5" class="control-label" translate>Description</label>
                                    <textarea ng-model="selectedElement.description" class="form-control autogrow" id="field-5"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-if="selectedElement.elementType == 'array'">

                                    <label class="control-label" translate>Array values</label>
                                    <div ng-repeat="value in selectedElement.values">
                                        <span class="form-control" style="width: 47%;float: left;font-weight: bold;">{{value.value}} </span>
                                        <input class="form-control" ng-model="value.label" placeholder="label" style="width: 47%;float: left;">
                                        <i class="fa fa-times hand-cursor" ng-click="removeFromArray(selectedElement.values, value)" style="padding: 9px;"></i>
                                    </div>

                                    <div>
                                        <input class="form-control" ng-model="valueValue" placeholder="enter new value" style="width: 47%;float: left;">
                                        <input class="form-control" ng-model="valueLabel" placeholder="enter new label" style="width: 47%;float: left;">
                                        <i class="fa fa-arrow-right hand-cursor" style="padding: 9px;"
                                           ng-click="addValueToElement(selectedElement, valueValue, valueLabel);valueValue='';valueLabel='';"></i>
                                    </div>

                                </div>

                                <div class="form-group" ng-if="selectedElement.elementType == 'lookup'">

                                    <label class="control-label" translate>Lookup setup</label>
                                    <div>
                                        <span class="form-control" style="width: 47%;float: left;font-weight: bold;" translate>Join Dataset </span>
                                        <input class="form-control" ng-model="value.label" placeholder="label" style="width: 47%;float: left;">
                                    </div>
                                    <div>
                                        <span class="form-control" style="width: 47%;float: left;font-weight: bold;" translate>Join Field </span>
                                        <input class="form-control" ng-model="value.label" placeholder="label" style="width: 47%;float: left;">
                                    </div>
                                    <div>
                                        <span class="form-control" style="width: 47%;float: left;font-weight: bold;" translate>Shown Field </span>
                                        <input class="form-control" ng-model="value.label" placeholder="label" style="width: 47%;float: left;">
                                    </div>
                                </div>
                            </div>
                        </div>


                </div> <!--tab pane 1-->
                <div   class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
                       <div ng-if="selectedElement.elementType == 'number' || selectedElement.elementType == 'date'" >
                            <div class="form-group">
                                <label for="field-format" class="control-label" translate>Format</label>
                                <input id="field-format" class="form-control" ng-model="selectedElement.format" placeholder="format..." style="width: 100%;">
                            </div>
                            <div ng-if="selectedElement.elementType == 'number'">
                                <h5 translate>Format examples</h5>
                                <a class="btn btn-link pull-right" href="http://numeraljs.com/" target="_blank" translate>more examples...</a>

                                <table id="format-numbers" class="table-condensed striped bordered">
                                    <thead>
                                    <tr>
                                        <th translate>Number</th>
                                        <th translate>Format</th>
                                        <th translate>String</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>10000</td><td>0,0.0000</td><td>10,000.0000</td></tr>
                                    <tr><td>10000.23</td><td>0,0</td><td>10,000</td></tr>
                                    <tr><td>10000.1234</td><td>0.000</td><td>10000.123</td></tr>
                                    <tr><td>-10000</td><td>(0,0.0000)</td><td>(10,000.0000)</td></tr>
                                    <tr><td>-0.23</td><td>.00</td><td>-.23</td></tr>
                                    <tr><td>1230974</td><td>0.0a</td><td>1.2m</td></tr>
                                    <tr><td>1000.234</td><td>$0,0.00</td><td>$1,000.23</td></tr>
                                    <tr><td>1000.2</td><td>0,0[.]00 $</td><td>1,000.20 $</td></tr>
                                    <tr><td>0.974878234</td><td>0.000%</td><td>97.488%</td></tr>

                                    </tbody>
                                </table>

                            </div>

                            <div ng-if="selectedElement.elementType == 'date'">
                                <h5 translate>Format examples</h5>
                                <a class="btn btn-link pull-right" href="http://momentjs.com/docs/#/displaying/" target="_blank" translate>more examples...</a>

                                <table id="format-numbers" class="table-condensed striped bordered">
                                    <thead>
                                    <tr>

                                        <th translate>Format</th>
                                        <th translate>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>dddd, MMMM Do YYYY, h:mm:ss a</td><td>Sunday, February 14th 2010, 3:25:50 pm</td></tr>
                                    <tr><td>DD/MM/YYYY</td><td>18/01/1969</td></tr>


                                    </tbody>
                                </table>

                            </div>
                    </div>
                </div>  <!--tab pane 2-->
                <div class="tab-pane" ng-class="{'active': tabbed_panel_active == 3}">
                    <div ng-if="selectedElement.elementType == 'date'">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="selectedElement.extractFromString">
                                <span translate>Extract from String</span>
                            </label>
                        </div>

                        <div ng-if="selectedElement.extractFromString == true">
                            <table>
                                <thead>
                                <tr>
                                    <td></td>
                                    <td><label translate>position from</label></td>
                                    <td><label translate>position to</label></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><label translate>Year</label></td>
                                    <td><input id="yearfrom" type="text" class="form-control" ng-model="selectedElement.yearPositionFrom"></td>
                                    <td><input id="yearto" type="text" class="form-control" ng-model="selectedElement.yearPositionTo" ></td>
                                </tr>
                                <tr>
                                    <td><label translate>Month</label></td>
                                    <td><input id="monthfrom" type="text" class="form-control" ng-model="selectedElement.monthPositionFrom" ></td>
                                    <td><input id="monthto" type="text" class="form-control" ng-model="selectedElement.monthPositionTo" ></td>
                                </tr>
                                <tr>
                                    <td><label translate>Day</label></td>
                                    <td><input id="dayfrom" type="text" class="form-control" ng-model="selectedElement.dayPositionFrom" ></td>
                                    <td><input id="dayto" type="text" class="form-control" ng-model="selectedElement.dayPositionTo" ></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>
                    <div ng-if="selectedElement.elementType != 'date' && selectedElement.elementType != 'number'">
                        <div class="form-group">

                            <h4 translate>Associated elements</h4>
                            <table style="width: 100%;">
                                <thead>
                                <td></td>
                                <td translate>Visible</td>
                                <td></td>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="element in selectedElement.associatedElements">
                                        <td style="width: 80%;font-weight: bold;">{{element.element.elementLabel}}  </td>
                                        <td style="width: 10%;text-align: center">
                                            <input type="checkbox"  ng-model="element.visible" >

                                        </td>
                                        <td style="width: 10%;text-align: right">
                                        <i class="fa fa-times hand-cursor" ng-click="removeFromArray(selectedElement.associatedElements, element)" style="padding: 9px;"></i>
                                        </td>
                                    </tr>
                                    <tr style="background-color: #ccc;margin-top: 3px;">
                                        <td style="width: 80%;padding: 2px;">
                                            <select class="form-control" ng-model="elementElement" ng-options="obj as obj.elementName for obj in getCollectionElements(selectedElement.collectionID)" ></select>
                                        </td>
                                        <td style="width: 10%;text-align: center">
                                            <input type="checkbox"  ng-model="elementVisible" >

                                        </td>
                                        <td style="width: 10%;text-align: right">
                                            <i class="fa fa-arrow-right hand-cursor" style="padding: 9px;"
                                               ng-click="addAssociatedElementToElement(selectedElement, elementElement, elementVisible);elementElement=undefined;elementVisible=false;"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>  <!--tab pane 3-->
        </div> <!--tab content-->
        </div> <!--body-->
    </div><!--panel-->
        <div ng-if="elementEditingWarning && elementEditingWarning != ''" class="alert-block">{{elementEditingWarning}}</div>
    </div>


    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="elementEditing = false" translate>Cancel</button>
        <button  type="button" class="btn btn-info"  ng-click="saveElement()" translate>Save</button>

    </div>
</nd-modal>
