<nd-modal id="elementModal">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title" translate>Add element to schema</h4>
        <h5 class="modal-title">{{modalElement.elementName}}</h5>
    </div>

    <div class="modal-body ng-scope">
        <uib-tabset active="tab.active">
            <uib-tab index="0" ng-show="modalElement.isCustom" heading="{{ 'Expression' | translate }}">
                    <div class="container-fluid row">
                        <div class="col-md-6">
                            <ul class="scroll-list btn-group-vertical">
                                <li class="btn" ng-repeat="collection in customExpressionCollections()"
                                ng-class="{ 'scroll-list-selected' :  selectedModalCollection === collection }"
                                ng-show="modalElement.component === undefined ||  collection.component === modalElement.component"
                                ng-click="selectModalCollection(collection)">
                                    <span >{{collection.collectionLabel}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6" ng-show="selectedModalCollection">
                            <ul class="scroll-list btn-group-vertical">
                                <li class="btn" ng-repeat="element in selectedModalCollection.elements" ng-click="addElementToExpression(element)">
                                    <span>{{element.elementLabel}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <input class="form-control" ng-model="modalElement.viewExpression" required>

                    <ul id="legend-field-3">
                      <li ng-repeat="element in getElementsUsedInCustomExpression()">
                    {{'#' + element.elementID + ' ' + '='+ ' '  + element.elementLabel + '(' + element.collectionName + ')'}}
                    </li>
                    </ul>
            </uib-tab>
            <uib-tab index="1" heading="{{ 'General' | translate }}">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="field-3" class="control-label" translate>Label</label>
                                <input id="field-3" class="form-control" ng-model="modalElement.elementLabel" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-4" class="control-label" translate>Type</label>
                                <select id="field-4" class="form-control" ng-model="modalElement.elementType" ng-options="obj.value as obj.name for obj in elementTypes"></select>
                            </div>

                        </div>
                    </div>


                    <div class="row" ng-if="modalElement.elementType == 'number'">
                        <div class="col-md-6">


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-default-aggregation-number" class="control-label" translate>Default aggregation</label>
                                <select id="field-default-aggregation-number" class="form-control" ng-model="modalElement.defaultAggregation" ng-options="obj.value as obj.name for obj in numberDefaultAggregation"></select>
                            </div>

                        </div>
                    </div>

                    <div class="row" ng-if="modalElement.elementType == 'string'">
                        <div class="col-md-6">


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-default-aggregation-string" class="control-label" translate>Default aggregation</label>
                                <select id="field-default-aggregation-string" class="form-control" ng-model="modalElement.defaultAggregation" ng-options="obj.value as obj.name for obj in stringDefaultAggregation"></select>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-5" class="control-label" translate>Description</label>
                                <textarea ng-model="modalElement.description" class="form-control autogrow" id="field-5"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-if="modalElement.elementType == 'array'">

                                <label class="control-label" translate>Array values</label>
                                <div ng-repeat="value in modalElement.values">
                                    <span class="form-control" style="width: 47%; float: left; font-weight: bold;">{{value.value}} </span>
                                    <input class="form-control" ng-model="value.label" placeholder="{{ 'label' | translate }}" style="width: 47%; float: left;">
                                    <i class="fa fa-times hand-cursor" ng-click="removeFromArray(modalElement.values, value)" style="padding: 9px;"></i>
                                </div>

                                <div>
                                    <input class="form-control" ng-model="valueValue" placeholder="{{ 'enter new value' | translate }}" style="width: 47%; float: left;">
                                    <input class="form-control" ng-model="valueLabel" placeholder="{{ 'enter new label' | translate }}" style="width: 47%; float: left;">
                                    <i class="fa fa-arrow-right hand-cursor" style="padding: 9px;"
                                        ng-click="addValueToElement(modalElement, valueValue, valueLabel);valueValue='';valueLabel='';"></i>
                                </div>

                            </div>

                            <div class="form-group" ng-if="modalElement.elementType == 'lookup'">

                                <label class="control-label" translate>Lookup setup</label>
                                <div>
                                    <span class="form-control" style="width: 47%; float: left; font-weight: bold;" translate>Join Dataset </span>
                                    <input class="form-control" ng-model="value.label" placeholder="{{ 'label' | translate }}" style="width: 47%; float: left;">
                                </div>
                                <div>
                                    <span class="form-control" style="width: 47%; float: left; font-weight: bold;" translate>Join Field </span>
                                    <input class="form-control" ng-model="value.label" placeholder="{{ 'label' | translate }}" style="width: 47%; float: left;">
                                </div>
                                <div>
                                    <span class="form-control" style="width: 47%; float: left; font-weight: bold;" translate>Shown Field</span>
                                    <input class="form-control" ng-model="value.label" placeholder="{{ 'label' | translate }}" style="width: 47%; float: left;">
                                </div>
                            </div>
                        </div>
                    </div>
            </uib-tab>
            <uib-tab index="2" heading="{{ 'Format' | translate }}">
                       <div ng-if="modalElement.elementType == 'number' || modalElement.elementType == 'date'" >
                            <div class="form-group">
                                <label for="field-format" class="control-label" translate>Format</label>
                                <input id="field-format" class="form-control" ng-model="modalElement.format" placeholder="{{ 'format...' | translate }}" style="width: 100%;">
                            </div>
                            <div ng-if="modalElement.elementType == 'number'">
                                <h5 translate>Format examples</h5>
                                <a class="btn btn-link pull-right" href="http://numeraljs.com/" target="_blank" translate>more examples...</a>

                                <table class="table-condensed striped bordered">
                                    <thead>
                                    <tr>
                                        <th translate>Number</th>
                                        <th translate>Format</th>
                                        <th translate>String</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>10000</td><td>0,0.0000</td><td>10,000.0000</td></tr>
                                    <tr><td>10000.23</td><td>0,0</td><td>10,000</td></tr>
                                    <tr><td>10000.1234</td><td>0.000</td><td>10000.123</td></tr>
                                    <tr><td>-10000</td><td>(0,0.0000)</td><td>(10,000.0000)</td></tr>
                                    <tr><td>-0.23</td><td>.00</td><td>-.23</td></tr>
                                    <tr><td>1230974</td><td>0.0a</td><td>1.2m</td></tr>
                                    <tr><td>1000.234</td><td>$0,0.00</td><td>$1,000.23</td></tr>
                                    <tr><td>1000.2</td><td>0,0[.]00 $</td><td>1,000.20 $</td></tr>
                                    <tr><td>0.974878234</td><td>0.000%</td><td>97.488%</td></tr>

                                    </tbody>
                                </table>

                            </div>

                            <div ng-if="modalElement.elementType == 'date'">
                                <h5 translate>Format examples</h5>
                                <a class="btn btn-link pull-right" href="http://momentjs.com/docs/#/displaying/" target="_blank" translate>more examples...</a>

                                <table class="table-condensed striped bordered">
                                    <thead>
                                    <tr>

                                        <th translate>Format</th>
                                        <th translate>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><td>dddd, MMMM Do YYYY, h:mm:ss a</td><td>Sunday, February 14th 2010, 3:25:50 pm</td></tr>
                                    <tr><td>DD/MM/YYYY</td><td>18/01/1969</td></tr>


                                    </tbody>
                                </table>

                            </div>
                    </div>
            </uib-tab>
        </uib-tabset>

        <div ng-if="elementEditingWarning && elementEditingWarning != ''" class="alert-block">{{elementEditingWarning}}</div>
        <div ng-if="modalCycle" class="alert-block">
            <div translate>Cyclic definition : </div>
            <div>
                <span>{{modalElement.elementLabel}}</span>
                <span ng-repeat="link in modalCycle"> --&gt; {{link.elementLabel}} </span>
            </div>
        </div>
    </div>


    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="elementEditing = false" translate>Cancel</button>
        <button type="button" class="btn btn-info" ng-show="tabbed_panel_active===0" ng-click="validateCustomElement()" translate>Next</button>
        <button  type="button" class="btn btn-info"  ng-click="saveElement()" translate>Save</button>

    </div>
</nd-modal>
