<nd-modal id="layerModal">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Layer Properties</h4>
    </div>

    <div class="modal-body ng-scope">

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label for="field-3" class="control-label">Layer Name</label>

                    <input type="text" class="form-control" id="field-3"  ng-model="_Layer.name" required>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-md-12">

                <div class="form-group no-margin">
                    <label for="field-7" class="control-label">Layer description</label>

                    <textarea ng-model="_Layer.description" class="form-control autogrow" id="field-7"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                </div>





            </div>
        </div>

    </div>

    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info"  ng-click="save()">Save layer</button>
    </div>
</nd-modal>