<div class="container-fluid "  style="padding-top: 10px;">
    <div class="container-fluid">

        <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">


        </div>
        <div class="main col-md-9">
            <div class="container-fluid">

                <div class="container-fluid" style="border-bottom: 2px solid #72A230;margin-bottom: 10px">
                    <h3 class="pull-left" >Layers</h3>
                    <a ng-click="newLayer()" class="btn btn-success pull-right">New Layer</a>
                </div>

                <div class="list-group" ng-init="getLayers(1,'',['name','status','description'])">
                    <a href="/#/layers/{{layer._id}}" class="list-group-item" ng-repeat="layer in items">
                        <h4 class="list-group-item-heading">{{layer.name}}</h4>
                        <p class="list-group-item-text">

                            <label class="small" style="margin-right: 5px"></label>{{layer.description}}

                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="layerModal"></div>