<div id="layerObjectProperties">
        <div class="container-fluid tool-set" ng-if="objectType != 'layer' && objectType != '' && objectType != undefined">
            <div class="container-fluid">
                    <span ng-if="objectType == 'join'" translate>Join</span>
                    <span ng-if="objectType == 'collection'" translate>Dataset</span>
                    <span ng-if="objectType == 'element'" translate>Element</span>
                    <button ng-if="objectType != 'element'" type="button" class="btn btn-danger pull-right"  ng-click="delete()" translate>Delete</button>
                    <button ng-if="objectType == 'collection' && object.isSQL" type="button" class="btn pull-right query-edit-btn"  ng-click="onEdit()" translate>Edit</button>
                    <button ng-if="!object.elementRole && objectType == 'element'" type="button" class="btn btn-success pull-right" ng-click="publishElement()" data-toggle="tooltip" data-placement="bottom" title="Add to layer's elements">+</button>
                    <button ng-if="object.elementRole && objectType == 'element'" type="button" class="btn btn-warning pull-right" ng-click="removeElement()" data-toggle="tooltip" data-placement="bottom" title="Remove from layer's elements">-</button>

            </div>
        </div>


<div class="container-fluid main">


   <div class="container-fluid" ng-if="objectType == '' || objectType == undefined">
            <br/>
            <br/>
            No Selection
        </div>

<div ng-if="objectType == 'collection'">
<div class="container-fluid main-properties-container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="field-3" class="control-label properties" translate>Name</label>
                    <input id="field-3" class="form-control" ng-model="object.collectionName" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="field-3" class="control-label properties" translate>Label</label>
                    <input id="field-3" class="form-control" ng-model="object.collectionLabel" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="field-5" class="control-label properties" translate>Description</label>
                    <textarea ng-model="object.description" class="form-control autogrow" id="field-5"  style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                </div>
            </div>
        </div>

        <div class="row" ng-if="object.sqlQuery">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="field-5" class="control-label" translate>SQL</label>
                    <textarea ng-model="object.sqlQuery" class="form-control autogrow" id="field-5"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-if="objectType == 'element'">

    <div class="nav-tabs-justified" ng-init="tabbed_panel_active = 1">

        <ul class="nav nav-tabs active" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" >
			<li ng-class="{'active': tabbed_panel_active == 1}" heading="Home" >
                <a ng-click="tabbed_panel_active = 1" translate>General</a>
            </li>
			<li ng-class="{'active': tabbed_panel_active == 2}" heading="Profile" >
                <a ng-click="tabbed_panel_active = 2" translate>Advanced</a>
            </li>


		</ul>
    <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}" >

                <div class="container-fluid tab-container">

                <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class="control-label properties" translate>Name</label>
                                    <input type="text" class="form-control" placeholder="{{object.elementName}}" disabled="">
                            </div>

                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class="control-label properties" translate>Label</label>
                                    <input type="text" class="form-control" ng-model="object.elementLabel">
                            </div>

                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-4" class="control-label" translate>Type</label>
                                <select id="field-4" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="object.elementType" ng-options="obj.value as obj.name for obj in elementTypes"></select>
                            </div>

                        </div>



                        <div class="col-md-6" ng-if="object.elementType != 'number'">
                            <div class="form-group">
                                <label for="field-4" class="control-label" translate>Default Aggregation</label>
                                                <select  id="field-4b" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="object.defaultAggregation" ng-options="obj.value as obj.name for obj in stringDefaultAggregation"></select>
                            </div>

                        </div>


                        <div class="col-md-6" ng-if="object.elementType == 'number'">
                            <div class="form-group">
                                <label for="field-4" class="control-label" translate>Default Aggregation</label>
                                                <select  id="field-4b" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="object.defaultAggregation" ng-options="obj.value as obj.name for obj in numberDefaultAggregation"></select>
                            </div>

                        </div>

                    </div>
                    <div class="row" ng-if="object.elementType == 'number' || selectedElement.elementType == 'date'">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class="control-label properties" translate>Format</label>
                                <input type="text" class="form-control" ng-model="object.format" placeholder="format...">
                                <p class="help-block"><a class="pull-right" href="http://numeraljs.com/" target="_blank" translate>More Info</a></p>
                            </div>

                        </div>
                    </div>



			</div>
      </div>
      <div class="tab-pane"  ng-class="{'active': tabbed_panel_active == 2}" >
                <div class="container-fluid tab-container">

                </div>

			</div>


        </div>
    </div>

</div>

<div ng-if="objectType == 'join'">
    <div class="container-fluid main-properties-container">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                            <label  class="control-label properties" translate>Source</label>
                        <input type="text" class="form-control" placeholder="{{object.sourceCollectionName+'.'+object.sourceElementName}}" disabled="">
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                            <label  class="control-label properties" translate>Target</label>
                            <input type="text" class="form-control" placeholder="{{object.targetCollectionName+'.'+object.targetElementName}}" disabled="">

                    </div>
                </div>
                 <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                            <label  class="control-label properties" translate>Join type</label>
                                <div class="btn-group btn-group-justified" style="width:100%">
                                    <a type="button" class="btn btn-sm" ng-class="{'btn-info': object.joinType == 'left','btn-white': object.joinType != 'left'}"   ng-click="changeJoinType('left')" translate>Left</a>

                                    <a type="button" class="btn btn-sm" ng-class="{'btn-info': object.joinType == 'default','btn-white': object.joinType != 'default'}"  ng-click="changeJoinType('default')" translate>Inner</a>

                                    <a type="button" class="btn btn-sm" ng-class="{'btn-info': object.joinType == 'right','btn-white': object.joinType != 'right'}"  ng-click="changeJoinType('right')" translate>Right</a>
                                </div>

                    </div>
                </div>

    </div>

</div>


<div ng-if="objectType == 'layer'">
    <div class="container-fluid main-properties-container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="field-3" class="control-label properties" translate>Layer Name</label>
                    <input id="field-3" class="form-control" ng-model="object.name" required>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="field-5" class="control-label properties" translate>Description</label>
                    <textarea ng-model="object.description" class="form-control autogrow" id="field-5"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>
