<nd-modal id="sqlModal">
    <form name="sqlLayerForm">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title" translate>Add new SQL</h4>
    </div>

    <span ng-if="!newSQLCollection">

        <div class="modal-body ng-scope" ng-init="getDatasources()">

            <div class="container-fluid">
                <div class="form-group" ng-if="!ReadOnlyDataSourceSelector" ng-class="{ 'has-error': sqlLayerForm.datasource.$invalid }">
                        <label for="field-3" class="control-label" translate>1.- Choose a data source</label>

                        <select  class="form-control" name="datasource" ng-model="selectedDts.id" ng-required="true" required>

                            <option value="{{dts._id}}" ng-repeat="dts in datasources">


                                <h4 class="list-group-item-heading">{{dts.type}}</h4>
                                <p class="list-group-item-text">

                                    <label class="small" style="margin-right: 5px" translate>host: </label>{{dts.connection.host}}
                                    <label class="small" style="margin-right: 5px" translate>port: </label>{{dts.connection.port}}
                                    <label class="small" style="margin-right: 5px" translate>database: </label>{{dts.connection.database}}
                                </p>
                            </option>

                        </select>
                    <span ng-show="sqlLayerForm.datasource.$invalid" class="help-inline" ng-bind="getTranslation('You have to select a valid datasource for this dataset')"></span>


                </div>

                <div class="form-group" ng-class="{ 'has-error': sqlLayerForm.name.$invalid }">
                            <label class="control-label" for="field-name" translate>Type a name for this dataset</label>
                            <input type="text" class="form-control" id="field-name" name="name" ng-model="temporarySQLCollection.name" placeholder="type a name for the dataset" ng-required="true" required>
                            <span ng-show="sqlLayerForm.name.$invalid" class="help-inline" ng-bind="getTranslation('The name is required')"></span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': sqlLayerForm.sql.$invalid }">
                    <label class="control-label" for="field-sql" translate>SQL query</label>
                    <textarea class="form-control autogrow" cols="20" id="field-sql" name="sql" ng-model="temporarySQLCollection.sqlQuery" ng-required="true" required></textarea>
                    <span ng-show="sqlLayerForm.sql.$invalid" class="help-inline" ng-bind="getTranslation('You have to enter an SQL query')"></span>
                </div>

            </div>

            <div class="container-fluid" ng-show="temporarySQLCollection.invalidSql">
                There is an error in your sql syntax.
            </div>

        </div>

        <div class="modal-footer ng-scope">
            <button type="button" class="btn btn-white" data-dismiss="modal" translate>Cancel</button>
            <button type="button" class="btn btn-info" ng-disabled="sqlLayerForm.$invalid  || sqlLayerForm.$pristine" 
            ng-if="temporarySQLCollection.mode === 'add'" ng-click="addSqlToLayer()" translate>Add to layer</button>
            <button type="button" class="btn btn-info" ng-disabled="sqlLayerForm.$invalid  || sqlLayerForm.$pristine" 
            ng-if="temporarySQLCollection.mode === 'edit'" ng-click="saveSQLChanges()" translate>Save changes</button>
        </div>
        </form>

    </span>

    <span ng-if="newSQLCollection">

        <div class="modal-body ng-scope">

            <h4 translate>Please confirm your modification</h4>
            </br>

            <div class="row">
                <div class="col-md-4">
                    <h6 translate>The following columns will be kept :</h6>
                    </br>
                    <ul>
                        <li ng-repeat="el in matchedElements">
                            {{el.elementName}}
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h6 translate>The following columns will be added :</h6>
                    </br>
                    <ul>
                        <li ng-repeat="el in newElements">
                            {{el.elementName}}
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h6 translate>The following columns will be removed :</h6>
                    </br>
                    <ul>
                        <li ng-repeat="el in lostElements">
                            {{el.elementName}}
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        
        <div class="modal-footer ng-scope">
                <button type="button" class="btn btn-white" data-dismiss="modal" translate>Cancel</button>
                <button type="button" class="btn btn-info" ng-click="confirmSQLChanges()" translate>Confirm</button>
        </div>

    </span>
    

</nd-modal>
