<nd-modal id="sqlModal">
    <form name="sqlLayerForm">
    <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Add new SQL</h4>
    </div>

    <div class="modal-body ng-scope" ng-init="getDatasources()">

        <div class="container-fluid">
            <div class="form-group" ng-if="!ReadOnlyDataSourceSelector" ng-class="{ 'has-error': sqlLayerForm.datasource.$invalid }">
                    <label for="field-3" class="control-label">1.- Choose a data source</label>

                    <select  class="form-control" name="datasource" ng-model="selectedDts.id" ng-change="checkIfMongoDbForSQL()" ng-required="true" required>

                        <option value="{{dts._id}}" ng-repeat="dts in datasources">


                            <h4 class="list-group-item-heading">{{dts.type}}</h4>
                            <p class="list-group-item-text">

                                <label class="small" style="margin-right: 5px">host: </label>{{dts.params[0].connection.host}}
                                <label class="small" style="margin-right: 5px">port: </label>{{dts.params[0].connection.port}}
                                <label class="small" style="margin-right: 5px">database: </label>{{dts.params[0].connection.database}}
                            </p>
                        </option>

                    </select>
                <span ng-show="sqlLayerForm.datasource.$invalid" class="help-inline" ng-bind="getTranslation('You have to select a valid datasource for this dataset')"></span>


            </div>

            <div class="form-group" ng-class="{ 'has-error': sqlLayerForm.name.$invalid }">
						<label class="control-label" for="field-name">Type a name for this dataset</label>
                        <input type="text" class="form-control" id="field-name" name="name" ng-model="temporarySQLCollection.name" placeholder="type a name for the dataset" ng-required="true" required>
						<span ng-show="sqlLayerForm.name.$invalid" class="help-inline" ng-bind="getTranslation('The name is required')"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': sqlLayerForm.sql.$invalid }">
                <label class="control-label" for="field-sql">SQL query</label>
                <textarea class="form-control autogrow" cols="20" id="field-sql" name="sql" ng-model="temporarySQLCollection.sql" ng-required="true" required></textarea>
                <span ng-show="sqlLayerForm.sql.$invalid" class="help-inline" ng-bind="getTranslation('You have to enter an SQL query')"></span>
            </div>

        </div>



    </div>

    <div class="modal-footer ng-scope">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" ng-disabled="sqlLayerForm.$invalid  || sqlLayerForm.$pristine" ng-click="addSqlToLayer()">Add to layer</button>
    </div>
    </form>
</nd-modal>
