<script src="libs/jsplumb/jquery.jsPlumb-1.7.6-min.js"></script>

<div class="container-fluid" style="padding: 5px;border-bottom: 2px solid #72A230;margin-bottom: 10px">
    <a href="/#/layers" class="btn btn-default pull-left">Cancel</a>
    <a ng-click="save()" class="btn btn-warning pull-right" style="margin-left: 5px;margin-right: 5px;">Save</a>
    <a ng-click="zoom(0.5)" class="btn btn-default pull-left">zoom -1</a>
    <a ng-click="zoom(1)" class="btn btn-default pull-left">zoom</a>
    <a ng-click="zoom(2)" class="btn btn-default pull-left">zoom +1</a>

</div>




<div class="container-fluid" ng-init="view()">
    <div class="col-md-12">
        <div class="container-fluid" style="margin-bottom: 10px">
            <h3 class="pull-left">layer: {{_Layer.name}}</h3>
            <a ng-click="addDataset()" class="btn btn-info pull-right" style="margin-left: 5px;margin-right: 5px;">Add new dataset</a>
        </div>
    </div>
    <div class="col-md-4" style="border: 1px solid #999999;background-color: #ffffff;height: 100%">
        <div class="container-fluid" style="margin-bottom: 10px">
            <a ng-click="addFolder()" class="btn btn-info btn-small pull-right" style="margin-left: 5px;margin-right: 5px;">Add new folder</a>
        </div>
        <!--
        <div ng-if="element.elementRole == 'dimension' || element.elementRole == 'measure' " ng-repeat="element in  _Layer.objects">
            <a class="list-group-item schema-element" draggable="true" effect-allowed="copy" draggable-type="custom-object"
               draggable-data="{theElement: element}">{{element.elementLabel}}</a>
        </div>
            -->

        <tg-dynamic-directive ng-model="rootItem" tg-dynamic-directive-view="getView">
        </tg-dynamic-directive>

        <script type="text/ng-template" id="nestable_item.html">
            <div>
                <div ng-click="selectPage(ngModelItem)">{{ngModelItem.elementLabel}}</div>
                <ul class="pages-container list-group" ui-sortable="sortableOptions" ng-model="ngModelItem.elements"
                    ng-class="{'pages-container-placeholder': onDrag, 'pages-container-default': !onDrag}">
                    <li class="innerCont list-group-item hand-cursor" ng-repeat="innerItem in ngModelItem.elements"
                        ng-style="{'background-color': (innerItem == selectedPage) ? 'beige' : 'white'}">
                        <tg-dynamic-directive ng-model="innerItem" tg-dynamic-directive-view="getView">
                        </tg-dynamic-directive>
                    </li>
                </ul>
            </div>
        </script>


        <!--
        <div class="container-fluid column-zone no-padding" drop="onDrop($data, $event, 'ykey')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
            <ul class="ul-drop no-padding" ng-model="_Layer.objects" ui-sortable="sortableOptions">
                <li  ng-repeat="element in _Layer.objects">
                    <div ng-if="element.elementRole == 'dimension' || element.elementRole == 'measure' " class="schema-element">{{element.elementLabel}} </div>
                    <div ng-if="element.elementRole == 'folder'" class="container-fluid column-zone no-padding" drop-effect="copy" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
                        <ul class="ul-drop no-padding" ng-model="element.elements" ui-sortable="sortableOptions">
                            <li  ng-repeat="element2 in element.elements">
                                <div ng-if="element.elementRole == 'dimension' || element.elementRole == 'measure' " class="schema-element">{{element.elementLabel}} </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="dropAlert" ng-show="onlyNumericValuesAlert == true"> <i class="fa fa-exclamation-triangle"></i> Only numeric values are allowed here !</div>
        </div>-->



    </div>
    <div class="col-md-8">
    <div class="canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">


        <div id="{{collection.collectionID}}"  class="window jtk-node  jsplumb-draggable" style=" left: {{collection.left}}px; top: {{collection.top}}px;" ng-repeat="collection in _Layer.params.schema">
            <div class=" jtk-header " >

                    <strong class="jtk-header-label" ng-click="collectionClicked()">{{collection.collectionName}}</strong>

            </div>
            <!--
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="{{'flowchart'+element.elementID}}" ng-repeat="element in collection.elements" popover-trigger="mouseenter" popover-placement="bottom" popover-title="{{element.elementName}}" popover="..." title="<h1><b>Another</b> <em>one</em> here too</h1>" data-html="true" rel="tooltip">{{element.elementName}}</div>
            -->
            <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="{{element.elementID}}" ng-repeat="element in collection.elements"  title="<h1><b>Another</b> <em>one</em> here too</h1>" data-html="true" rel="tooltip">
                <table style="border: 0px;">
                    <tr>
                        <td class="jtk-field-icon"><i ng-show="isNotInObjects(element.elementID)" class="fa fa-plus-square" ng-click="elementAdd(element)" ></i></td>
                        <td class="jtk-field-selected"><i ng-show="!isNotInObjects(element.elementID)" class="fa fa-minus-square"  ></i></td>
                        <td class="jtk-field-label">{{element.elementName}}</td>
                    </tr>

                </table>



            </div>
            <!--//popover con html http://plnkr.co/edit/VhYAD04ETQsJ2dY3Uum3?p=preview -->

        </div>


    </div>
    </div>


    <!--<span ng-init="erDiagramInit()"></span>-->


</div>
<div ng-include src="datasetModal"></div>
<div ng-include src="elementModal"></div>