<script src="libs/jsplumb/jquery.jsPlumb-1.7.6-min.js"></script>


<div class="explorer-main-container">

    <div class="explorer-container">

        <div class="explorer-header">
            <div class="explorer-header-title">
                <h3 class="pull-left" editable-text="_Layer.name"></h3>
            </div>
            <div class="explorer-header-buttons">
                <a ng-click="addDataset()" class="btn btn-info pull-right" style="margin-left: 5px;margin-right: 5px;">Add new dataset</a>
                <a ng-click="save()" class="btn btn-success pull-right" style="margin-left: 5px;margin-right: 5px;">Save layer</a>
                <a href="/#/layers" class="btn btn-default pull-right">Cancel</a>
            </div>
        </div>


        <div class="explorer-body" ng-init="view()"   bs-loading-overlay bs-loading-overlay-reference-id="layerView" style="background-position: -25px -1px;background-image: url(&quot;data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSIzNCIgaGVpZ2h0PSIzNCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDguNSBMIDM0IDguNSBNIDguNSAwIEwgOC41IDM0IE0gMCAxNyBMIDM0IDE3IE0gMTcgMCBMIDE3IDM0IE0gMCAyNS41IEwgMzQgMjUuNSBNIDI1LjUgMCBMIDI1LjUgMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDM0IDAgTCAwIDAgMCAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=&quot;);
            ">





            <section id="objectPanel" data-num-cols="4" ng-init="tabs.selected = 'elements'" class="catalogSidebar" style="top: 46px;width: 350px;">

                <div class="object-panel-header">
                        <div class="object-panel-header-inner">
                                <!--<i class="toggle-button fa-minus-circle"  ng-click="toggle();$event.stopPropagation()" role="button" tabindex="0" style="right: 5px;
                position: absolute;
                font-size: 20px;"></i>-->
                        </div>

                </div>

                <menu>
                    <li id="searchTabButton" class="search hand-cursor" ng-class="{'on': tabs.selected == 'elements'}"><a class="layer-elements"  ng-click="tabs.selected = 'elements'"><i class="fa fa-newspaper-o fa-2" aria-hidden="true"></i><br/><br/>Elements</a></li>
                </menu>

                <section class="content" style="left:70px">
                    <section id="propertiesTab" class="results infinite ng-hide" ng-show="tabs.selected == 'properties'" style="padding:5px;">


                    </section>

                    <section id="elementsTab" class="results infinite layer-elements ng-hide " ng-show="tabs.selected == 'elements'">
                        <section class="layer scrollPane">

                            <div   style=" padding-top:3px">
                            <a ng-click="addFolder()" class="btn btn-info btn-xs pull-right layer-add-new-folder-btn" >Add new folder</a>
                            </div>
                            <div    class="layer-elements-tree">
                                <tg-dynamic-directive ng-model="rootItem" tg-dynamic-directive-view="getView">
                                </tg-dynamic-directive>

                                <script type="text/ng-template" id="nestable_item.html">
                                    <div>
                                        <!--
                                        <div class="schema-root"  ng-if="ngModelItem.elementRole == 'root'" >
                                            <a ng-click="addFolder()" class="btn btn-info btn-small pull-right" style="margin-left: 5px;margin-right: 5px;">Add new folder</a>
                                        </div>
                                        -->
                                        <div class="schema-element"  ng-if="ngModelItem.elementRole == 'dimension' || ngModelItem.elementRole == 'measure'" >
                                            <table>
                                                <tr class="layer-elements-tree-tr">
                                                    <td class="delete-schema-element-btn " ng-click="deleteSchemaElement(ngModelItem)" style="cursor:hand">
                                                        <!--<i class="fa fa-trash-o delete-schema-element-btn-icon"></i>-->

                                                            <i class="fa fa-trash-o delete-schema-element-btn-icon" tooltip="Delete this element"></i>

                                                    </td>
                                                    <td class="edit-schema-element-btn " ng-click="editElement(ngModelItem)" style="cursor:hand">
                                                        <i class="fa fa-pencil edit-schema-element-btn-icon"  tooltip="Edit this element properties"></i>
                                                    </td>
                                                    <td class="layer-elements-tree-label">
                                                        {{ngModelItem.elementLabel}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="schema-folder"  ng-if="ngModelItem.elementRole == 'folder'" >
                                           <i class="fa fa-caret-down"></i>
                                            <span ng-if="!ngModelItem.editing == true" class="" >{{ngModelItem.elementLabel}}</span>
                                            <span ng-if="ngModelItem.editing == true" class=""><input type="text" ng-model="ngModelItem.elementLabel" style="width:100px"></span>
                                            <div ng-if="!ngModelItem.editing == true" class="delete-schema-element-btn pull-right" ng-click="deleteSchemaElement(ngModelItem)" style="cursor:hand"><i class="fa fa-trash-o delete-schema-element-btn-icon" tooltip="Delete folder"></i></div>
                                            <div ng-if="!ngModelItem.editing == true" class="edit-schema-element-btn pull-right" ng-click="ngModelItem.editing = true; elementEditing = true;" style="cursor:hand"><i class="fa fa-pencil edit-schema-element-btn-icon" tooltip="Edit folder label"></i></div>
                                            <div ng-if="ngModelItem.editing == true" class="edit-schema-element-btn pull-right" ng-click="ngModelItem.editing = false" style="cursor:hand"><i class="fa fa-floppy-o save-folder-element-btn-icon" tooltip="Save folder label"></i></div>
                                        </div>
                                        <!--
                                        <div ng-class="{'schema-folder': ngModelItem.elementRole == 'folder', 'schema-element': (ngModelItem.elementRole == 'dimension' || ngModelItem.elementRole == 'measure' )}" class="schema-element" ng-click="selectPage(ngModelItem)">{{ngModelItem.elementLabel}}</div>
                                            -->
                                        <ul ng-if="ngModelItem.elementRole == 'folder' || ngModelItem.elementRole == 'root'" class="schema-container list-group" ui-sortable="sortableOptions" ng-model="ngModelItem.elements"
                                            ng-class="{'schema-element-container-placeholder': onDrag, 'schema-element-container-default': !onDrag}">
                                            <li class="innerCont list-group-item hand-cursor" ng-repeat="innerItem in ngModelItem.elements" >
                                                <tg-dynamic-directive ng-model="innerItem" tg-dynamic-directive-view="getView">
                                                </tg-dynamic-directive>
                                            </li>
                                        </ul>
                                    </div>
                                </script>
                             </div>

                        </section>
                        <div class="scrollTrack vScrollTrack">
                            <div class="scrollThumb" style="height: 72px; transform: translateY(0px);"></div>
                        </div>
                        <div class="scrollTrack hScrollTrack">
                            <div class="scrollThumb disabled" style="width: 354px; transform: translateX(0px);"></div>
                        </div>
                    </section>


                </section>
            </section>




            <div id="collections" class="canvas-parent" ng-click="selectedCanvas($event)" style="left: 360px">
            <div ng-click="selectedCanvas()" class="canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan canvas-er" id="canvas">



                <div id="{{collection.collectionID}}-parent"  class="window jtk-node  jsplumb-draggable" ng-style="{'left': collection.left, 'top': collection.top}" ng-repeat="collection in _Layer.params.schema">


                    <div id="{{collection.collectionID}}" class=" jtk-header " style="overflow: hidden;padding-left:2px" ng-click="selectCollection(collection,$event)">

                        <table style="border: 0px;">
                            <tr>
                                <td class="jtk-field-icon" style="color:white;marging-left:2px;margin-right:2px;"><i ng-show="!element.elementRole" class="fa fa-gear" ng-click="collectionClicked(collection)" ></i></td>

                                <td class="jtk-header-label"  style="overflow: hidden;padding-left:2px">{{collection.collectionName}}</td>
                            </tr>
                        </table>
                    </div>



                    <!--
                    <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="{{'flowchart'+element.elementID}}" ng-repeat="element in collection.elements" popover-trigger="mouseenter" popover-placement="bottom" popover-title="{{element.elementName}}" popover="..." title="<h1><b>Another</b> <em>one</em> here too</h1>" data-html="true" rel="tooltip">{{element.elementName}}</div>
                    -->
                    <div class=" jtk-field _jsPlumb_endpoint_anchor _jsPlumb_connected" id="{{element.elementID}}" ng-repeat="element in collection.elements"  title="{{element.elementName}}" data-html="true" rel="tooltip" ng-class="{'isPK': element.isPK}" ng-click="selectElement(element,$event)">


                        <table style="border: 0px;">
                            <tr>
                                <!--
                                <td class="jtk-field-icon"><i ng-show="isNotInObjects(element.elementID)" class="fa fa-plus-square" ng-click="elementAdd(element)" ></i></td>
                                <td class="jtk-field-selected"><i ng-show="!isNotInObjects(element.elementID)" class="fa fa-minus-square"  ></i></td>
                                -->
                                <td class="jtk-field-icon"><i ng-show="!element.elementRole" class="fa fa-plus-square" ng-click="elementAdd(element)" ></i></td>
                                <td class="jtk-field-icon"><i ng-show="element.count" class="fa fa-superscript element-variable"  ></i></td>
                                <td class="jtk-field-selected"><i ng-show="element.elementRole" class="fa fa-minus-square"  ></i></td>

                                <td class="jtk-field-label">{{element.elementName}}</td>
                            </tr>

                        </table>



                    </div>
                    <!--//popover con html http://plnkr.co/edit/VhYAD04ETQsJ2dY3Uum3?p=preview -->

                </div>


            </div>
        </div>

    <!--</div>-->


    <!--<span ng-init="erDiagramInit()"></span>-->



        </div>
    </div>
</div>
<div ng-include src="datasetModal"></div>
<div ng-include src="elementModal"></div>
<div ng-include src="datasetPropertiesModal"></div>
<div ng-include src="sqlModal"></div>
