<div class="container-fluid branded-border-panel" style="height: 40px">
    <h3 class="pull-left"  ng-bind="selectedReport.reportName"></h3>
    <a ng-if="selectedReport && ((selectedReport.owner == user._id) || isWSTADMIN)" href="/#/reports/edit/{{selectedReport._id}}"  class="btn btn-success pull-right" style="margin-right: 5px">Edit Report</a>
    <a ng-if="selectedReport && ((selectedReport.owner == user._id) || isWSTADMIN)" ng-click="publishReport()"  class="btn btn-success pull-right" style="margin-right: 5px">Publish</a>
    <a ng-click="goBack()" class="btn btn-default pull-right">Cancel</a>
</div>

    <div ng-show="selectedReport.reportType == 'grid'" class="container-fluid " style="padding-bottom: 5px;position:relative">
    <a ng-click="saveToExcel(selectedReport.query.id)" class="btn btn-default pull-right">Export Data</a>
    <input class="find-input pull-right" type="search" ng-model="theFilter" placeholder="Local filter..." aria-label="Table filter..." style="margin-right:5px;height:34px;" />

</div>

<div class="container-fluid " style="position: absolute;
    left: 15px;
    right: 0px;
    top: 100px;
    bottom: 0px;
    padding: 0 18px 18px 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #CCCCCC; */">



    <div ng-include src="promptsBlock" class=" prompts-block" style="position:relative"></div>

    <!--<div class="container-fluid">-->
        <div id="reportLayout" ng-init="getReportDiv()" class="container-fluid" style="min-height:200px;position:relative;padding-left:0px;padding-right:0px;height:100%"  bs-loading-overlay bs-loading-overlay-reference-id="OVERLAY_reportLayout">

        </div>
    <!--</div>-->

</div>

<div ng-include src="publishModal"></div>
<div ng-include src="columnFormatModal"></div>
<div ng-include src="columnSignalsModal"></div>
