<div>
            <div ng-if="selectedElementType != 'page' && wstMode != 'report-designer'">
                <button class="btn btn-danger" ng-click="deleteSelected()"><i class="fa fa-trash"></i></button>
            </div>
            <div >
                <!--background color-->

                <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Background color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="backgroundColor"></wst-color>
                            </div>
                    </div>
                </div>
                <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Background image</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-image ng-model="backgroundImage"></wst-image>
                            </div>
                </div>

    <!--background image-->

            <div class="row" style="width:200px;text-align: center;padding: 10px;padding-left:15px;" >
                    <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Opacity</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input class="sliderInput" ng-model="imageFilters.opacity" type="range" step="1" min="0" max="100" value="100" ng-change="changeOpacity()">
                            </div>
                    </div>
                </div>
            <div >
                <!--font color-->
    <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Font color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="fontColor"></wst-color>
                            </div>
                    </div>
            </div>
<!--Hidden in-->
    <div ng-if="selectedElementType != 'page'" class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Hidden in</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-hidden ng-model="hiddenIn" on-change="changeHiddenIn"></wst-hidden>
                            </div>
                    </div>


        <div ng-if="selectedElementType != 'page'" class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Height</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="objectHeight" ng-model='objectHeight' placeholder="Height" ng-change="changeHeight(objectHeight)">
                            </div>
                    </div>


            <table ng-if="canMoveSelectedElement">
                <tr>
                    <td>
                      <button class="btn btn-info btn-small"  ng-click="moveElementUp()" style="width:90px;"><i class="fa fa-arrow-up"></i> Up</button>
                    </td>
                    <td>
                      <button class="btn btn-info btn-small" ng-click="moveElementDown()" style="width:90px;"><i class="fa fa-arrow-down"></i> Down</button>
                    </td>
                </tr>
            </table>

       <div ng-if="selectedElementType == 'extendedGrid'" ng-include src="'partials/widgets/gridProperties.html'"></div>




<!-- -->

<v-accordion class="vAccordion--default" multiple>
  <v-pane >
    <v-pane-header>
      Margin
    </v-pane-header>

    <v-pane-content>
        <form role="form" class="form-horizontal">
                    <div class="form-group">
						<label class="col-sm-4 control-label" for="objectMargin">Margin</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectMargin" ng-model='objectMargin' placeholder="margin" ng-change="changeCSS('margin',objectMargin)">
						</div>
					</div>
        <div ng-if="objectMargin == undefined || objectMargin == ''">
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectMarginLeft">Margin left</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectMarginLeft" ng-model='objectMarginLeft' placeholder="margin left" ng-change="changeCSS('margin-left',objectMarginLeft)">
						</div>
					</div>
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectMarginRight">Margin right</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectMarginRight" ng-model='objectMarginRight' placeholder="margin right" ng-change="changeCSS('margin-right',objectMarginRight)">
						</div>
					</div>
             <div class="form-group">
						<label class="col-sm-4 control-label" for="objectMarginTop">Margin top</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectMarginTop" ng-model='objectMarginTop' placeholder="margin top" ng-change="changeCSS('margin-top',objectMarginTop)">
						</div>
					</div>
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectMarginBottom">Margin bottom</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectMarginBottom" ng-model='objectMarginBottom' placeholder="margin bottom" ng-change="changeCSS('margin-bottom',objectMarginBottom)">
						</div>
					</div>
            </div>
            </form>
    </v-pane-content>
  </v-pane>
  <v-pane >
    <v-pane-header>
      Padding
    </v-pane-header>

    <v-pane-content>
        <form role="form" class="form-horizontal">
                    <div class="form-group">
						<label class="col-sm-4 control-label" for="objectPadding">Padding</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectPadding" ng-model='objectPadding' placeholder="Padding" ng-change="changeCSS('padding',objectPadding)">
						</div>
					</div>
        <div ng-if="objectPadding == undefined || objectPadding == ''">
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectPaddingLeft">Padding left</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectPaddingLeft" ng-model='objectPaddingLeft' placeholder="Padding left" ng-change="changeCSS('padding-left',objectPaddingLeft)">
						</div>
					</div>
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectPaddingRight">Padding right</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectPaddingRight" ng-model='objectPaddingRight' placeholder="Padding right" ng-change="changeCSS('padding-right',objectPaddingRight)">
						</div>
					</div>
             <div class="form-group">
						<label class="col-sm-4 control-label" for="objectPaddingTop">Padding top</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectPaddingTop" ng-model='objectPaddingTop' placeholder="Padding top" ng-change="changeCSS('padding-top',objectPaddingTop)">
						</div>
					</div>
            <div class="form-group">
						<label class="col-sm-4 control-label" for="objectPaddingBottom">Padding bottom</label>

						<div class="col-sm-8">
							<input type="number" class="form-control" id="objectPaddingBottom" ng-model='objectPaddingBottom' placeholder="Padding bottom" ng-change="changeCSS('padding-bottom',objectPaddingBottom)">
						</div>
					</div>
            </div>
            </form>
    </v-pane-content>
  </v-pane>




  <v-pane ng-if="selectedElementType == 'c3Chart'">
      <v-pane-header>
      Chart Elements
    </v-pane-header>

    <v-pane-content>
            <div><strong>   Axis</strong></div>
            <table>
                <tr>
                    <td style="width:80%;overflow:hidden;"> {{selectedChart.xkeys[0].elementLabel}}</td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                </tr>
             </table>
            <div><strong>   Data</strong></div>
            <table>
                <tr ng-repeat="column in selectedChart.ykeys">
                    <td style="width:80%;overflow:hidden;"> {{column.elementLabel}}</td>
                    <td style="width:10%"><!--<button ng-if="selectedChart.type != 'pie' && selectedChart.type != 'donut'" class="btn btn-danger btn-xs" ng-click="deleteChartColumn(selectedChart,column)"><i class="fa fa-trash"></i></button>--></td>
                    <td style="width:10%"><!--<button ng-if="selectedChart.type != 'pie' && selectedChart.type != 'donut'" class="btn btn-info btn-xs" ng-click="changeChartColumnType(selectedChart,column)"><i class="fa fa-bar-chart"></i></button>--></td>
                    <td style="width:10%"><!--<button class="btn btn-default btn-xs" ng-click="changeChartColumnColor(selectedChart,column,'#ff0000')"><i class="fa fa-sun-o"></i></button>--></td>
                </tr>
             </table>
    </v-pane-content>

  </v-pane>

    <grid-properties grid="selectedRepeater" ng-if="selectedElementType == 'repeaterGrid'"></grid-properties>

    <v-pane ng-if="selectedElementType == 'tabsContainer'">
      <v-pane-header>
      Tabs
    </v-pane-header>

    <v-pane-content>
            <table>
                <tr><td><button class="btn btn-success btn-xs" ng-click="addNewTab()">Add new tab</button></td></tr>
                <tr ng-repeat="tab in selectedTabContainer.properties.tabs">
                   <td>
                    <div class="input-group">
								<input type="text" class="form-control no-right-border form-focus-purple" ng-model="tab.label" ng-change="changeTabLabel(tab.id,tab.label)">

								<span class="input-group-btn">
									<!--<button class="btn btn-danger" ng-click="selectedTabContainer.properties.tabs.splice(selectedTabContainer.properties.tabs.indexOf(tab),1)"><i class="fa fa-trash"></i></button>-->
								    <button class="btn btn-danger" ng-click="selectedTabContainer.properties.tabs.splice(selectedTabContainer.properties.tabs.indexOf(tab),1);deleteTab(tab.id)"><i class="fa fa-trash"></i></button>

                                </span>
                    </div>

</td>
<!--
                    <td style="width:80%;overflow:hidden;">{{tab.label}}</td>
                    <td style="width:10%"><button class="btn btn-danger btn-xs" ng-click="selectedTabContainer.properties.tabs.splice(selectedTabContainer.properties.tabs.indexOf(tab),1)"><i class="fa fa-trash"></i></button></td>
           -->     </tr>
             </table>
    </v-pane-content>

  </v-pane>




</v-accordion>
<!-- -->

</div>

