<div>


<!--
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Data Row Color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="alternateDataRowBackgroundColor"></wst-color>
                            </div>
                        </div>
-->



<v-accordion class="vAccordion--default" multiple>
  <v-pane >
    <v-pane-header>
      Grid Header
    </v-pane-header>

    <v-pane-content>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Header Background Color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="headerBackgroundColor" ></wst-color>
                            </div>
                        </div>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Bottom line Color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="properties.headerBottomLineColor" on-change-color="propertyChanged4();"></wst-color>
                            </div>
                        </div>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Header Height</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="objectHeight" ng-model="headerHeight" ng-change="changeHeaderHeight(headerHeight)">
                            </div>
                        </div>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Bottom line Width</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="headerBottomLineWidth" ng-model="headerBottomLineWidth" ng-change="changeHeaderBottomLineWidth(headerBottomLineWidth)">
                            </div>
                        </div>

    </v-pane-content>

  </v-pane>
  <v-pane >
    <v-pane-header>
      Grid Rows
    </v-pane-header>

    <v-pane-content>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Border Color</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <wst-color ng-model="rowBorderColor" ></wst-color>
                            </div>
                        </div>

                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Row Height</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="objectHeight" ng-model="rowHeight" ng-change="changeRowHeight(rowHeight)">
                            </div>
                        </div>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">Bottom line Width</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="rowBottomLineWidth" ng-model="rowBottomLineWidth" ng-change="changeRowBottomLineWidth(rowBottomLineWidth)">
                            </div>
                        </div>
                        <div class="form-group designer_form_group row">
                            <label for="floatEdit" class="col-md-4 col-sm-4 col-xs-4  control-label designer_control_label" style="font-weight: normal;">column line Width</label>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="number" class="form-control" id="columnLineWidth" ng-model="columnLineWidth" ng-change="changeColumnLineWidth(columnLineWidth)">
                            </div>
                        </div>
    </v-pane-content>

  </v-pane>

</v-accordion>

  <v-pane>
      <v-pane-header>
      Grid Columns
    </v-pane-header>

    <v-pane-content>
            <table>

                <tr ng-repeat="column in grid.dataColumns">

                    <td style="width:80%;overflow:hidden;">{{column.elementLabel}}</td>
                    <td style="width:10%"><button class="btn btn-danger btn-xs" ng-click="deleteGridColumn(column)"><i class="fa fa-trash"></i></button></td>
                    <td style="width:10%"><button class="btn btn-info btn-xs" ng-click="changeGridColumnType(column)"><i class="fa fa-bar-chart"></i></button></td>
                </tr>
             </table>
    </v-pane-content>

  </v-pane>

</div>



