<!-- Modal -->
<div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                -->
                <button class="btn btn-primary pull-right" ng-click="selectSearchValue(selectedFilter.searchValue)" >Save</button>
                <button class="btn btn-outline-inverse pull-right" data-dismiss="modal" style="margin-right: 5px;">Cancel</button>

                <h4 class="modal-title" id="myModalLabel">Select Values</h4>
            </div>
            <div id="searchModalBody" class="modal-body" ng-init="setHeight('searchModalBody', 'full', -118)" style="overflow-y: scroll;">
                <ul style="list-style: none;">
                    <li ng-repeat="value in selectedFilter.data">
                        <div ng-if="selectedFilter.filterType != 'in' && selectedFilter.filterType != 'notIn'">

                            <div class="radio">
                                <label>
                                    <input type="radio" name="searchValue" value="{{value[selectedFilter.id]}}" ng-model="selectedFilter.searchValue" ng-click="selectSearchValue(selectedFilter.searchValue)">
                                    {{value[selectedFilter.id]}}
                                </label>
                            </div>
                            <!--
                            <input type="radio" name="searchValue" value="{{value[selectedFilter.elementName]}}" ng-model="selectedFilter.searchValue">{{value[selectedFilter.elementName]}}
                            -->
                        </div>
                        <div ng-if="selectedFilter.filterType == 'in' || selectedFilter.filterType == 'notIn'">
                            <input type="checkbox" name="searchValue[]" value="{{value[selectedfilter.id]}}"
                                   ng-checked="isValueSelected('{{value[selectedFilterid]}}')" ng-click="toggleSelection(value)" style="margin-right: 5px;">{{value[selectedFilter.id]}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
