   <div class="input-group">
								<input type="text" class="form-control colorpicker colorpicker-element" data-format="hex" ng-model="selectedColor" ng-change="changeInput()">

								<div class="input-group-addon" data-selected="fa-car" data-toggle="dropdown" >
									<i class="color-preview" style="background-color: {{selectedColor}};"></i>
								</div>
                                                        <div class="dropdown-menu iconpicker-container"><div class="iconpicker-popover popover fade in inline" style="top: auto; right: auto; bottom: auto; left: auto; max-width: 150px;"><div class="arrow"></div><div class="popover-content"><div class="iconpicker">
                                                        <div class="iconpicker-items">
                                                            <a role="button" ng-click="clearColor()" class="iconpicker-item"> <i class="fa fa-eraser"></i> </a>
                                                            <a role="button" ng-click="changeColor(color)" class="iconpicker-item" ng-repeat="color in colors" style="background-color: {{color}}"></a>
                                                        </div></div></div></div></div>
							</div>



