    <div id="filtersPanel"  class="container-fluid column-zone no-padding" drop="onDropFilter($data, $event, 'filter')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.query.groupFilters.length > 0">Drop here your filters</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.filters" ui-sortable="filterSortableOptions" ng-include="'partials/report_v2/filter.html'">

        </ul>
    </div>

    <div id="orderByPanel" ng-show="selectedReport.reportType != 'indicator' && selectedReport.reportType != 'gauge'" class="container-fluid column-zone no-padding" drop="onDropOrder($data, $event, 'order')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.properties.order.length > 0">Drop here order by elements</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.order" ui-sortable="sortableOptions" ng-model="foo">
            <li class="column-box order-box" ng-repeat="field in selectedReport.properties.order" >
                <i class="fa fa-cube" ng-show="field.elementType != 'number' && field.elementType != 'count'"></i>
                <i class="fa fa-list-ol" ng-show="field.elementType == 'number' || field.elementType == 'count'"></i>
                <span tooltip="Drag to left or right to change order weight in the query (the more at your left, the more weight in the query when ordering results)" tooltip-placement="bottom">{{field.objectLabel}}</span>
                <i ng-show="field.sortType == -1" class="fa fa-chevron-down hand-cursor order-box-close-btn" ng-click="field.sortType = 1;processStructure();" tooltip="Click here to order descendent using this field" tooltip-placement="bottom"></i>
                <i ng-show="field.sortType == 1" class="fa fa-chevron-up hand-cursor order-box-close-btn" ng-click="field.sortType = -1;processStructure();" tooltip="Click here to order ascendent using this field" tooltip-placement="bottom"></i>
                <i class="fa fa-times hand-cursor order-box-close-btn" ng-click="removeOrder(field);detectLayerJoins();processStructure();" tooltip="Click here to remove this field from the query" tooltip-placement="bottom"></i>
            </li>
        </ul>
    </div>

    <div ng-if="selectedReport.reportType == 'grid' || selectedReport.reportType == 'vertical-grid'" id="columnsPanel"  class="container-fluid column-zone no-padding" drop="onDrop($data, $event, 'column')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.properties.columns.length > 0">Drop here your columns</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.columns" ui-sortable="sortableOptions">
            <li class="column-box" ng-repeat="column in selectedReport.properties.columns">

                <div class="dropdown">
                    <i class="fa fa-cube" ng-show="column.elementType != 'number' && column.elementType != 'count'"></i>
                    <i class="fa fa-list-ol" ng-show="column.elementType == 'number' || column.elementType == 'count'"></i>
                    <span tooltip="Drag to left or right to change column order in the results" tooltip-placement="bottom">{{column.objectLabel}}</span>

                    <div class="btn-group" dropdown="">
                                 <i class="fa-caret-down  hand-cursor  column-box-agg-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <ul ng-if="column.elementType == 'number'" class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                            <li ng-repeat="variable in fieldsAggregations.number">
                                                <a ng-click="aggregationChoosed(column,variable)">{{variable.name}}</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a ng-if="!column.hidden" ng-click="hideColumn(column,true);">Hide Column</a>
                                                <a ng-if="column.hidden" ng-click="hideColumn(column,false);">Show Column</a>
                                            </li>
                                        </ul>
                                    <ul ng-if="column.elementType == 'string'" class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                                            <li ng-repeat="variable in fieldsAggregations.string">
                                                <a ng-click="aggregationChoosed(column,variable)">{{variable.name}}</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a ng-if="!column.hidden" ng-click="hideColumn(column,true);">Hide Column</a>
                                                <a ng-if="column.hidden" ng-click="hideColumn(column,false);">Show Column</a>
                                            </li>
                                        </ul>
                    </div>
                    <!--
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" >
                        <li ng-repeat="variable in stringVariables">
                            <a ng-click="column.variable = variable.value;column.variableLabel = variable.label;processStructure();">{{variable.label}}</a>
                        </li>
                    </ul>

                    <button class="btn " ng-class="{'btn-info': column.link, 'btn-dark': !column.link}" ng-click="setLinkForColumn(column)"><i class="fa fa-link"></i></button>
                    -->
                    <i class="fa fa-times hand-cursor  column-box-close-btn" ng-click="remove(column,'column');processStructure();" tooltip="Click here to remove this column from the results" tooltip-placement="bottom"></i>
                </div>
            </li>
        </ul>
    </div>

<!--dimensions for charts -->

    <div ng-if="selectedReport.reportType == 'chart-bar' || selectedReport.reportType == 'chart-area' || selectedReport.reportType == 'chart-line' || selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'" class="container-fluid column-zone no-padding" drop="onDropOnDims($data, $event, 'column')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.properties.xkeys.length > 0">Drop here the dimension field</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.xkeys" ui-sortable="sortableOptions">
            <li class="column-box" ng-repeat="xkey in selectedReport.properties.xkeys">
                <div class="dropdown">
                    <i class="fa fa-cube" ng-show="xkey.elementType != 'number' && xkey.elementType != 'count'"></i>
                    <i class="fa fa-list-ol" ng-show="xkey.elementType == 'number' || xkey.elementType == 'count'"></i>
                    {{xkey.objectLabel}}
                    <i class="fa fa-times hand-cursor  column-box-close-btn" ng-click="remove(xkey,'xkey');processStructure();" tooltip="Click here to remove this dimension from the results" tooltip-placement="bottom"></i>
                </div>

            </li>
        </ul>
    </div>

    <!--metrics for charts -->
    <div ng-if="selectedReport.reportType == 'chart-bar' || selectedReport.reportType == 'chart-area' || selectedReport.reportType == 'chart-line' || selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie' || selectedReport.reportType == 'indicator' || selectedReport.reportType == 'gauge'" class="container-fluid column-zone no-padding" drop="onDropOnMetrics($data, $event, 'column')" drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.properties.ykeys.length > 0">Drop here your metrics</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.ykeys" ui-sortable="sortableOptions">
            <li class="column-box" ng-repeat="ykey in selectedReport.properties.ykeys">
                <div class="dropdown">
                    <i class="fa fa-cube" ng-show="ykey.elementType != 'number' && ykey.elementType != 'count'"></i>
                    <i class="fa fa-list-ol" ng-show="ykey.elementType == 'number' || ykey.elementType == 'count'"></i>
                    {{ykey.objectLabel}}

                    <div class="btn-group" dropdown="">
                                 <i class="fa-caret-down  hand-cursor  column-box-agg-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <ul ng-if="ykey.elementType == 'number'" class="dropdown-menu" aria-labelledby="dropdownMenu5" >
                                            <li ng-repeat="variable in fieldsAggregations.number">
                                                <a ng-click="aggregationChoosed(ykey,variable)">{{variable.name}}</a>
                                            </li>
                                        <li class="divider"></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'spline')"><img  src="images/spline.png"/> spline</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'bar')"><i class="fa fa-bar-chart"></i> Bar</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'area')"><i class="fa fa-area-chart"></i> Area</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'line')"><i class="fa fa-line-chart"></i> Line</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'area-spline')"><img  src="images/area-spline.png"/> Area spline</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-line'"><a ng-click="changeChartColumnType(ykey,'scatter')"><img  src="images/scatter.png"/> Scatter</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'"><a ng-click="changeChartSectorType('pie')"><img  src="images/pie.png"/> Pie</a></li>
                                        <li ng-if="selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'"><a ng-click="changeChartSectorType('donut')"><img  src="images/donut.png"/> Donut</a></li>
                                         <li class="divider"></li>
                                        <!--color-->

                                    </ul>
                    </div>
                    <!--
                    <a ng-if="selectedReport.reportType == 'chart-line'" class="btn chart-series-button" ng-click="changeChartColumnType(ykey)" tooltip="Click here to change the type of visualization for this metric" tooltip-placement="bottom">
                        <img ng-if="ykey.type == 'line' || ykey.type == undefined" src="images/spline.png"/>
                        <i ng-if="ykey.type == 'spline'" class="fa fa-bar-chart"></i>
                        <i ng-if="ykey.type == 'bar'" class="fa fa-area-chart"></i>
                        <i ng-if="ykey.type == 'scatter'" class="fa fa-line-chart"></i>
                        <img ng-if="ykey.type == 'area'" src="images/area-spline.png"/>
                        <img ng-if="ykey.type == 'area-spline'" src="images/scatter.png"/>
                    </a>

                    <a ng-if="selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'" class="btn chart-series-button" ng-click="changeChartSectorType()" tooltip="Click here to change the type of visualization for this metric" tooltip-placement="bottom">
                        <img ng-if="selectedReport.reportType == 'chart-donut'" src="images/pie.png"/>
                        <img ng-if="selectedReport.reportType == 'chart-pie'" src="images/donut.png"/>
                    </a>-->
                    <i class="fa fa-times hand-cursor  column-box-close-btn" ng-click="remove(ykey,'ykey');processStructure();" tooltip="Click here to remove this metric from the results" tooltip-placement="bottom" style="padding: 6px;margin-left: 2px;"></i>
                </div>



            </li>
        </ul>
        <div class="dropAlert" ng-show="onlyNumericValuesAlert == true"> <i class="fa fa-exclamation-triangle"></i> Only numeric values are allowed here !</div>
    </div>

    <!-- INDICATOR -->
