    <!-- Metrics for charts and pivot tables -->

    <div ng-if="selectedReport.reportType == 'pivot'"
    wst-dropzone="true" list-model="selectedReport.properties.ykeys"
    aggregation-mandatory="true" zone="'ykeys'"
    query-bind="'column'" zone-info="'Drop here your metrics'"></div>

    <div ng-if="selectedReport.reportType == 'chart-bar' || selectedReport.reportType == 'chart-area' || selectedReport.reportType == 'indicator' || selectedReport.reportType == 'gauge'"
    wst-dropzone="true" list-model="selectedReport.properties.ykeys" zone="'ykeys'"
    query-bind="'column'" zone-info="'Drop here your metrics'"></div>

    <div ng-if="selectedReport.reportType == 'chart-line'"
    wst-dropzone="true" list-model="selectedReport.properties.ykeys" zone="'ykeys'"
    display-options="chartColumnTypeOptions"
    display-callback="changeChartColumnType"
    query-bind="'column'" zone-info="'Drop here your metrics'"></div>

    <div ng-if="selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'"
    wst-dropzone="true" list-model="selectedReport.properties.ykeys" zone="'ykeys'"
    display-options="chartSectorTypeOptions"
    display-callback = "changeChartSectorType"
    query-bind="'column'" zone-info="'Drop here your metrics'"></div>

    <!-- Column entries -->

    <div ng-if="selectedReport.reportType == 'grid' || selectedReport.reportType == 'vertical-grid'"
    wst-dropzone="true" list-model="selectedReport.properties.columns" hide-column="hideColumn" zone="'columns'"
    query-bind="'column'" zone-info="'Drop here your columns'"></div>

    <!--dimensions for pivot tables -->

    <div ng-if="selectedReport.reportType == 'pivot'" wst-dropzone="true" list-model="selectedReport.properties.pivotKeys.columns"
    forbid-aggregation="true"
    query-bind="'column'" zone-info="'Drop here the table columns'"  zone="'pcol'"></div>

    <div ng-if="selectedReport.reportType == 'pivot'" wst-dropzone="true" list-model="selectedReport.properties.pivotKeys.rows"
    forbid-aggregation="true"
    query-bind="'column'" zone-info="'Drop here the table rows'"  zone="'prow'"></div>

    <!--dimensions for charts -->

    <div ng-if="selectedReport.reportType == 'chart-area' || selectedReport.reportType == 'chart-line' || selectedReport.reportType == 'chart-donut' || selectedReport.reportType == 'chart-pie'"
    wst-dropzone="true" list-model="selectedReport.properties.xkeys" zone="'xkeys'"
    query-bind="'column'" zone-info="'Drop here the dimension field'"></div>

    <!-- Filters -->

    <div id="filtersPanel"  class="container-fluid column-zone no-padding" drop="onDropOnFilter($data, $event, 'filter')"
    drop-effect="copy" drop-accept="['json/custom-object','json/column']" drag-over="onDragOver($event)" drag-over-class="drag-over-accept">
        <div class="filter-zone-label pull-right" ng-hide="selectedReport.query.groupFilters.length > 0 || selectedReport.query.recordLimit != undefined">Drop here your filters</div>
        <ul class="ul-drop no-padding" ng-model="selectedReport.properties.filters" ui-sortable="filterSortableOptions" ng-include="'partials/report_v2/filter.html'"></ul>
    </div>

    <!-- Order keys -->

    <div ng-if="selectedReport.reportType != 'pivot' && selectedReport.reportType != 'indicator' && selectedReport.reportType != 'gauge'"
    wst-dropzone="true" list-model="selectedReport.properties.order" set-sort-type="setSortType" zone="'order'"
    query-bind="'order'" zone-info="'Drop here your order keys'"></div>
