    <li class="filter-box" ng-class="{'incomplete-filter': !isfilterComplete(filter)}" style="margin-left: 90px;"
                        drop="onDropOnFilter($data, $event, filter)" drop-effect="copy" drop-accept="'json/custom-object'" ng-repeat="filter in selectedReport.query.groupFilters" >
<span class="pull-right" style="padding: 7px 0;"><i class="fa fa-times hand-cursor" ng-click="removeFilter(filter);filtersUpdated();detectLayerJoins();processStructure();"></i></span>



                        <div class="container-fluid form-inline">
                            <!--runtime filter-->
                            <div class="col-md-1">

                                    <button class="btn popover-primary ng-scope" ng-class="{'btn-black': filter.filterPrompt == true, 'btn-white': filter.filterPrompt == false}" ng-click="filterPromptsClick(filter)" popover-trigger="mouseenter" popover-placement="bottom" popover-title="Runtime Filter" popover="{{getButtonFilterPromptMessage(filter)}}">
                                        <i class="fa fa-filter"></i><i class="fa fa-question"></i>
                                    </button>

                            </div>
                            <div class="col-md-11">
                                <nd-prompt element-id="filter.elementID" label="filter.objectLabel" value-field="filter.name" show-field="filter.name" prompts="prompts" after-get-values="afterFilterGetValues" is-prompt="false" filter="filter" on-change="filterChanged" ng-model="lastFilterSelectedValue"></nd-prompt>
                            </div>

                        </div>


</li>
