

<nd-modal id="theReportNameModal">
    <div class="modal-body">
        <form class="simple-form" role="form" name="reportNameForm">
            <div class="form-group">
                <label>Report Name</label>
                <input name="reportName" type="text" class="form-control" ng-model="selectedReport.reportName" ng-required="true" required >
                <span ng-show="reportNameForm.reportName.$invalid" class="help-inline">The report name is required</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="reportNameSave()" ng-disabled="reportNameForm.$invalid" class="btn btn-primary submit-btn pull-right">Save</button>
        <button type="button" class="btn pull-right" data-dismiss="modal">Cancel</button>
    </div>
</nd-modal>
