


<div ng-include src="filterPromptModal"></div>

<div class="container-fluid" style="width:100%" ng-include src="dropArea" >



</div>


<!--choose a widget to see your data-->
<div id="reportType" class="container-fluid" ng-hide="queryID" style="width:100%">
    <!-- TYPE OF REPORT SELECTION -->
    <a id="reportTypeGrid" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'grid', 'report-unselected-btn': selectedReport.reportType != 'grid'}" ng-click="changeReportType('grid')"><img src="/images/grid.png"></a>
    <a id="reportTypeVerticalGrid" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'vertical-grid', 'report-unselected-btn': selectedReport.reportType != 'vertical-grid'}" ng-click="changeReportType('vertical-grid')"><img src="/images/vertical_grid.png"></a>
    <a id="reportTypeChartLine" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'chart-line', 'report-unselected-btn': selectedReport.reportType != 'chart-line'}" ng-click="changeReportType('chart-line')"><img src="/images/chart_line.png"></a>
    <a id="reportTypeChartDonut" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'chart-donut', 'report-unselected-btn': selectedReport.reportType != 'chart-donut'}" ng-click="changeReportType('chart-donut')"><img src="/images/chart_donut.png"></a>
    <a id="reportTypeIndicator" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'indicator', 'report-unselected-btn': selectedReport.reportType != 'indicator'}" ng-click="changeReportType('indicator')"><img src="/images/indicator.png"></a>
    <a id="reportTypeGauge" class="btn report-type-button" ng-class="{'report-selected-btn': selectedReport.reportType == 'gauge', 'report-unselected-btn': selectedReport.reportType != 'gauge'}" ng-click="changeReportType('gauge')"><img src="/images/gauge.png"></a>
</div>


<div ng-if="selectedReport.properties.columns.length > 0 || (selectedReport.properties.ykeys.length > 0 && selectedReport.properties.xkeys.length > 0)" class="container-fluid branded-border-panel" style="width:100%">
    <button  id="queryRefresh" class="btn btn-success" ng-show="selectedReport.properties.columns.length > 0 || (selectedReport.properties.ykeys.length > 0 && selectedReport.properties.xkeys.length > 0)" class="pull-right" ng-click="processStructure();"  style="padding: 3px 10px;"><i class="fa fa-refresh hand-cursor" ></i> Refresh data</button>
    <button  id="viewSQL" class="btn btn-default" ng-show="user.viewSQL && sql" class="pull-right" ng-click="getSQLPanel();"  style="padding: 3px 10px;">View SQL</button>

    <h4 class="pull-right" >Query results</h4>
</div>

<div class="container-fluid" ng-show="sql && mode =='add' && !isForDash" style="width:100%">
    <button class="btn btn-success pull-right" ng-if="user.reportsCreate" ng-click="reportName()" style="margin-left:5px;">Save as a report</button>
    <button class="btn btn-success pull-right" ng-if="user.dashboardsCreate" ng-click="pushToDash()" style="margin-left:5px;">Push it to a Dashboard</button>
</div>
<div class="container-fluid" ng-show="sql && isForDash" style="width:100%">
    <button class="btn btn-success pull-right"  style="margin-left:5px;" data-ng-click="saveReportStructure(); saveReport4Dashboard(mode); initReport();">Push it to the Dashboard</button>
</div>


<div ng-show="showSQL" class="panel panel-default" style="z-index:100">
    <div class="panel-heading">
        <h3 class="panel-title">SQL query</h3>

        <div class="panel-options">
            <a ng-click="getSQLPanel();" data-toggle="remove" style="cursor: pointer;">x</a>
        </div>
    </div>

    <div class="panel-body">
        <p>{{sql}}</p>
        <p>Execution time: {{time}}ms</p>
    </div>
</div>


<div class="container-fluid" ng-if="gettingData == true">
    <h3><img src="/images/loader.gif" width="32px" height="32px"/>getting data ....</h3>
</div>




<div ng-include src="promptsBlock" class=" prompts-block"></div>

<div id="reportLayout"  style="min-height:200px;position:relative;width:100%;height:100%" bs-loading-overlay bs-loading-overlay-reference-id="OVERLAY_reportLayout">
    <div ng-if="wrongFilters.length > 0 && columns.length > 0" class="alert alert-danger" role="alert"><i class="fa fa-warning fa-2" style="margin-right:10px;"></i>  <strong>Warning:</strong>     There are incomplete filters!!</div>

    <div  style="min-height:100px">

    </div>

</div>



<div ng-include src="dateModal"></div>
<div ng-include src="dateFromToModal"></div>
<div ng-include src="linkModal"></div>
<div ng-include src="columnFormatModal"></div>
<div ng-include src="columnSignalsModal"></div>
<div ng-include src="reportNameModal"></div>
<div ng-include src="dashListModal"></div>
